Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

Add ModernBERT configuration and tokenizer
  paddlenlp/transformers/modernbert/configuration.py
  paddlenlp/transformers/modernbert/tokenizer.py
Due: copyright_checker

feat: Add ModernBERT implementation (#20250402)
  paddlenlp/transformers/modernbert/modeling.py
Due: copyright_checker

feat: Add ModernBERT configuration, tokenizer and init files
  paddlenlp/transformers/modernbert/__init__.py
  paddlenlp/transformers/modernbert/configuration.py
  paddlenlp/transformers/modernbert/tokenizer.py
Due: copyright_checker

test: Add unit tests for ModernBERT
  tests/transformers/modernbert/__init__.py
  tests/transformers/modernbert/test_modeling.py
  tests/transformers/modernbert/test_tokenizer.py
Due: copyright_checker

Add Gemma2 implementation
  paddlenlp/transformers/gemma2/__init__.py
  paddlenlp/transformers/gemma2/configuration.py
  paddlenlp/transformers/gemma2/modeling.py
  paddlenlp/transformers/gemma2/tokenizer.py
  tests/transformers/gemma2/__init__.py
  tests/transformers/gemma2/test_modeling.py
  tests/transformers/gemma2/test_tokenizer.py
Due: copyright_checker

feat: Add Phi3 model implementation
  paddlenlp/transformers/phi3/__init__.py
  paddlenlp/transformers/phi3/configuration.py
  paddlenlp/transformers/phi3/modeling.py
  paddlenlp/transformers/phi3/tokenizer.py
  tests/transformers/phi3/__init__.py
  tests/transformers/phi3/test_modeling.py
  tests/transformers/phi3/test_tokenizer.py
Due: copyright_checker

Delete paddlenlp/transformers/modernbert directory
  paddlenlp/transformers/modernbert/__init__.py
  paddlenlp/transformers/modernbert/configuration.py
  paddlenlp/transformers/modernbert/tokenizer.py
Due: copyright_checker

Support sm90 for wint4
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_cutlass_kernel.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
Due: copyright_checker

patch possible dequant overflow
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_act_dequant.cu
Due: copyright_checker

improve qwen perf
  paddlenlp/transformers/qwen/modeling_auto.py
Due: copyright_checker

keep layers which are not in curr rank
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/transformers/llama/modeling_auto_pp.py
Due: copyright_checker

add tensor_fusion
  tests/test_tipc/static/auto_parallel/llama2/N4C32/meta-llama-Llama-2-13b_pretrain_dynamic_auto_bs32_bf16_DP1_MP1_PP4_VPP5_Sharding8_Stage2.sh
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b_dynamic_auto.json
Due: copyright_checker

close fuse linear
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b_dynamic_auto.json
Due: none

enable fuse_linear
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b_dynamic_auto.json
Due: none

Add llama-13b dynamic auto benchmark
  tests/test_tipc/static/auto_parallel/llama2/N4C32/meta-llama-Llama-2-13b_pretrain_dynamic_auto_bs32_bf16_DP1_MP1_PP4_VPP5_Sharding8_Stage2.sh
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b_dynamic_auto.json
Due: copyright_checker

fix
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b_dynamic_auto.json
Due: none

restore FThenB pp
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b_dynamic_auto.json
Due: none

fix pipeline model is `FThenB`
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b_dynamic_auto.json
Due: none

control stack use to prevent overflow
  slm/model_zoo/gpt-3/external_ops/setup_fp8.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_stable_unzip.cu
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
Due: copyright_checker

fix
  slm/model_zoo/gpt-3/external_ops/setup_fp8.py
Due: copyright_checker

Disable fast math for fused precision isssue.
  slm/model_zoo/gpt-3/external_ops/setup_fp8.py
Due: copyright_checker

Disable TDU fm.
  slm/model_zoo/gpt-3/external_ops/setup_fp8.py
Due: copyright_checker

add register for auto model
  paddlenlp/transformers/auto/configuration.py
  paddlenlp/transformers/auto/factory.py
  paddlenlp/transformers/auto/modeling.py
  paddlenlp/transformers/model_utils.py
  tests/transformers/auto/test_modeling.py
  tests/utils/test_module/custom_configuration.py
  tests/utils/test_module/custom_model.py
Due: copyright_checker

lint
  paddlenlp/transformers/auto/modeling.py
Due: copyright_checker

reformat
  paddlenlp/transformers/auto/modeling.py
  tests/transformers/auto/test_modeling.py
  tests/utils/test_module/custom_configuration.py
  tests/utils/test_module/custom_model.py
Due: copyright_checker

[Template] apply chat template support openai format.
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

update moe_preprocess for wint2.x
  csrc/gpu/moe/preprocess_for_moe.cu
Due: copyright_checker

fix conflict
  llm/run_finetune.py
  paddlenlp/quantization/hadamard_utils.py
  paddlenlp/quantization/qat_utils.py
  paddlenlp/quantization/quantization_config.py
  paddlenlp/quantization/quantization_linear.py
  paddlenlp/quantization/quantization_utils.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/trainer/training_args.py
  paddlenlp/trainer/unified_checkpoint/load_local.py
  paddlenlp/trainer/unified_checkpoint/shared_memory_utils.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/transformers/conversion_utils.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/trl/model_config.py
  paddlenlp/utils/adamw_triton.py
  paddlenlp/utils/distributed.py
  paddlenlp/utils/optimizer.py
Due: copyright_checker

[bug] fix a import bug in auto_trainer && [demo] data redistributed, fine_grained demo
  llm/auto_parallel/dtensor-learning/fine_grained.py
  llm/auto_parallel/dtensor-learning/scripts/fine_grained.sh
  llm/auto_parallel/galvatron-llama/scripts/train_dist_random.sh
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

feat: Initial structure for Apollo optimizer implementation
  docs/zh/advanced_guide/optimization/apollo.md
  paddlenlp/utils/__init__.py
  paddlenlp/utils/apollo_optimizer.py
Due: copyright_checker, add-spaces-between-chinese-and-english

feat: Initial structure for Block Adam-mini optimizer implementation
  docs/zh/advanced_guide/optimization/block_adam_mini.md
  paddlenlp/utils/__init__.py
  paddlenlp/utils/block_adam_mini.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix requirements
  scripts/regression/run_ci.sh
Due: copyright_checker

fused_indices
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_indices.cu
Due: copyright_checker

update mergekit with remove_keys input
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker
