Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

update
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update
  scripts/distribute/ci_case_auto.sh
  scripts/distribute/ci_case_dy.sh
Due: copyright_checker

add trainer_state
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_callback.py
Due: copyright_checker

new implement
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix autotrainer bug
  paddlenlp/trainer/trainer.py
Due: copyright_checker

cherrypick mergekit
  paddlenlp/__init__.py
  paddlenlp/mergekit/__init__.py
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_method.py
  paddlenlp/mergekit/merge_model.py
  paddlenlp/mergekit/merge_utils.py
  paddlenlp/mergekit/sparsify_method.py
  paddlenlp/utils/env.py
Due: copyright_checker

add news
  README.md
Due: add-spaces-between-chinese-and-english

Update unified_checkpoint.md
  llm/docs/unified_checkpoint.md
Due: add-spaces-between-chinese-and-english

fix
  slm/examples/machine_reading_comprehension/SQuAD/run_squad.py
  slm/model_zoo/ernie-3.0/README.md
  slm/model_zoo/ernie-3.0/run_qa.py
  slm/model_zoo/ernie-3.0/run_token_cls.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update
  scripts/distribute/ci_case_auto.sh
  scripts/distribute/ci_case_dy.sh
  scripts/distribute/run_ci.sh
Due: copyright_checker

fix loraga
  paddlenlp/peft/lora/lora_model.py
  paddlenlp/peft/lora/loraga_utils.py
  paddlenlp/trainer/trainer.py
Due: copyright_checker

update remove_master_weight
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix tokenizer of llama3 and add test case
  paddlenlp/transformers/llama/tokenizer.py
  tests/transformers/llama/test_tokenizer.py
Due: copyright_checker

[Trainer] update remove_master_weight
  paddlenlp/trainer/trainer.py
Due: copyright_checker

add
  README.md
Due: add-spaces-between-chinese-and-english

update
  README.md
Due: add-spaces-between-chinese-and-english

update follow comments
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_model.py
  tests/mergekit/test_merge_config.py
  tests/mergekit/test_merge_model.py
Due: copyright_checker

update follow comments
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

fix qwen2 d2s part1
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

fix paddle.where
  paddlenlp/transformers/llama/modeling.py
Due: copyright_checker

fix
  scripts/distribute/ci_case_auto.sh
  scripts/distribute/ci_case_dy.sh
Due: copyright_checker

Fix paddle.where
  paddlenlp/transformers/llama/modeling.py
Due: copyright_checker

change variable name
  paddlenlp/peft/lora/lora_model.py
  paddlenlp/peft/lora/loraga_utils.py
Due: copyright_checker

support unified checkpoint
  paddlenlp/peft/lora/lora_config.py
  paddlenlp/peft/lora/lora_model.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/unified_checkpoint/load_save_single_card.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/utils.py
Due: copyright_checker

新增对应的文档
  docs/trainer.md
  llm/docs/finetune.md
  paddlenlp/trainer/training_args.py
Due: copyright_checker, add-spaces-between-chinese-and-english

新增对应的文档
  paddlenlp/transformers/qwen/modeling.py
Due: copyright_checker

fix
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/llama/modeling_pp.py
  paddlenlp/transformers/qwen/modeling.py
  paddlenlp/transformers/qwen/modeling_pp.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/qwen2/modeling_pp.py
Due: copyright_checker

update
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/llama/modeling_pp.py
  paddlenlp/transformers/qwen/modeling.py
  paddlenlp/transformers/qwen/modeling_pp.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/qwen2/modeling_pp.py
Due: copyright_checker

update
  paddlenlp/transformers/refined_recompute.py
Due: copyright_checker

fix docs
  llm/README.md
  llm/docs/finetune.md
  llm/predict/reft_predictor.py
  paddlenlp/trl/trl_data.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix docs
  tests/llm/test_reft.py
Due: copyright_checker

fix docs
  paddlenlp/trl/trl_data.py
Due: copyright_checker

fix docs
  llm/docs/finetune.md
Due: add-spaces-between-chinese-and-english

merge docs1218
  README.md
  docs/llm/docs/merge_model.md
  llm/README.md
  llm/docs/merge_model.md
Due: add-spaces-between-chinese-and-english

docs
  README.md
  llm/README.md
  llm/docs/merge_model.md
Due: add-spaces-between-chinese-and-english

fix soft link
  docs/llm/docs/merge_model.md
Due: add-spaces-between-chinese-and-english
