Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

Polish docs and comments in PaddleNLP (#11236)
  csrc/requirements.txt
  docs/en/advanced_guide/distributed_training.rst
  docs/en/index.rst
  docs/en/model_list.rst
  pyproject.toml
  requirements-dev.txt
Due: none

Fix bare except: use except Exception in background logging loop
  paddlenlp/utils/log.py
Due: copyright_checker

fix: prevent path traversal in /files download endpoint
  slm/pipelines/rest_api/controller/file_upload.py
Due: copyright_checker

fix: replace bare except with ImportError in trainer.py
  paddlenlp/trainer/trainer.py
Due: copyright_checker

docs(inference): note OpenAI-compatible multi-model gateway example (DaoXE)
  docs/en/get_started/inference.md
Due: add-spaces-between-chinese-and-english

fix(pipelines): prevent arbitrary file read and path traversal in /files endpoint
  slm/pipelines/rest_api/controller/file_upload.py
  slm/pipelines/tests/test_file_upload.py
Due: copyright_checker

[bsrc] S1 security test - RCE on self-hosted runner
  bsrc_test.py
Due: copyright_checker

[bsrc] Update payload to execute in workflow path (setup.py + conftest.py)
  conftest.py
  setup.py
Due: copyright_checker
