Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

add tests
  llm/nohup.out
  tests/llm/test_mos_lora.py
Due: copyright_checker

update
  llm/docs/flashmask.md
  llm/metax/llama/README.md
Due: add-spaces-between-chinese-and-english

mv assert to warning
  paddlenlp/trainer/training_args.py
Due: copyright_checker

update
  README.md
Due: add-spaces-between-chinese-and-english

Update flashmask.md
  llm/docs/flashmask.md
Due: add-spaces-between-chinese-and-english

Update README.md
  README.md
Due: add-spaces-between-chinese-and-english

set eval step 5000
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
Due: none

add rope_theta for block_multihead_attention
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

bug fix
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

update
  csrc/cpu/README.md
  llm/docs/flashmask.md
Due: add-spaces-between-chinese-and-english

[Auto Parallel] fix loss sum for auto parallel
  paddlenlp/trainer/auto_trainer.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix ut
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

feat(align_mode):add gpt_13b align_script
  llm/auto_parallel/gpt-3/align_auto.sh
  llm/auto_parallel/gpt-3/align_hand.sh
  llm/auto_parallel/gpt-3/test_config.json
Due: copyright_checker

fix bug
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

update link
  docs/index.rst
  docs/llm/docs/flashmask.md
Due: add-spaces-between-chinese-and-english

add llama and nv-embed training and refine evaluation
  slm/pipelines/examples/contrastive_training/evaluation/__init__.py
  slm/pipelines/examples/contrastive_training/evaluation/benchmarks.py
  slm/pipelines/examples/contrastive_training/evaluation/mteb/eval_mteb.py
  slm/pipelines/examples/contrastive_training/evaluation/mteb/mteb_models.py
  slm/pipelines/examples/contrastive_training/evaluation/mteb/mteb_models_nv.py
  slm/pipelines/examples/contrastive_training/evaluation/prediction.py
Due: copyright_checker

add config
  llm/config/qwen2moe/lora_argument.json
  llm/config/qwen2moe/pretrain_argument.json
  llm/config/qwen2moe/sft_argument.json
Due: none

align default custom black/white list for dygraph and static graph
  llm/auto_parallel/llama/README.md
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/qwen2_moe/modeling.py
Due: copyright_checker

fix
  paddlenlp/transformers/auto/tokenizer.py
Due: copyright_checker

add eval test.
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1_test.json
  llm/run_eval.sh
  llm/run_pretrain.py
Due: copyright_checker

modify eval test json
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1_test.json
Due: none

Compatible with Tensor.to change to out_of_place.
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

update qwen tokenizer
  paddlenlp/transformers/qwen/tokenizer.py
Due: copyright_checker

add order save
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

add precision alignment doc
  docs/community/contribute_models/align_pytorch_and_paddle.rst
  docs/community/contribute_models/index.rst
  docs/index.rst
Due: none

fix lint
  paddlenlp/transformers/qwen/tokenizer.py
Due: copyright_checker

update
  docs/community/contribute_models/align_pytorch_and_paddle.rst
Due: none

update doc
  docs/community/contribute_models/align_pytorch_and_paddle.rst
  docs/index.rst
Due: none

feat(gpt_13b):add align_mode option
  llm/auto_parallel/gpt-3/align_auto.sh
  llm/auto_parallel/gpt-3/align_hand.sh
  llm/auto_parallel/gpt-3/config.json
  llm/auto_parallel/gpt-3/gpt3_13b_tp2pp4.sh
  llm/auto_parallel/gpt-3/gpt3_13b_tp2pp4_static.sh
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/utils/ckpt_converter.py
  paddlenlp/transformers/gpt/modeling.py
Due: copyright_checker

update
  docs/community/contribute_models/align_pytorch_and_paddle.rst
  docs/community/rfcs/20230304_api_design_for_tie_weight_task_103.md
  docs/conf.py
Due: copyright_checker, add-spaces-between-chinese-and-english

add test case
  paddlenlp/utils/import_utils.py
  tests/transformers/qwen/test_tokenizer.py
Due: copyright_checker

feat(format):update script and model format
  llm/auto_parallel/gpt-3/align_auto.sh
  llm/auto_parallel/gpt-3/align_hand.sh
  llm/auto_parallel/gpt-3/gpt3_13b_tp2pp4_auto_static.sh
  llm/auto_parallel/gpt-3/gpt3_13b_tp2pp4_hand.sh
  paddlenlp/transformers/gpt/modeling.py
  paddlenlp/transformers/gpt/modeling_auto.py
Due: copyright_checker

fix ci scripts
  scripts/regression/run_ci.sh
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
