Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

Add ci for sp_async_reduce_scatter_in_dygraph_auto_mode
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Update alignment_tutorial.md
  llm/docs/alignment_tutorial.md
Due: add-spaces-between-chinese-and-english

Add optimization to N4C32
  tests/test_tipc/static/auto_parallel/baichuan2/N4C32/baichuan-inc-baichuan-2-13b_pretrain_dynamic_auto_bs32_bf16_DP1_MP4_PP1_Sharding8_Stage1.sh
  tests/test_tipc/static/auto_parallel/baichuan2/pretrain_config_baichuan2_13b/pretrain-baichuan2_13b_dynamic_auto.json
Due: copyright_checker

[Docs] Add quant tutorial
  docs/zh/llm/docs/quantization_tutorial.md
  llm/docs/quantization_tutorial.md
Due: add-spaces-between-chinese-and-english

[Docs] add index
  docs/zh/index.rst
Due: none

Update index.rst
  docs/zh/index.rst
Due: none

[Docs] update llm tutorial index
  docs/zh/index.rst
Due: none

[Docs] del tables in quantization_tutorial.md
  llm/docs/quantization_tutorial.md
Due: add-spaces-between-chinese-and-english

support dp
  paddlenlp/quantization/qat_utils.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/unified_checkpoint/sharding_split_param_utils.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/transformers/conversion_utils.py
  paddlenlp/transformers/utils.py
  paddlenlp/utils/adamw_triton.py
  paddlenlp/utils/optimizer.py
Due: copyright_checker

add log
  docs/zh/llm/devices/intel_hpu/tests/README.md
  docs/zh/llm/docs/pretrain.md
  llm/alignment/rl/README.md
  llm/config/qwen/grpo_32b_argument.yaml
  llm/config/qwen/grpo_argument.yaml
  paddlenlp/rl/trainer/ppo_trainer.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update distribute
  .github/workflows/distribute.yml
Due: none

skip case for hang
  tests/transformers/jamba/test_modeling.py
  tests/utils/test_import_utils.py
Due: copyright_checker

update distribute runs-on
  .github/workflows/distribute.yml
Due: none

add INFERENCE_TRUNCATED_RETURN_EOS
  paddlenlp/rl/utils/infer_utils.py
Due: copyright_checker

add env var
  llm/predict/predictor.py
Due: copyright_checker

support uc
  paddlenlp/trainer/unified_checkpoint/load_local.py
  paddlenlp/trainer/unified_checkpoint/sharding_split_param_utils.py
  paddlenlp/trainer/unified_checkpoint/shared_memory_utils.py
  paddlenlp/utils/optimizer.py
Due: copyright_checker

add fastdeploy engine support for api serve
  llm/benchmark/rl/README.md
  llm/benchmark/rl/api_serve.py
  llm/benchmark/rl/scripts/api_serve.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

support dp all_reduce
  paddlenlp/quantization/quantization_linear.py
Due: copyright_checker

Add fused_transpose_quant op
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_transpose_quant.cu
  slm/model_zoo/gpt-3/external_ops/setup_fp8.py
  tests/ops/test_fused_transpose_quant.py
Due: copyright_checker

fix quantiztaion config
  llm/run_finetune.py
  paddlenlp/quantization/quantization_config.py
Due: copyright_checker

[UC] fix _load_state_dict_into_model
  paddlenlp/trainer/unified_checkpoint/load_dynamic.py
Due: copyright_checker

fix quantiztaion config
  paddlenlp/quantization/quantization_config.py
Due: copyright_checker

update moe config
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
Due: copyright_checker

fix codestyle
  tests/transformers/jamba/test_modeling.py
  tests/utils/test_import_utils.py
Due: copyright_checker

Update pretrain-llama2_7b_dynamic_auto.json
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_7b/pretrain-llama2_7b_dynamic_auto.json
Due: none

llama_with_auto_pp
  llm/auto_parallel/llama/run_llama2.sh
  llm/auto_parallel/llama/run_pretrain_auto.py
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/transformers/llama/__init__.py
  paddlenlp/transformers/llama/modeling_auto_pp.py
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b.json
Due: copyright_checker

support change n_microbatches in json
  llm/auto_parallel/llama/run_pretrain_auto.py
  paddlenlp/trainer/auto_trainer.py
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/pretrain-llama2_13b.json
Due: copyright_checker

fix init model
  paddlenlp/transformers/llama/modeling_auto_pp.py
Due: copyright_checker

Update model_utils.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

[Auto-Parallel] optimize perfermance for qwen-14b
  llm/auto_parallel/qwen/run_pretrain_auto.py
  paddlenlp/transformers/qwen/modeling_auto.py
Due: copyright_checker

add use rms norm ci test in pp mode
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Fix multi-dimension issue.
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_swiglu_probs_bwd.cu
  tests/ops/test_fused_swiglu_probs_bwd.py
Due: copyright_checker

fix loss base
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

remove num_hidden_layers for baichuan
  tests/test_tipc/static/auto_parallel/baichuan2/pretrain_config_baichuan2_13b/pretrain-baichuan2_13b_dynamic_auto.json
Due: none

add enable_linear_fused_grad_add
  tests/test_tipc/static/auto_parallel/baichuan2/pretrain_config_baichuan2_13b/pretrain-baichuan2_13b_dynamic_auto.json
Due: none

remove fused_linear_param_grad_add
  tests/test_tipc/static/auto_parallel/baichuan2/pretrain_config_baichuan2_13b/pretrain-baichuan2_13b_dynamic_auto.json
Due: none
