Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

remove prefix tuning
  llm/README.md
  llm/docs/finetune.md
  llm/docs/inference.md
Due: add-spaces-between-chinese-and-english

update
  tests/transformers/chinesebert/test_tokenizer.py
Due: copyright_checker

fix JambaModelIntegrationTest
  tests/transformers/jamba/test_modeling.py
Due: copyright_checker

fix JambaModelIntegrationTest (#8965)
  tests/transformers/jamba/test_modeling.py
Due: copyright_checker

fix load optimizer oom
  paddlenlp/trainer/plugins/unified_checkpoint.py
Due: copyright_checker

fix rename
  paddlenlp/trainer/ckpt_converter.py
Due: copyright_checker

add amp unit test case for auto_parallel ci.
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

cutlass fp8
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dispatch_dual_gemm_scale_bias_swiglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/device/dual_gemm.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/dual_gemm_common.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/kernel/dual_gemm.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/thread/left_gelu_and_mul.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/thread/left_silu_and_mul.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/threadblock/dual_epilogue.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/threadblock/dual_mma_base.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/threadblock/dual_mma_multistage.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_geglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_16_32_64_stages3.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_16_64_64_stages4.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_64_64_64_stages3.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_geglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_swiglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.cu
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_gemm_scale_bias_act.cu
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_gemm_scale_bias_act.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_gelu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_relu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_gelu.h
  csrc/generation/fp8_gemm_with_cutlass/fp8_common.h
  csrc/generation/fp8_gemm_with_cutlass/fp8_fp8_fp8_dual_gemm.cu
  csrc/generation/fp8_gemm_with_cutlass/fp8_fp8_half_gemm.cu
  csrc/generation/helper.h
  csrc/generation/test_fp8gemm.py
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/llama/ptq_fp8_scales_map.json
Due: copyright_checker

Enable tensor parallel tests. (#8757)
  tests/transformers/test_tensor_parallel.py
Due: copyright_checker

[CI] Fix (#8793)
  legacy/examples/benchmark/clue/mrc/run_cmrc2018.py
  legacy/examples/information_extraction/msra_ner/train.py
  legacy/examples/machine_reading_comprehension/SQuAD/run_squad.py
  legacy/model_zoo/bert/run_glue_trainer.py
  legacy/model_zoo/bert/static_ipu/run_squad.py
  legacy/model_zoo/ernie-1.0/finetune/run_qa.py
  paddlenlp/datasets/dataset.py
  scripts/regression/ci_case.sh
  scripts/regression/run_ci.sh
Due: copyright_checker

qwen2 fp8
  llm/predict/predictor.py
  paddlenlp/experimental/model_utils.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
  paddlenlp/quantization/quantization_config.py
Due: copyright_checker

fix qwen benchmark
  tests/test_tipc/dygraph/hybrid_parallelism/qwen/N4C32/qwen-qwen-14b_seqlen4096_pretrain_bs32_bf16_MP2-PP1-sharding16-mbs1-acc2.sh
  tests/test_tipc/dygraph/hybrid_parallelism/qwen/N4C32/qwen-qwen-7b_seqlen4096_pretrain_bs32_bf16_MP1-PP1-sharding32-mbs1-acc1.sh
Due: copyright_checker

[Unified Checkpoint] update async save (#8801)
  paddlenlp/trainer/plugins/shared_memory_utils.py
  paddlenlp/trainer/plugins/unified_checkpoint.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

[Trainer] Add async save (#8970)
  paddlenlp/trainer/plugins/shared_memory_utils.py
  paddlenlp/trainer/plugins/unified_checkpoint.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

add missing space and correcting
  README_en.md
Due: add-spaces-between-chinese-and-english

fix zero_padding for sequence parallel
  paddlenlp/datasets/zero_padding_dataset.py
Due: copyright_checker

[Auto Parallel] Support save model file (#8927)
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

fix
  paddlenlp/datasets/zero_padding_dataset.py
Due: copyright_checker

Fix qwen benchmark (#8969)
  tests/test_tipc/dygraph/hybrid_parallelism/qwen/N4C32/qwen-qwen-14b_seqlen4096_pretrain_bs32_bf16_MP2-PP1-sharding16-mbs1-acc2.sh
  tests/test_tipc/dygraph/hybrid_parallelism/qwen/N4C32/qwen-qwen-7b_seqlen4096_pretrain_bs32_bf16_MP1-PP1-sharding32-mbs1-acc1.sh
Due: copyright_checker

add comments
  paddlenlp/datasets/zero_padding_dataset.py
Due: copyright_checker

fp8 check
  paddlenlp/experimental/model_utils.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
  paddlenlp/experimental/transformers/qwen2/ptq_fp8_scales_map.json
Due: copyright_checker

fp8 cutlass
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dispatch_dual_gemm_scale_bias_swiglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/device/dual_gemm.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/dual_gemm_common.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/kernel/dual_gemm.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/thread/left_gelu_and_mul.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/thread/left_silu_and_mul.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/threadblock/dual_epilogue.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/threadblock/dual_mma_base.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm/threadblock/dual_mma_multistage.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_geglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_16_32_64_stages3.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_16_64_64_stages4.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_64_64_64_stages3.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_geglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_swiglu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.cu
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_gemm_scale_bias_act.cu
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_gemm_scale_bias_act.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_gelu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_relu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_gelu.h
  csrc/generation/fp8_gemm_with_cutlass/fp8_common.h
  csrc/generation/fp8_gemm_with_cutlass/fp8_fp8_fp8_dual_gemm.cu
  csrc/generation/fp8_gemm_with_cutlass/fp8_fp8_half_gemm.cu
  csrc/generation/helper.h
  csrc/generation/test_fp8gemm.py
  csrc/setup_cuda.py
Due: copyright_checker

update optimizer async save signal
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
Due: copyright_checker

[Unified checkpoint] update optimizer async save signal
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
Due: copyright_checker

update inference docs
  llm/docs/inference.md
Due: add-spaces-between-chinese-and-english

[ZeroPadding] padding to max_length for sequence parallel (#8973)
  paddlenlp/datasets/zero_padding_dataset.py
Due: copyright_checker

update
  llm/docs/inference.md
Due: add-spaces-between-chinese-and-english

add amp unit test case for auto_parallel ci. (#8966)
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix review
  csrc/README.md
  csrc/setup_cuda.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix review
  csrc/README.md
Due: add-spaces-between-chinese-and-english

upgrade to 3.0 b1
  README.md
  paddlenlp/__init__.py
  setup.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[Refactor] refine code
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

[Refactor] add MoeConfig and fix static graph export problem
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
Due: copyright_checker

[Bugfix] fix moe_config bug
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker
