Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

add flash_attention on chatglm_v2
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

fix
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker

unify trainer and simplify codes
  llm/config/llama/reft_argument.json
  llm/docs/finetune.md
  llm/predict/reft_predictor.py
  llm/run_finetune.py
  paddlenlp/peft/__init__.py
  paddlenlp/peft/reft/__init__.py
  paddlenlp/peft/reft/interventions.py
  paddlenlp/peft/reft/modeling_utils.py
  paddlenlp/peft/reft/predict.py
  paddlenlp/peft/reft/reft_config.py
  paddlenlp/peft/reft/reft_model.py
  paddlenlp/peft/reft/reft_trainer.py
  paddlenlp/trainer/trainer.py
  tests/llm/test_reft.py
  tests/llm/testing_utils.py
  tests/peft/test_reft.py
Due: copyright_checker, add-spaces-between-chinese-and-english

add flash_attention on model chatglm_v2
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

fix
  llm/run_finetune.py
Due: copyright_checker

bug fix
  paddlenlp/transformers/tensor_parallel_utils.py
Due: copyright_checker

Update ci_case_auto.sh
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update hygon dcu docs
  llm/dcu/llama/README.md
  llm/dcu/llama/run_lora.sh
  llm/dcu/llama/run_pretrain.sh
  llm/dcu/llama/run_sft.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

update hygon docs
  llm/dcu/llama/README.md
Due: add-spaces-between-chinese-and-english

update readme
  llm/dcu/llama/README.md
Due: add-spaces-between-chinese-and-english

fix
  paddlenlp/transformers/llama/tokenizer.py
  paddlenlp/transformers/tokenizer_utils_base.py
  tests/transformers/mbart50/__init__.py
  tests/transformers/mbart50/test_tokenizer.py
Due: copyright_checker

[XPU] bug fix for xpu_parallel_matmul tensor parallel output. (#9297)
  paddlenlp/transformers/tensor_parallel_utils.py
Due: copyright_checker

fix lora sharding v2
  llm/run_finetune.py
Due: copyright_checker

Revise
  llm/docs/finetune.md
  llm/run_finetune.py
  llm/utils/argument.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix seed
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
Due: none

removing tp and pp logic for single gpu training
  paddlenlp/peft/lokr/__init__.py
  paddlenlp/peft/lokr/lokr_config.py
  paddlenlp/peft/lokr/lokr_envs.py
  paddlenlp/peft/lokr/lokr_model.py
  paddlenlp/utils/env.py
Due: copyright_checker

add disable_lokr attribute in lokr_layer
  paddlenlp/peft/lokr/lokr_layers.py
Due: copyright_checker

clean llama static modeling file
  llm/auto_parallel/llama/README.md
  llm/auto_parallel/llama/run_pretrain_auto_static.py
  llm/auto_parallel/llama/run_pretrain_auto_static.sh
  llm/auto_parallel/llama/run_pretrain_auto_static_sp.sh
  llm/auto_parallel/llama/run_pretrain_hand.py
  llm/auto_parallel/llama/run_pretrain_hand.sh
  paddlenlp/transformers/llama/modeling_auto_static.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

update readme
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

fix lora sharding v2 (#9300)
  llm/run_finetune.py
Due: copyright_checker

set new seed
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
Due: none

refine comments
  paddlenlp/peft/lokr/lokr_config.py
Due: copyright_checker

fix tokenizerfast missing attr
  paddlenlp/transformers/tokenizer_utils_base.py
Due: copyright_checker

fix
  llm/auto_parallel/llama/README.md
  paddlenlp/transformers/llama/__init__.py
Due: copyright_checker, add-spaces-between-chinese-and-english

Add licence and more comment
  csrc/gpu/speculate_decoding_kernels/ngram_mask.cu
  csrc/gpu/speculate_decoding_kernels/ngram_match.cc
  csrc/gpu/speculate_decoding_kernels/rebuild_append_padding.cu
  csrc/gpu/speculate_decoding_kernels/rebuild_padding.cu
  csrc/gpu/speculate_decoding_kernels/speculate_calcu_accept_ratio.cu
  csrc/gpu/speculate_decoding_kernels/speculate_clear_accept_nums.cu
  csrc/gpu/speculate_decoding_kernels/speculate_get_output.cc
  csrc/gpu/speculate_decoding_kernels/speculate_get_output_padding_offset.cu
  csrc/gpu/speculate_decoding_kernels/speculate_get_padding_offset.cu
  csrc/gpu/speculate_decoding_kernels/speculate_get_seq_lens_output.cu
  csrc/gpu/speculate_decoding_kernels/speculate_save_output.cc
  csrc/gpu/speculate_decoding_kernels/speculate_set_value_by_flags.cu
  csrc/gpu/speculate_decoding_kernels/speculate_step.cu
  csrc/gpu/speculate_decoding_kernels/speculate_update_input_ids_cpu.cc
  csrc/gpu/speculate_decoding_kernels/speculate_update_seq_lens_this_time.cu
  csrc/gpu/speculate_decoding_kernels/speculate_verify_and_update.cu
  csrc/gpu/speculate_decoding_kernels/topp_candidates.cu
  llm/speculate_decoding/proposer.py
Due: copyright_checker

rename the speculate_update kernel to speculate_verify_and_update kernel
  csrc/gpu/speculate_decoding_kernels/speculate_verify_and_update.cu
  csrc/setup_cuda.py
Due: copyright_checker

Add the speculate_decoding framework
  llm/predict/predictor.py
  llm/speculate_decoding/__init__.py
  llm/speculate_decoding/proposer.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/utils/llm_utils.py
Due: copyright_checker

add static graph support for speculate_decoding
  llm/predict/export_model.py
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/generation_utils.py
  paddlenlp/experimental/transformers/llama/modeling.py
Due: copyright_checker

fix top_p_candidates
  csrc/gpu/speculate_decoding_kernels/top_p_candidates.cu
Due: copyright_checker

add specu_decoding custom cuda kernels
  csrc/gpu/speculate_decoding_kernels/ngram_mask.cu
  csrc/gpu/speculate_decoding_kernels/ngram_match.cc
  csrc/gpu/speculate_decoding_kernels/rebuild_append_padding.cu
  csrc/gpu/speculate_decoding_kernels/rebuild_padding.cu
  csrc/gpu/speculate_decoding_kernels/speculate_calcu_accept_ratio.cu
  csrc/gpu/speculate_decoding_kernels/speculate_clear_accept_nums.cu
  csrc/gpu/speculate_decoding_kernels/speculate_get_output.cc
  csrc/gpu/speculate_decoding_kernels/speculate_get_output_padding_offset.cu
  csrc/gpu/speculate_decoding_kernels/speculate_get_padding_offset.cu
  csrc/gpu/speculate_decoding_kernels/speculate_get_seq_lens_output.cu
  csrc/gpu/speculate_decoding_kernels/speculate_save_output.cc
  csrc/gpu/speculate_decoding_kernels/speculate_set_value_by_flags.cu
  csrc/gpu/speculate_decoding_kernels/speculate_step.cu
  csrc/gpu/speculate_decoding_kernels/speculate_update.cu
  csrc/gpu/speculate_decoding_kernels/speculate_update_input_ids_cpu.cc
  csrc/gpu/speculate_decoding_kernels/speculate_update_seq_lens_this_time.cu
  csrc/gpu/speculate_decoding_kernels/topp_candidates.cu
  csrc/setup_cuda.py
Due: copyright_checker

fix top_p_candidates and add cooment for proposer
  csrc/gpu/speculate_decoding_kernels/topp_candidates.cu
  llm/speculate_decoding/proposer.py
Due: copyright_checker

fix specu_decoding framework
  csrc/gpu/helper.h
  csrc/gpu/speculate_decoding_kernels/ngram_match.cc
  csrc/gpu/speculate_decoding_kernels/rebuild_padding.cu
  csrc/setup_cuda.py
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/llama/modeling.py
Due: copyright_checker

fix custom_op and speculate_read_res
  csrc/gpu/speculate_decoding_kernels/rebuild_append_padding.cu
  paddlenlp/utils/llm_utils.py
Due: copyright_checker

fix comment and add type annotation
  csrc/gpu/speculate_decoding_kernels/ngram_match.cc
  csrc/gpu/speculate_decoding_kernels/rebuild_append_padding.cu
  csrc/gpu/speculate_decoding_kernels/speculate_clear_accept_nums.cu
  csrc/gpu/speculate_decoding_kernels/speculate_save_output.cc
  csrc/gpu/speculate_decoding_kernels/speculate_set_value_by_flags.cu
  csrc/gpu/speculate_decoding_kernels/speculate_update_input_ids_cpu.cc
  csrc/gpu/speculate_decoding_kernels/speculate_verify_and_update.cu
  llm/predict/predictor.py
  llm/speculate_decoding/__init__.py
  llm/speculate_decoding/proposer.py
  paddlenlp/experimental/transformers/llama/modeling.py
Due: copyright_checker

fix custom op
  csrc/gpu/speculate_decoding_kernels/speculate_save_output.cc
  csrc/gpu/speculate_decoding_kernels/speculate_verify_and_update.cu
Due: copyright_checker

v1.0: fix accuracy of the framework
  csrc/gpu/speculate_decoding_kernels/rebuild_append_padding.cu
  llm/predict/predictor.py
  llm/speculate_decoding/proposer.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/generation_utils.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/utils/llm_utils.py
Due: copyright_checker

[Auto Parallel] fix bugs for split_batches_for_accumulation && fix bu… (#9217)
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

[Tokenizer] Fix TokenizerFast missing clean_up_tokenization_spaces (#9304)
  paddlenlp/transformers/tokenizer_utils_base.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
