Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

fix
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

run ci
  csrc/setup_cuda.py
Due: copyright_checker

fix
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

fix conflict
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

Update run_rl.py
  llm/alignment/rl/run_rl.py
Due: copyright_checker

fix
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

Update score_model_utils.py
  paddlenlp/rl/models/score_model_utils.py
Due: copyright_checker

feat: Implement DISCO algorithm for adaptive KV cache management in LLaMA
  DISCO_README.md
  examples/llama_disco_example.py
  paddlenlp/transformers/llama/configuration.py
  paddlenlp/transformers/llama/disco_cache.py
  paddlenlp/transformers/llama/modeling.py
  test_disco_simple.py
  test_disco_standalone.py
  tests/transformers/llama/test_disco.py
Due: copyright_checker, add-spaces-between-chinese-and-english

docs: Add DISCO testing guide and push instructions
  DISCO_TESTING_GUIDE.md
  push_disco_branch.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

update
  DISCO_README.md
  DISCO_TESTING_GUIDE.md
  paddlenlp/transformers/llama/disco_cache.py
  push_disco_branch.sh
  test_disco_simple.py
  test_disco_standalone.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix: Fix DISCO cache eviction index out of bounds error
  paddlenlp/transformers/llama/disco_cache.py
  test_disco_fix.py
  tests/transformers/llama/test_disco.py
Due: copyright_checker

fix: Correct DISCO cache eviction logic and test compatibility
  paddlenlp/transformers/llama/disco_cache.py
  run_disco_tests.py
Due: copyright_checker

update
  paddlenlp/transformers/llama/disco_cache.py
  run_disco_tests.py
Due: copyright_checker

update
  run_disco_tests.py
Due: copyright_checker

update
  .github/workflows/llm.yml
Due: none

token_dispatcher support expert_num 64
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/utils.h
Due: copyright_checker

token_dispatcher support expert_num 64
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/trainer/training_args.py
  paddlenlp/trainer/utils/zero_cost_checkpoint.py
Due: copyright_checker

Update ppo_trainer.py
  paddlenlp/rl/trainer/ppo_trainer.py
Due: copyright_checker

fix 0 size bug
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

add vapo
  llm/alignment/rl/gsm8k_processor.py
  llm/alignment/rl/run_rl.py
  llm/config/qwen/ppo_argument.yaml
  paddlenlp/rl/algos/advantage.py
  paddlenlp/rl/models/ppo_model_utils.py
  paddlenlp/rl/trainer/actor_trainer.py
  paddlenlp/rl/trainer/ppo_trainer.py
  paddlenlp/rl/utils/config_utils.py
  paddlenlp/rl/utils/offload_utils.py
Due: copyright_checker

Update gsm8k_processor.py
  llm/alignment/rl/gsm8k_processor.py
Due: copyright_checker

add vapo_argument.yaml
  llm/config/qwen/vapo_argument.yaml
Due: none

pre_commit
  paddlenlp/rl/trainer/ppo_trainer.py
Due: copyright_checker

Update advantage.py
  paddlenlp/rl/algos/advantage.py
Due: copyright_checker

support bw split
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

pre-commit check
  llm/config/qwen/ppo_argument.yaml
  paddlenlp/rl/algos/advantage.py
  paddlenlp/rl/trainer/ppo_trainer.py
Due: copyright_checker

debug
  .github/workflows/llm.yml
Due: none

fix
  .github/workflows/llm.yml
Due: none

update
  .github/workflows/unittest-gpu.yml
Due: none

fix
  .github/workflows/llm.yml
  .github/workflows/unittest-gpu.yml
Due: none

support fp8 weight quant cache
  llm/run_pretrain.py
  paddlenlp/trainer/trainer_callback.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

fix bug
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

fix confilct
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
