Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

对应数据流,修改infer的部分直接接收token id
  llm/alignment/ppo/infer_utils.py
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/predict/predictor.py
  paddlenlp/trainer/trainer.py
Due: copyright_checker

drop last
  paddlenlp/trainer/trainer.py
Due: copyright_checker

del update_inputs.cu
  csrc/setup_hip.py
Due: copyright_checker

add
  llm/benchmark/mmlu_pro/evaluate_from_api.py
Due: copyright_checker

add_describe
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.py
Due: copyright_checker

add xpu scripts
  llm/auto_parallel/llama/run_llama2_7b_xpu.sh
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker

[LLM] fix llm model path and support download from txt
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/download_model.py
  llm/server/server/server/engine/config.py
Due: copyright_checker

fix gpt_ci
  scripts/distribute/run_ci.sh
Due: copyright_checker

fix flash_attn diff in base api
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker

support drop tokens, disable acc cal
  llm/run_finetune.py
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

[LLM] fix llm model path and support download from txt
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/engine/config.py
Due: copyright_checker

stage commit
  csrc/gpu/sage_attention.cu
  csrc/gpu/sage_attn_kernels/sageattn_fused.cuh
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
Due: copyright_checker

添加环境变量 JINGDUDUIQI
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix
  ops/csrc/fp8/deep_gemm/include/deep_gemm/tma_utils.cuh
Due: none

[LLM] fix llm model path and support download from txt (#10026)
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/download_model.py
  llm/server/server/server/engine/config.py
Due: copyright_checker

use sa for general prefill
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

update loss_base by Paddle#71301
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix 2D dense_tensor_idx
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

[Distribution] Support DualPipeV for DeepSeek
  llm/config/deepseek-v3/pretrain_argument.json
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/gpt/modeling.py
  paddlenlp/transformers/gpt/modeling_pp.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

add model list to doc.
  docs/conf.py
  docs/generate_model_list.py
  docs/index.rst
  docs/model_list.rst
Due: copyright_checker

stage
  csrc/gpu/sage_attention.cu
Due: copyright_checker

resolve merge conflicts
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
Due: copyright_checker

delete lines
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
Due: copyright_checker

update README.md
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

format
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

make mla supports blocksize 32
  csrc/gpu/mla_attn/mainloop_mma.cuh
  csrc/gpu/mla_attn/mla_hopper.cuh
Due: none

stage commit
  csrc/gpu/sage_attention.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

add import check of local_layer
  paddlenlp/transformers/moe_layer_auto.py
Due: copyright_checker

delete intermidate_api
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

add more explanation about code example
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

add fp8 linear
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

delete unused ut
  llm/test_ds.py
Due: copyright_checker

refine code
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix
  requirements-dev.txt
Due: none

[CherryPick] add import check of local_layer
  paddlenlp/transformers/moe_layer_auto.py
Due: copyright_checker

make mla supports append
  csrc/gpu/mla_attn/epilogue.cuh
  csrc/gpu/mla_attn/mainloop_load.cuh
  csrc/gpu/mla_attn/mainloop_mma.cuh
  csrc/gpu/mla_attn/mla_hopper.cuh
Due: none

Update modeling_auto.py
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker
