Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

remove paddlemix
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/ops/triton_ops/fused_moe.py
  paddlenlp/ops/triton_ops/triton_utils.py
Due: copyright_checker

[Distribution] Support DualPipeV in GPT3
  llm/run_pretrain.py
  paddlenlp/trainer/training_args.py
  paddlenlp/transformers/gpt/configuration.py
  paddlenlp/transformers/gpt/modeling_pp.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

refine codestyle
  paddlenlp/transformers/fused_a2a.py
  paddlenlp/transformers/moe_utils.py
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

add_mmlu_pro
  llm/benchmark/mmlu_pro/evaluate_from_api.py
  llm/benchmark/mmlu_pro/run_mmlu_pro.sh
Due: copyright_checker

refine
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

fix
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

fix tenercore precision while split kv
  csrc/gpu/mla_attn/epilogue.cuh
  csrc/gpu/mla_attn/mla_hopper.cuh
  csrc/gpu/mla_attn/utils.cuh
Due: none

Update glm
  paddlenlp/transformers/chatglm_v2/configuration.py
  paddlenlp/transformers/chatglm_v2/modeling.py
  paddlenlp/transformers/glm/modeling.py
Due: copyright_checker

[LLM] 增加模型版本校验
  llm/server/server/server/engine/config.py
Due: copyright_checker

fix
  csrc/gpu/mla_attn/mainloop_mma.cuh
Due: none

[LLM] fix bugs
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/engine/config.py
  llm/server/server/server/utils.py
Due: copyright_checker

fix
  csrc/gpu/mla_attn/mla_hopper.cuh
Due: none

[LLM] fix bugs
  llm/server/server/server/utils.py
Due: copyright_checker

add benchmark client scripts
  llm/benchmark/serving/benchmark_client.py
  llm/benchmark/serving/get_filter_shared_gpt.py
  llm/benchmark/serving/run_benchmark_client.sh
Due: copyright_checker

add benchmark client scripts
  llm/benchmark/serving/get_filter_shared_gpt.py
Due: copyright_checker

add benchmark client scripts
  llm/benchmark/serving/run_benchmark_client.sh
Due: copyright_checker

fix prm test
  llm/alignment/rm/flashmask/run_reward.py
Due: copyright_checker

[LLM] fix bugs
  llm/server/server/scripts/start_server.sh
Due: copyright_checker

fix
  csrc/gpu/mla_attn/utils.cuh
Due: none

update longlora config
  llm/config/llama/longlora.json
  llm/utils/data.py
  tests/fixtures/llm/longlora.yaml
  tests/llm/test_lora.py
Due: copyright_checker

fp8 for mtp
  llm/docs/predict/best_practices.md
  llm/docs/predict/speculative_decoding.md
Due: add-spaces-between-chinese-and-english

check
  llm/docs/predict/best_practices.md
Due: add-spaces-between-chinese-and-english

add benchmark client scripts
  llm/benchmark/serving/benchmark_client.py
Due: copyright_checker

add weight_block_size and moe_quant_type
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

add benchmark client scripts
  llm/benchmark/serving/benchmark_client.py
  llm/benchmark/serving/run_benchmark_client.sh
Due: copyright_checker

Update inference.md
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

update unittest
  csrc/gpu/append_attn/decode_attention_kernel.cu
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.cu
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.h
  csrc/gpu/multi_head_latent_attention.cu
  csrc/gpu/unittest/test_absorb_mla.py
Due: copyright_checker

add doc
  llm/docs/general_model_inference.nd
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

update
  llm/docs/general_model_inference.md
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

update
  llm/docs/general_model_inference.md
Due: add-spaces-between-chinese-and-english

update
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

Fix longlora inference
  llm/run_finetune.py
  paddlenlp/transformers/longlora.py
Due: copyright_checker

add server
  llm/docs/predict/deepseek.md
  llm/docs/predict/speculative_decoding.md
Due: add-spaces-between-chinese-and-english

fix
  llm/docs/predict/deepseek.md
  llm/docs/predict/speculative_decoding.md
Due: add-spaces-between-chinese-and-english

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
