Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

del log
  csrc/gpu/mla_attn/mainloop_mma.cuh
Due: none

del log
  csrc/gpu/mla_attn/mla_hopper_wg4.cuh
Due: none

[Doc] 文档完善，新增模型环境设备需求
  llm/server/README.md
  llm/server/docs/deploy_usage_tutorial.md
  llm/server/docs/general_model_inference.md
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

修复total_entropy_loss的错误,新增all reduce sum
  llm/alignment/ppo/models/ppo_model_utils.py
Due: copyright_checker

新增optimizer的offload
  llm/alignment/ppo/trainer_utils.py
Due: copyright_checker

[Doc] 文档完善，新增模型环境设备需求
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

add xlmroberta in embedding train
  llm/config/xlm_roberta/emb_argument.json
  llm/run_embedding.py
  paddlenlp/data/data_collator.py
  paddlenlp/datasets/embedding_dataset.py
  paddlenlp/transformers/xlm_roberta/modeling.py
Due: copyright_checker

Update test_trainer_callback.py
  tests/trainer/test_trainer_callback.py
Due: copyright_checker

Add fused_swiglu_act(transpose)_quant op to extern op in gpt-3
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_swiglu_act_quant.cu
  slm/model_zoo/gpt-3/external_ops/setup.py
  tests/ops/test_fused_swiglu_act_quant.py
Due: copyright_checker

finish debugging yahooooooo
  csrc/gpu/sage_attention.cu
  csrc/gpu/sage_attn_kernels/sageattn_fused.cuh
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

enhance fused_rotary_position_encoding and get_position_ids_and_mask_encoder_batch
  csrc/gpu/fused_rotary_position_encoding.cu
  csrc/gpu/get_position_ids_and_mask_encoder_batch.cu
Due: copyright_checker

Polishing code.
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_swiglu_act_quant.cu
  tests/ops/test_fused_swiglu_act_quant.py
Due: copyright_checker

open grad_clip
  llm/auto_parallel/llama/run_llama2_7b_xpu.sh
Due: copyright_checker

remove unecessary lines.
  slm/model_zoo/gpt-3/external_ops/setup.py
Due: copyright_checker

add fp32 compute
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/trainer_utils.py
Due: copyright_checker

remove unecessary lines in cu
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_swiglu_act_quant.cu
Due: copyright_checker

update
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

supports mla wg4
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.cu
  csrc/gpu/mla_attn/kernel_traits_wg4.cuh
  csrc/gpu/mla_attn/mainloop_mma.cuh
  csrc/gpu/mla_attn/mla_hopper.cuh
  csrc/gpu/mla_attn/mla_hopper_wg4.cuh
Due: copyright_checker

fix
  fix_time
Due: none

update generation
  paddlenlp/generation/__init__.py
  paddlenlp/generation/beam_constraints.py
  paddlenlp/generation/beam_search.py
  paddlenlp/generation/candidate_generator.py
  paddlenlp/generation/configuration_utils.py
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/stopping_criteria.py
  paddlenlp/generation/streamers.py
  paddlenlp/generation/utils.py
  paddlenlp/transformers/tokenizer_utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/cache_utils.py
  paddlenlp/utils/deprecation.py
  paddlenlp/utils/doc.py
  paddlenlp/utils/modeling_outputs.py
Due: copyright_checker

fix src_length
  llm/predict/predictor.py
Due: copyright_checker

update
  llm/config/deepseek-v2/lora_argument.json
  llm/config/deepseek-v2/sft_argument.json
  llm/config/deepseek-v3/lora_argument.json
  llm/config/qwen2moe/lora_argument.json
  llm/config/qwen2moe/sft_argument.json
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

update
  llm/predict/predictor.py
Due: copyright_checker

update
  llm/server/server/server/data/processor.py
Due: copyright_checker

Update tests.yml
  .github/workflows/tests.yml
Due: none

support sharding training, add args logprob_batch_size
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/trainer_utils.py
Due: copyright_checker

add dongzhuanjing
  csrc/gpu/moe/fused_moe/moe_dispatch.cu
  csrc/gpu/moe/fused_moe/moe_ffn.cu
  csrc/gpu/moe/fused_moe/moe_reduce.cu
  csrc/setup_cuda.py
Due: copyright_checker

fix dispatch precis
  csrc/gpu/moe/fused_moe/cutlass_kernels/cutlass_heuristic.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/gemm_config_manager.h
  csrc/gpu/moe/fused_moe/moe/fused_moe_op.h
  csrc/gpu/moe/fused_moe/moe_dispatch.cu
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

rm cutlass_extention
  csrc/gpu/moe/fused_moe/cutlass_extensions/arch/mma.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/compute_occupancy.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/epilogue/epilogue_quant_helper.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/epilogue/thread/ft_fused_activations.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/epilogue/threadblock/epilogue_per_row_per_col_scale.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/epilogue/threadblock/epilogue_tensor_op_int32.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/epilogue_helpers.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/ft_gemm_configs.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/default_fpA_intB_traits.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/fpA_intB_gemm.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/fpA_intB_gemm_split_k.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/gemm_moe_problem_visitor.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/mixed_gemm_B_layout.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/moe_problem_visitor.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_dq_mma.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_dq_mma_multistage.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_dq_mma_pipelined.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_mma.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_mma_bf16.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dp_mma_multistage_finegrained.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dp_mma_multistage_percol.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dq_mma_base.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dq_mma_multistage.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dq_mma_pipelined.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/warp/default_mma_tensor_op.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/warp/mma_tensorop_compute_B_with_f16.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/warp/mma_tensorop_dequantizer.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/interleaved_numeric_conversion.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/tile_interleaved_layout.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/transform/threadblock/fine_grained_scale_zero_iterator.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/cutlass_heuristic.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/gemm_config_manager.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_cutlass_kernel.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/kernels/cutlass_kernels/moe_gemm/fused_moe_cutlass_kernel.h
  csrc/gpu/moe/fused_moe/kernels/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/utils/cuda_utils.h
  csrc/setup_cuda.py
Due: copyright_checker

per_device_eval_batch_size不能大于self.per_device_rollout_batch_size * self.num_return_sequences
  llm/alignment/ppo/trainer_utils.py
Due: copyright_checker

[Doc] 完善文档，更新示例模型
  llm/README.md
  llm/server/docs/deploy_usage_tutorial.md
  llm/server/docs/general_model_inference.md
Due: add-spaces-between-chinese-and-english

update rollout_logprob_batch_size
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/trainer_utils.py
Due: copyright_checker

[Doc] 完善文档，更新示例模型
  llm/README.md
Due: add-spaces-between-chinese-and-english

Update auto_trainer.py
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
