Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

fix_api_use
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/qwen/intermediate_api_config.json
  paddlenlp/transformers/qwen/modeling_network.py
Due: copyright_checker

rerun
  paddlenlp/transformers/qwen/intermediate_api_config.json
Due: none

fix intermediate api use
  paddlenlp/transformers/llama/auto_dist_config.py
  paddlenlp/transformers/llama/modeling_network.py
  paddlenlp/transformers/qwen/auto_dist_config.py
  paddlenlp/transformers/qwen/modeling_network.py
Due: copyright_checker

update
  paddlenlp/transformers/qwen/auto_dist_config.py
Due: copyright_checker

add loss subbatch for dsv3 128k training
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix
  paddlenlp/trainer/trainer.py
Due: copyright_checker

add fix
  paddlenlp/trainer/utils/offload_optimizer.py
Due: copyright_checker

feat(model): add support for Qwen model in RL PipelineParallel
  paddlenlp/transformers/qwen2/modeling_pp.py
  paddlenlp/transformers/qwen3/modeling_pp.py
Due: copyright_checker

Revert "feat(model): add support for Qwen model in RL PipelineParallel"
  paddlenlp/transformers/qwen2/modeling_pp.py
  paddlenlp/transformers/qwen3/modeling_pp.py
Due: copyright_checker

[Template] add jinja plugin, apply_chat_template support dict messages
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

fix load_flex_checkpoint
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix seq_aux with sp && num_nextn_predict_lambda->0.1 && disable drop padding tokens && mark gate weight with sp
  llm/config/deepseek-v3/sft_128k_argument.json
  llm/config/deepseek-v3/sft_4k_sp.json
  paddlenlp/trainer/trainer.py
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

add gate weight allreduce callbacks
  llm/run_finetune.py
  paddlenlp/trainer/trainer_callback.py
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

add SWANLAB_EXP_NAME env
  paddlenlp/trainer/integrations.py
Due: copyright_checker

swanlab
  requirements.txt
Due: none

swanlab
  requirements-dev.txt
Due: none

remove_llama_dist_cp_hook
  paddlenlp/transformers/llama/auto_dist_config.py
Due: copyright_checker

Revert "Pr adapt flex checkpoint (#11065)"
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/trainer/training_args.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

Revert "fix path (#10955)"
  paddlenlp/trainer/utils/ckpt_converter.py
Due: copyright_checker

fix the bug when enabling sp and drop_token
  llm/config/deepseek-v3/sft_128k_argument.json
  llm/config/deepseek-v3/sft_4k_sp.json
  llm/config/deepseek-v3/sft_argument.json
  llm/run_finetune.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/trl/model_config.py
Due: copyright_checker

remove layer_idx in init func of MoEFlexTokenLayer
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

add DisLoRATrainer
  llm/run_finetune.py
  paddlenlp/trl/__init__.py
  paddlenlp/trl/dislora_trainer.py
  paddlenlp/trl/sft_trainer.py
Due: copyright_checker

feat(model): add support for QwenMoe model in RL PipelineParallel
  paddlenlp/transformers/qwen2_moe/modeling_pp.py
  paddlenlp/transformers/qwen3_moe/modeling_pp.py
Due: copyright_checker

update_code
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update_code
  paddlenlp/transformers/llama/auto_dist_config.py
Due: copyright_checker

“readme文件修改”
  .gitignore
  docs/zh/llm/alignment/ppo/README.md
  llm/docs/finetune.md
Due: add-spaces-between-chinese-and-english

Delete docs/zh/llm/benchmark/rl/README.md
  docs/zh/llm/benchmark/rl/README.md
Due: add-spaces-between-chinese-and-english

debug use
  .github/workflows/distribute-a100.yml
  .github/workflows/distribute-v100.yml
  scripts/distribute/run_ci.sh
Due: copyright_checker

update
  .github/workflows/distribute-a100.yml
Due: none

paddle commit 290c4da4b2aefc6e9911949cf3eb303d2d7402d1
  .github/workflows/distribute-a100.yml
Due: none

paddle commit 31f801d3b98c280601701964995f0a1f96f088d1
  .github/workflows/distribute-a100.yml
Due: none

paddle commit 0af06ea9bd3e744afcd12e70dffd21ae9d0ae626
  .github/workflows/distribute-a100.yml
Due: none

support sharding stage3 for deepseekv3 model
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

paddleformers PR check
  .github/workflows/PaddleFormers-PR-Check.yml
  scripts/ci_approval/run_ci_approval_cherry-pick.sh
Due: copyright_checker

echo line
  scripts/ci_approval/run_ci_approval_cherry-pick.sh
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
