Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

Update README.md
  llm/devices/gcu/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/iluvatar/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/intel_hpu/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/metax/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/mlu/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/mthreads/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/npu/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/sdaa/llama/README.md
Due: add-spaces-between-chinese-and-english

add fused mlo linear
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

新增actor_fused_pg_entropy_kl_loss
  llm/alignment/ppo/models/ppo_model_utils.py
Due: copyright_checker

change padding size to 8
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

support dynamic shape
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

Update longlora.yaml
  tests/fixtures/llm/longlora.yaml
Due: none

update test_longlora.py
  tests/longlora/test_longlora.py
Due: copyright_checker

fix
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

check mtp triton cache
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

check
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

wint8 update
  paddlenlp/quantization/quantization_config.py
  paddlenlp/quantization/quantization_utils.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

Revert "[AutoParallel] Support reshard attention mask in intermediate_api (#9…"
  paddlenlp/transformers/llama/modeling_network.py
Due: copyright_checker

fix oom in dsv3
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix buyg
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix bug
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

add json config, move readme to auto_parallel dir
  llm/auto_parallel/README.md
  llm/auto_parallel/deepseek-v3/pretrain_argument.json
  llm/auto_parallel/gpt-3/gpt_with_intermediate.sh
  llm/auto_parallel/gpt-3/pretrain_argument.json
  llm/auto_parallel/gpt-3/run_pretrain_auto.sh
  llm/auto_parallel/llama/finetune_argument.json
  llm/auto_parallel/llama/llama_finetune_with_api.sh
  llm/auto_parallel/llama/pretrain_argument.json
  llm/auto_parallel/qwen/pretrain_argument.json
  llm/auto_parallel/qwen/run_intermediate_api.sh
  llm/auto_parallel/qwen/run_pretrain_auto.py
  llm/auto_parallel/qwen/run_pretrain_auto.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

Update auto_trainer.py
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

add moe_dispatch&moe_reduce
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/default_fpA_intB_traits.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/gemm_moe_problem_visitor.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/kernel/mixed_gemm_B_layout.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_dq_mma.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_dq_mma_multistage.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_dq_mma_pipelined.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_mma.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/default_mma_bf16.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dp_mma_multistage_finegrained.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dp_mma_multistage_percol.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dq_mma_multistage.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/threadblock/dq_mma_pipelined.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/gemm/warp/default_mma_tensor_op.h
  csrc/gpu/moe/fused_moe/cutlass_extensions/tile_interleaved_layout.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/cutlass_heuristic.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/gemm_config_manager.h
  csrc/gpu/moe/fused_moe/kernels/cutlass_kernels/moe_gemm/fused_moe_cutlass_kernel.h
  csrc/gpu/moe/fused_moe/kernels/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/moe/fused_moe_imp_op.h
  csrc/gpu/moe/fused_moe/moe/fused_moe_imp_op_not.h
  csrc/gpu/moe/fused_moe/moe/fused_moe_op.h
  csrc/gpu/moe/fused_moe/moe/fused_moe_op_not.h
  csrc/gpu/moe/fused_moe/moe_dispatch.cu
  csrc/gpu/moe/fused_moe/moe_ffn.cu
  csrc/gpu/moe/fused_moe/moe_reduce.cu
  csrc/setup_cuda.py
Due: copyright_checker

remove useless comment
  csrc/xpu/src/get_padding_offset_v2.cc
  csrc/xpu/src/mla_block_multihead_attention_xpu.cc
  llm/server/server/server/engine/token_processor.py
Due: copyright_checker

fix
  csrc/xpu/src/cmake_build.sh
Due: copyright_checker

fix bug
  tests/llm/test_longlora.py
Due: copyright_checker

update total_max_length use export model
  llm/predict/predictor.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

添加fused head loss计算
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/trainer_utils.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

entropy_loss
  llm/alignment/ppo/ppo_trainer.py
Due: copyright_checker

support reshard attention mask in intermediate_api
  paddlenlp/transformers/llama/modeling_network.py
Due: copyright_checker

fix ci shape mismatch
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

update
  llm/alignment/ppo/models/ppo_model_utils.py
Due: copyright_checker

update
  llm/alignment/ppo/run_ppo.py
Due: copyright_checker

[Doc] 文档完善，新增模型环境设备需求
  llm/server/README.md
  llm/server/docs/deploy_usage_tutorial.md
  llm/server/docs/general_model_inference.md
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

supports mla wg4
  csrc/gpu/env.h
  csrc/gpu/mla_attn/attention_updater.cuh
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.cu
  csrc/gpu/mla_attn/epilogue.cuh
  csrc/gpu/mla_attn/kernel_traits_wg4.cuh
  csrc/gpu/mla_attn/mainloop_load.cuh
  csrc/gpu/mla_attn/mainloop_mma.cuh
  csrc/gpu/mla_attn/mla_hopper_wg4.cuh
  csrc/gpu/mla_attn/named_barrier.cuh
  csrc/gpu/mla_attn/utils.cuh
Due: copyright_checker

del log
  csrc/gpu/mla_attn/mla_hopper_wg4.cuh
Due: none

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
