Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

update
  llm/server/docs/general_model_inference.md
Due: add-spaces-between-chinese-and-english

update
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

Update GLM
  paddlenlp/transformers/chatglm_v2/configuration.py
  paddlenlp/transformers/chatglm_v2/modeling.py
  paddlenlp/transformers/glm/modeling.py
Due: copyright_checker

glm
  paddlenlp/transformers/glm/modeling.py
Due: copyright_checker

update
  csrc/setup.py
  scripts/distribute/run_ci.sh
  scripts/regression/ci_case.sh
  setup.py
Due: copyright_checker

remove some bug config for block gemm
  csrc/utils/auto_gen_fp8_fp8_block_gemm_fused_kernels_sm90.py
Due: copyright_checker

update license
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/kernel.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
  paddlenlp/transformers/deepseek_v2/tokenizer_fast.py
  paddlenlp/transformers/deepseek_v3/configuration.py
  paddlenlp/transformers/deepseek_v3/modeling.py
  paddlenlp/transformers/deepseek_v3/modeling_auto.py
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_gate_auto.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/moe_layer_auto.py
Due: copyright_checker

[LLM] support fix seq len
  llm/server/server/server/engine/config.py
Due: copyright_checker

update
  llm/docs/predict/deepseek.md
Due: add-spaces-between-chinese-and-english

bsz=1 assert
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_dsk_kernel_sm90.cu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/sageattention.py
Due: copyright_checker

[LLM] support cmd run service
  llm/server/dockerfiles/Dockerfile_serving_cuda118_cudnn8
  llm/server/dockerfiles/Dockerfile_serving_cuda124_cudnn9
Due: none

fix
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

fix kernel
  csrc/gpu/sage_attn_kernels/sageattn_fused.cu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/utils/env.py
Due: copyright_checker

[LLM] support cmd run service
  llm/server/server/server/engine/config.py
Due: copyright_checker

move to import line
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

merge develop & support wint8&fp8
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

Update deepseek.md
  llm/docs/predict/deepseek.md
Due: add-spaces-between-chinese-and-english

update
  llm/docs/predict/deepseek.md
  llm/docs/predict/installation.md
  llm/docs/predict/speculative_decoding.md
Due: add-spaces-between-chinese-and-english

update
  llm/docs/predict/installation.md
Due: add-spaces-between-chinese-and-english

update Qwen models
  README.md
  docs/llm/docs/prm.md
Due: add-spaces-between-chinese-and-english

update
  docs/llm/docs/predict/index.rst
  docs/llm/server/index.rst
  llm/docs/predict/deepseek.md
  llm/docs/predict/speculative_decoding.md
  llm/server/docs/general_model_inference.md
Due: add-spaces-between-chinese-and-english

merge
  README.md
Due: add-spaces-between-chinese-and-english

update
  docs/llm/docs/predict/index.rst
Due: none

update
  docs/llm/docs/predict/index.rst
  docs/llm/server/docs/general_model_inference.md
Due: add-spaces-between-chinese-and-english

update
  docs/llm/server/docs/general_model_inference.md
  docs/llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

delete last slash
  llm/auto_parallel/llama/llama_finetune_with_api.sh
Due: copyright_checker
