Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

fix bug
  paddlenlp/trainer/utils/ckpt_converter.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix: fix the bug in transformers.model_utils.PretrainedModel.recompute_disable()
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

quant transpost disable
  paddlenlp/trainer/trainer_callback.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

fix
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
  paddlenlp/transformers/llama/modeling.py
Due: copyright_checker

Make pp_stream wait on attn_backward_dx
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

add cuda12.3 loss_base
  scripts/distribute/ci_case_auto.sh
  scripts/distribute/ci_case_dy.sh
Due: copyright_checker

add a100 action
  .github/workflows/distribute-a100.yml
  .github/workflows/distribute-v100.yml
Due: none

Fix slow convergence issue when enable overlap_p2p_comm
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

add llm&unittest
  .github/workflows/llm.yml
  .github/workflows/unittest-cpu.yml
  .github/workflows/unittest-gpu.yml
Due: none

add fa3 rc
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

profile hardware modify
  llm/auto_parallel/galvatron-llama/configs/overlap_coefficient.json
  llm/auto_parallel/galvatron-llama/profile_hardware.py
  llm/auto_parallel/galvatron-llama/scripts/profile_all2all.sh
  llm/auto_parallel/galvatron-llama/scripts/profile_allreduce.sh
  llm/auto_parallel/galvatron-llama/scripts/profile_allreduce_sp.sh
  llm/auto_parallel/galvatron-llama/scripts/profile_hardware.sh
  llm/auto_parallel/galvatron-llama/scripts/profile_overlap.sh
  llm/auto_parallel/galvatron-llama/scripts/profile_p2p.sh
  llm/auto_parallel/galvatron-qwen-32B/scripts/train_qwen_4_nodes.sh
  llm/auto_parallel/galvatron-qwen-32B/scripts/train_qwen_8_noeds.sh
  llm/auto_parallel/galvatron-qwen-32B/train_qwen.py
  paddlenlp/experimental/galvatron/profiler/configs/profile_all2all.json
  paddlenlp/experimental/galvatron/profiler/hardware_profiler.py
  paddlenlp/experimental/galvatron/profiler/log/workerlog.0
  paddlenlp/experimental/galvatron/profiler/log/workerlog.1
  paddlenlp/experimental/galvatron/profiler/log/workerlog.2
  paddlenlp/experimental/galvatron/profiler/log/workerlog.3
  paddlenlp/experimental/galvatron/profiler/log/workerlog.4
  paddlenlp/experimental/galvatron/profiler/log/workerlog.5
  paddlenlp/experimental/galvatron/profiler/log/workerlog.6
  paddlenlp/experimental/galvatron/profiler/log/workerlog.7
  paddlenlp/experimental/galvatron/profiler/profile_all2all.py
  paddlenlp/experimental/galvatron/profiler/profile_allreduce.py
  paddlenlp/experimental/galvatron/profiler/profile_overlap.py
  paddlenlp/experimental/galvatron/profiler/profile_p2p.py
Due: copyright_checker

fix bug
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

临时跑qwen3-moe
  llm/auto_parallel/qwen/qwen3-moe/config.json
  llm/auto_parallel/qwen/qwen3-moe/generation_config.json
  llm/auto_parallel/qwen/qwen3-moe/merges.txt
  llm/auto_parallel/qwen/qwen3-moe/tokenizer.json
  llm/auto_parallel/qwen/qwen3-moe/tokenizer_config.json
  llm/auto_parallel/qwen/qwen3-moe/vocab.json
  llm/auto_parallel/qwen/run_pretrain_qwen.sh
  paddlenlp/trainer/utils/ckpt_converter.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

修改脚本位置
  llm/qwen3-moe/config.json
  llm/qwen3-moe/generation_config.json
  llm/qwen3-moe/merges.txt
  llm/qwen3-moe/tokenizer.json
  llm/qwen3-moe/tokenizer_config.json
  llm/qwen3-moe/vocab.json
  llm/run_pretrain_qwen.sh
Due: copyright_checker

re-impl init_optimizer
  paddlenlp/trainer/trainer_utils.py
Due: copyright_checker

Approval CI
  .github/workflows/approval.yml
Due: none

update
  .github/workflows/approval.yml
Due: none

update
  paddlenlp/trainer/training_args.py
Due: copyright_checker

search_engine to runtime
  llm/auto_parallel/galvatron-qwen/configs/fine_grained_config.json
  paddlenlp/experimental/galvatron/search_engine/search_engine.py
Due: copyright_checker

adapt only llama
  llm/qwen3-moe/config.json
  llm/qwen3-moe/generation_config.json
  llm/qwen3-moe/merges.txt
  llm/qwen3-moe/tokenizer.json
  llm/qwen3-moe/tokenizer_config.json
  llm/qwen3-moe/vocab.json
  llm/run_pretrain_llm.sh
  llm/run_pretrain_qwen.sh
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

Update training_args.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

Update Approval CI
  paddlenlp/trainer/training_args.py
Due: copyright_checker

Update Approval CI
  .github/workflows/approval.yml
Due: none

fix
  scripts/ci_approval/run_ci_approval.sh
Due: copyright_checker

fix
  .github/workflows/approval.yml
Due: none

fix
  .github/workflows/approval.yml
  paddlenlp/trainer/training_args.py
Due: copyright_checker

fix_fa3_bug
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

uasge
  llm/auto_parallel/galvatron-llama-submit/check_cost_model.py
  llm/auto_parallel/galvatron-llama-submit/configs/allreduce_bandwidth_8nodes_8gpus_per_node.json
  llm/auto_parallel/galvatron-llama-submit/configs/computation_profiling_bf16_llama_rank[0].json
  llm/auto_parallel/galvatron-llama-submit/configs/fine_grained_config.json
  llm/auto_parallel/galvatron-llama-submit/configs/memory_profiling_bf16_llama.json
  llm/auto_parallel/galvatron-llama-submit/configs/memory_profiling_bf16_llama_first.json
  llm/auto_parallel/galvatron-llama-submit/configs/memory_profiling_bf16_llama_last.json
  llm/auto_parallel/galvatron-llama-submit/configs/overlap_coefficient.json
  llm/auto_parallel/galvatron-llama-submit/configs/p2p_bandwidth_8nodes_8gpus_per_node.json
  llm/auto_parallel/galvatron-llama-submit/configs/sp_time_8nodes_8gpus_per_node.json
  llm/auto_parallel/galvatron-llama-submit/profile.py
  llm/auto_parallel/galvatron-llama-submit/profile_hardware.py
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_all2all.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_allreduce.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_allreduce_sp.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_computation.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_hardware.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_memory.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_overlap.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/profile_p2p.sh
  llm/auto_parallel/galvatron-llama-submit/scripts/search_dist.sh
  llm/auto_parallel/galvatron-llama-submit/search_dist.py
  llm/auto_parallel/galvatron-llama-submit/usage.md
  llm/auto_parallel/galvatron-llama/configs/allreduce_bandwidth_1nodes_8gpus_per_node.json
  llm/auto_parallel/galvatron-llama/configs/p2p_bandwidth_1nodes_8gpus_per_node.json
  paddlenlp/experimental/galvatron/cost_model/memory_cost_model.py
  paddlenlp/experimental/galvatron/cost_model/profile_data_parser.py
  paddlenlp/experimental/galvatron/profiler/hardware_profiler.py
  paddlenlp/experimental/galvatron/profiler/model_profiler.py
  paddlenlp/experimental/galvatron/profiler/profile_allreduce.py
  paddlenlp/experimental/galvatron/profiler/profile_p2p.py
Due: copyright_checker, add-spaces-between-chinese-and-english

support sequence parallel in deepseek v3
  llm/config/deepseek-v3/sft_argument.json
  paddlenlp/trainer/training_args.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix the dp bug
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

Add fleety approval ci
  scripts/ci_approval/run_ci_approval.sh
Due: copyright_checker

Add fleety approval ci
  .github/workflows/approval.yml
Due: none

Implement Decoder backward self-overlapping
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker
