Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

[Feature] Add hardware flops for pretraining (#9069)
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/transformers/gemma/modeling.py
  paddlenlp/transformers/gpt/modeling.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/qwen/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/utils.py
Due: copyright_checker

update_glmhead
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

update_transpose
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

[Benchmark] Fix amp level bug in some gpt tests (#9116)
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/benchmark_common/run_benchmark.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/benchmark_common/run_benchmark.sh
Due: none

add config file for model chatglm2,gemma,yuan
  llm/config/chatglm2/dpo_argument.json
  llm/config/gemma/dpo_argument.json
  llm/config/yuan/dpo_argument.json
Due: none

update_parallel_matmul
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

add try catch
  paddlenlp/trainer/training_args.py
Due: copyright_checker

update doc
  docs/get_started/installation.rst
Due: none

update readme.md
  README.md
Due: add-spaces-between-chinese-and-english

update rst
  docs/get_started/installation.rst
Due: none

update
  docs/get_started/installation.rst
Due: none

update
  README.md
  README_en.md
Due: add-spaces-between-chinese-and-english

Add timer for optimizer (#7563) (#9128)
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

[Auto Parallel] Fix ckpt_converter for auto_parallel (#9136)
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/utils/ckpt_converter.py
Due: copyright_checker

fix review
  csrc/gpu/sample_kernels/sampling.cuh
  csrc/gpu/sample_kernels/top_p_sampling_from_probs.cu
  csrc/gpu/sample_kernels/utils.cuh
  paddlenlp/experimental/transformers/generation_utils.py
Due: copyright_checker

update
  docs/llm/docs/inference.md
  llm/docs/rlhf.md
Due: add-spaces-between-chinese-and-english

update
  docs/llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

append_attention 0914
  csrc/gpu/append_attention.cu
  csrc/gpu/append_attn/append_attention_func.cuh
  csrc/gpu/append_attn/append_attention_impl.cuh
  csrc/gpu/append_attn/append_attention_kernel.cu
  csrc/gpu/append_attn/append_attention_kernel.h
  csrc/gpu/append_attn/decoder_write_cache_with_rope_kernel.cu
  csrc/gpu/append_attn/decoder_write_cache_with_rope_kernel.h
  csrc/gpu/append_attn/encoder_write_cache_with_rope_impl.cuh
  csrc/gpu/append_attn/encoder_write_cache_with_rope_kernel.cu
  csrc/gpu/append_attn/encoder_write_cache_with_rope_kernel.h
  csrc/gpu/append_attn/helper.h
  csrc/gpu/append_attn/mem_util.cuh
  csrc/gpu/append_attn/mma_tensor_op.cuh
  csrc/gpu/append_attn/utils.cuh
  csrc/gpu/decoder_write_cache_with_rope.cu
  csrc/gpu/encoder_write_cache_with_rope.cu
  csrc/gpu/get_block_shape.cu
  csrc/gpu/split_kv_block.cu
  csrc/setup_cuda.py
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/append_attention.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
Due: copyright_checker

sync llm to docs/llm
  docs/llm/README.md
  docs/llm/auto_parallel/llama/README.md
  docs/llm/config/mistral/README.md
  docs/llm/config/yuan/README.md
  docs/llm/docs/cpu_install.md
  docs/llm/docs/dcu_install.md
  docs/llm/docs/predict/best_practices.md
  docs/llm/docs/predict/installation.md
  docs/llm/docs/predict/llama.md
  docs/llm/docs/predict/mixtral.md
  docs/llm/docs/predict/qwen.md
  docs/llm/experimental/ernie-3.5-se/README.md
  docs/llm/gcu/llama/README.md
  docs/llm/npu/llama/README.md
  docs/llm/pretraining/data/CLUECorpus2020.md
  docs/llm/pretraining/data/CLUECorpusSmall.md
  docs/llm/pretraining/data/OpenWebText2.md
  docs/llm/pretraining/data/WuDaoCorpusBase.md
  docs/llm/tools/preprocess/README.md
  docs/llm/tools/preprocess/docs/CLUECorpus2020.md
  docs/llm/tools/preprocess/docs/CLUECorpusSmall.md
  docs/llm/tools/preprocess/docs/OpenWebText2.md
  docs/llm/tools/preprocess/docs/WuDaoCorpusBase.md
  docs/llm/xpu/llama/README.md
Due: add-spaces-between-chinese-and-english

[Inference] Update fakequant (#9140)
  llm/config/llama/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/llama/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/w8a8_ptq_argument.json
  llm/config/llama/ceval/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval_ptq_argument.json
  llm/config/llama/fp8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/w8a8_ptq_argument.json
  llm/config/qwen/ceval/wfp8afp8_ptq_argument.json
  llm/docs/quantization.md
  llm/experimental/observer/abs_max.py
  llm/experimental/observer/avg.py
  llm/experimental/observer/uniform.py
  llm/utils/argument.py
  llm/utils/quant.py
Due: copyright_checker, add-spaces-between-chinese-and-english

paddle::empty to phi::allocator
  csrc/gpu/append_attn/append_attention_kernel.cu
  csrc/gpu/append_attn/helper.h
  csrc/gpu/get_block_shape.cu
  csrc/gpu/split_kv_block.cu
Due: copyright_checker

update
  .pre-commit-config.yaml
  docs/llm/pretraining/dataset.md
  llm/auto_parallel/llama/README.md
  scripts/codestyle/check_dead_links.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update
  docs/llm/dataset.md
  docs/llm/pretraining/index.rst
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

update
  llm/docs/peft.md
Due: add-spaces-between-chinese-and-english

update
  docs/llm/docs/peft.md
Due: add-spaces-between-chinese-and-english

[DOC] Update docs (#9141)
  README.md
  README_en.md
  docs/get_started/installation.rst
Due: add-spaces-between-chinese-and-english

update pre-commit config
  .pre-commit-config.yaml
Due: none

Add replace_additional_special_tokens parameter to add_special_tokens
  paddlenlp/transformers/tokenizer_utils_base.py
  tests/transformers/test_tokenizer_common.py
Due: copyright_checker

update pre-commit config
  scripts/codestyle/check_dead_links.py
Due: copyright_checker

update rst
  docs/index.rst
  docs/llm/config/mixtral/README.md
  docs/llm/docs/pretrain.rst
  llm/config/mixtral/README.md
  llm/docs/pretrain.rst
Due: add-spaces-between-chinese-and-english

fix
  csrc/gpu/sample_kernels/top_p_sampling_reject.cu
  csrc/setup_cuda.py
Due: copyright_checker

[LLM Inference] Qwen2_Moe Support wint4 (#9129)
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

feat: test new pr
  scripts/ci_approval/check_pr_approval.py
Due: copyright_checker

[LLM] add token metrics after regular & save step
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_callback.py
  paddlenlp/trainer/trainer_utils.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
