Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

fix deepseekv2 infra
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

update convert accoding to num_nextn_predict_layers
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

loraga support pp
  paddlenlp/peft/lora/loraga_utils.py
Due: copyright_checker

modify comment
  paddlenlp/peft/lora/loraga_utils.py
Due: copyright_checker

add deepseek-R1
  README.md
Due: add-spaces-between-chinese-and-english

fix expert parallel
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/utils.py
Due: copyright_checker

fix pir for taskflow
  paddlenlp/taskflow/task.py
Due: copyright_checker

add
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

add doc for v100 16G such devices.
  llm/README.md
  llm/config/qwen/dpo_argument_0p5b.json
  llm/config/qwen/lora_argument.json
  llm/config/qwen/lora_argument_0p5b.json
  llm/config/qwen/pt_argument_0p5b.json
  llm/config/qwen/sft_argument_0p5b.json
  llm/config/qwen/sft_argument_0p5b_best.json
  paddlenlp/transformers/configuration_utils.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/gemma/modeling.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/qwen/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/qwen2_moe/modeling.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix split_param for expert parallel
  paddlenlp/trainer/unified_checkpoint/sharding_split_param_utils.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

add modleing_pp
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/deepseek_v2/__init__.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/deepseek_v3/__init__.py
  paddlenlp/transformers/deepseek_v3/modeling_pp.py
  paddlenlp/transformers/qwen2/modeling.py.bk
  paddlenlp/transformers/qwen2_moe/__init__.py
  paddlenlp/transformers/qwen2_moe/modeling_pp.py
Due: copyright_checker

add modleing_pp for qwen2moe
  paddlenlp/transformers/qwen2_moe/modeling.py
  paddlenlp/transformers/qwen2_moe/modeling_pp.py
Due: copyright_checker

Update
  llm/auto_parallel/llama/run_pretrain_auto.py
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker

Update
  llm/auto_parallel/llama/run_llama2_13b_xpu.sh
  run_llama2_13b_4k_pp2.sh
Due: copyright_checker

Update
  llm/auto_parallel/llama/run_llama2_13b_xpu.sh
Due: copyright_checker

refactor: move [flash checkpoint manager] to callback
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
  paddlenlp/trainer/utils/flash_checkpoint.py
Due: copyright_checker

add flashmask and pp for Qwen2MoE and Deepseek
  llm/run_finetune.py
  llm/utils/data.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/deepseek_v3/modeling.py
  paddlenlp/transformers/llama/fusion_ops.py
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/qwen2_moe/modeling.py
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

remove
  paddlenlp/transformers/qwen2/modeling.py.bk
Due: none

fix fast_tokenizer save
  paddlenlp/transformers/tokenizer_utils_base.py
Due: copyright_checker

Update
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker

add lora merge
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

Fix CI errors
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker

update for topk_weight of noaux_tc
  paddlenlp/transformers/moe_gate.py
Due: copyright_checker

update suffix for PIR(ON/OFF)
  llm/predict/predictor.py
  llm/server/docs/deploy_usage_tutorial.md
  llm/server/server/server/engine/infer.py
  paddlenlp/experimental/autonlp/text_classification.py
  paddlenlp/server/predictor.py
  paddlenlp/taskflow/multimodal_feature_extraction.py
  paddlenlp/taskflow/task.py
  paddlenlp/trainer/trainer_compress.py
  paddlenlp/utils/env.py
  scripts/regression/ci_case.sh
  tests/transformers/test_modeling_common.py
Due: copyright_checker, add-spaces-between-chinese-and-english

Disable batch p2p for sft.
  llm/SFT/kw_sft_argument.json
Due: none

add
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

[flashcheckpoint] fix save under dp_degree > 1 with use-expert-parallel
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
  paddlenlp/trainer/utils/flash_checkpoint.py
  paddlenlp/trainer/utils/sharding_io.py
Due: copyright_checker

flask server compatible with OpenAI api.
  llm/predict/flask_server.py
  llm/predict/predictor.py
  llm/predict/request_flask_server.py
Due: copyright_checker

fix and revert skip
  paddlenlp/generation/utils.py
  paddlenlp/transformers/chatglm/modeling.py
  tests/transformers/test_modeling_common.py
Due: copyright_checker

rename model name
  llm/application/information_extraction/README.md
  paddlenlp/taskflow/information_extraction.py
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/taskflow.py
Due: copyright_checker, add-spaces-between-chinese-and-english

Update mixtral.md
  llm/docs/predict/mixtral.md
Due: add-spaces-between-chinese-and-english

fix for flashmask
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix gradio ui.
  llm/README.md
  llm/predict/flask_server.py
  llm/predict/gradio_ui.py
  llm/predict/predictor.py
  llm/predict/request_flask_server.py
Due: copyright_checker, add-spaces-between-chinese-and-english

add use_expert_parallel for pretrain
  llm/run_pretrain.py
Due: copyright_checker

[LLM] fix checkpoint save for non flash mode
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix readme
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
