Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

update
  csrc/paddlenlp_gpu_ops/src/paddlenlp_gpu_ops/triton/inf_cl/ring.py
Due: copyright_checker

fix format
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

rename
  docs/llm/docs/merge_model.md
  docs/llm/docs/mergekit.md
  llm/README.md
  llm/docs/mergekit.md
  llm/tools/mergekit.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update
  paddlenlp/transformers/configuration_utils.py
Due: copyright_checker

[XPU] qwen2 supports fused_rope
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

fix merge docs
  llm/docs/mergekit.md
Due: add-spaces-between-chinese-and-english

rename
  tests/llm/test_mergekit.py
Due: copyright_checker

update LLM_benchmark scripts
  tests/test_tipc/llm/llama2/N1C8/llama2-13b_dpo_bs16_bf16_tp4_sd2_acc16_dygraph.sh
  tests/test_tipc/llm/llama2/N1C8/llama2-13b_lora_bs16_bf16_tp1_sd1_acc4_dygraph.sh
  tests/test_tipc/llm/llama2/N1C8/llama2-13b_sft_bs16_bf16_tp2_pp1_sd4_acc8_dygraphh.sh
  tests/test_tipc/llm/llama2/N1C8/llama2-7b_dpo_bs16_bf16_tp1_sd8_acc4_dygraph.sh
  tests/test_tipc/llm/llama2/N1C8/llama2-7b_lora_bs16_bf16_tp1_pp1_acc4_dygraph.sh
  tests/test_tipc/llm/llama2/N1C8/llama2-7b_sft_bs16_bf16_tp1_pp1_sd8_acc4_dygraph.sh
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-13b/dpo.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-13b/lora.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-13b/sft.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-7b/dpo.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-7b/lora.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-7b/sft.json
  tests/test_tipc/llm/llama2/benchmark_common/run_benchmark.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-14b_dpo_bs16_bf16_tp4_sd2_acc16_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-14b_lora_bs16_bf16_tp1_pp1_sd1_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-14b_sft_bs16_bf16_tp2_pp1_sd4_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-1_5b_dpo_bs16_bf16_tp1_sd1_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-1_5b_lora_bs16_bf16_tp1_pp1_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-1_5b_sft_bs16_bf16_tp1_pp1_sd1_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-7b_dpo_bs16_bf16_tp1_sd8_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-7b_lora_bs16_bf16_tp1_pp1_sd1_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-7b_sft_bs16_bf16_tp1_pp1_sd8_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-14b/dpo.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-14b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-14b/sft.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-1_5b/dpo.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-1_5b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-1_5b/sft.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/dpo.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/sft.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/run_benchmark.sh
Due: copyright_checker

add N4C32
  tests/test_tipc/llm/llama2/N4C32/llama2-70b_dpo_bs16_bf16_tp8_pp1_sd4_acc32_dygraph.sh
  tests/test_tipc/llm/llama2/N4C32/llama2-70b_lora_bs16_bf16_tp4_pp1_acc4_dygraph.sh
  tests/test_tipc/llm/llama2/N4C32/llama2-70b_sft_bs16_bf16_tp8_pp4_sd1_acc32_dygraph.sh
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-70b/dpo.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-70b/lora.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-70b/sft.json
  tests/test_tipc/llm/qwen2_5/N4C32/qwen-qwen2_5-72b_dpo_bs16_bf16_tp8_sd4_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N4C32/qwen-qwen2_5-72b_lora_bs16_bf16_tp8_pp4_sd1_acc32_dygraph.sh
  tests/test_tipc/llm/qwen2_5/N4C32/qwen-qwen2_5-72b_sft_bs16_bf16_tp8_pp4_sd1_acc32_dygraph.sh
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-72b/dpo.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-72b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-72b/sft.json
Due: copyright_checker

fix swiglu
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

fix ut
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

update
  csrc/ops/tests/triton/cut_cross_entropy/test_cce_indexed_dot.py
Due: copyright_checker

update config
  tests/test_tipc/llm/llama2/N1C8/llama2-13b_sft_bs16_bf16_tp2_pp1_sd4_acc8_dygraph.sh
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-14b/dpo.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/dpo.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/sft.json
Due: copyright_checker

[Mthreads] support llama 13B train
  llm/mthreads/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  README.md
Due: add-spaces-between-chinese-and-english

add missing docs
  paddlenlp/trainer/training_args.py
Due: copyright_checker

merge docs 1220
  llm/docs/mergekit.md
Due: add-spaces-between-chinese-and-english

Update unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

支持dp和sd混合的group
  ops/src/ppnlp_kernel/triton/inf_cl/ring.py
Due: copyright_checker

merge docs
  llm/docs/mergekit.md
Due: add-spaces-between-chinese-and-english

update init_dp_sd_comm_group
  ops/src/ppnlp_kernel/triton/inf_cl/ring.py
Due: copyright_checker

[LLM] udate server
  llm/server/client/README.md
  llm/server/client/fastdeploy_client/__init__.py
  llm/server/client/fastdeploy_client/chatbot.py
  llm/server/client/fastdeploy_client/command.py
  llm/server/client/fastdeploy_client/message.py
  llm/server/client/fastdeploy_client/utils.py
  llm/server/client/requirements.txt
  llm/server/client/setup.py
  llm/server/dockerfiles/Dockerfile_serving_cuda118_cudnn8
  llm/server/dockerfiles/Dockerfile_serving_cuda123_cudnn9
  llm/server/docs/deploy_usage_tutorial.md
Due: copyright_checker, add-spaces-between-chinese-and-english

[LLM] udate server
  llm/README.md
Due: add-spaces-between-chinese-and-english

支持paddle_autotune
  ops/README.md
  ops/requirements.txt
  ops/src/paddlenlp_kernel/triton/__init__.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/tl_autotune.py
  ops/src/paddlenlp_kernel/triton/mamba/__init__.py
  ops/src/paddlenlp_kernel/triton/mamba/k_activations.py
  ops/src/paddlenlp_kernel/triton/mamba/layer_norm.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_bmm.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_chunk_scan.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_chunk_state.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_combined.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_state_passing.py
  ops/src/paddlenlp_kernel/triton/triton_patch.py
  ops/tests/triton/mamba/test_layernorm_gated.py
  ops/tests/triton/mamba/test_selective_state_update.py
  ops/tests/triton/mamba/test_ssd.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[Iluvatar] Add readme for llama-13b
  llm/iluvatar/README.md
  llm/iluvatar/run_node4.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

fix
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-14b_sft_bs16_bf16_tp1_pp1_sd8_acc4_dygraph.sh
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-14b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-14b/sft.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-7b/sft.json
Due: copyright_checker

add refined_recompute yaml
  docs/trainer.md
  tests/fixtures/llm/refined_recompute.yaml
Due: add-spaces-between-chinese-and-english

strip op
  paddlenlp/transformers/refined_recompute.py
Due: copyright_checker

update N4C32 config
  tests/test_tipc/llm/llama2/N4C32/llama2-70b_dpo_bs16_bf16_tp8_pp4_sd1_acc32_dygraph.sh
  tests/test_tipc/llm/llama2/N4C32/llama2-70b_lora_bs16_bf16_tp8_pp4_acc32_dygraph.sh
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-70b/dpo.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-70b/lora.json
  tests/test_tipc/llm/llama2/benchmark_common/benchmark_json/llama2-70b/sft.json
  tests/test_tipc/llm/qwen2_5/N4C32/qwen-qwen2_5-72b_dpo_bs16_bf16_tp8_pp4_acc32_dygraph.sh
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-72b/dpo.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-72b/lora.json
  tests/test_tipc/llm/qwen2_5/benchmark_common/benchmark_json/qwen-qwen2_5-72b/sft.json
Due: copyright_checker

refined code
  llm/run_embedding.py
  llm/run_finetune.py
  llm/run_pretrain.py
  paddlenlp/trainer/training_args.py
  paddlenlp/transformers/configuration_utils.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/llama/modeling_pp.py
  paddlenlp/transformers/qwen/modeling.py
  paddlenlp/transformers/qwen/modeling_pp.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/qwen2/modeling_pp.py
  paddlenlp/transformers/refined_recompute.py
  tests/fixtures/llm/refined_recompute.yaml
Due: copyright_checker

fix tied_weights_keys
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/utils.py
  paddlenlp/transformers/llama/modeling_pp.py
  paddlenlp/transformers/qwen2/modeling_pp.py
Due: copyright_checker

update
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

add common models and common params unit test for llm predictor.
  tests/llm/test_models_params_predictor.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
