Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

update download data
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Update auto_trainer.py
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

update tests
  paddlenlp/generation/__init__.py
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/stopping_criteria.py
  paddlenlp/generation/utils.py
  tests/dataaug/test_sentence_aug.py
  tests/generation/test_logits_process.py
  tests/generation/test_stopping_criteria.py
  tests/transformers/test_generation_utils.py
Due: copyright_checker

Update README.md
  README.md
Due: add-spaces-between-chinese-and-english

rm gemm config
  csrc/gpu/moe/fused_moe/cutlass_kernels/cutlass_heuristic.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/gemm_config_manager.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/fused_moe.cu
  csrc/gpu/moe/fused_moe/moe_dispatch.cu
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

add test
  csrc/gpu/moe/fused_moe/moe_speed.py
  csrc/gpu/unittest/test_fused_moe.py
Due: copyright_checker

fix
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

set pp=1 in intermediate test case
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix_test
  paddlenlp/transformers/llama/modeling_network.py
Due: copyright_checker

support reshard attention mask in intermediate_api
  paddlenlp/transformers/llama/modeling_network.py
Due: copyright_checker

add note for mla
  csrc/gpu/mla_attn/mainloop_mma.cuh
  csrc/gpu/unittest/run_mla_benchmark.sh
  csrc/gpu/unittest/test_absorb_mla.py
Due: copyright_checker

支持32B
  llm/alignment/ppo/infer_utils.py
  llm/alignment/ppo/models/ppo_model.py
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/run_ppo.py
  llm/alignment/ppo/trainer_utils.py
  paddlenlp/transformers/qwen2/configuration.py
Due: copyright_checker

update
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

commit
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
  paddlenlp/transformers/conversion_utils.py
  test_moe_ep.py
Due: copyright_checker

sequence parallel支持动态padding到tp的倍数
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/alignment/ppo/ppo_trainer.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

fix
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

update
  docs/llm/application/distill/README.md
  llm/application/distill/README.md
  llm/application/distill/README.txt
  llm/application/distill/distill_data.py
  llm/application/distill/distill_eval.py
  llm/application/distill/distill_model.py
  llm/application/distill/grader.py
  llm/application/distill/run_distill.sh
  llm/application/distill/run_finetune.sh
  llm/application/distill/run_predict.sh
  llm/application/distill/sft_argument.json
Due: copyright_checker, add-spaces-between-chinese-and-english

add_benchmark
  llm/benchmark/serving/run_benchmark_client.sh
  llm/docs/predict/deepseek.md
Due: copyright_checker, add-spaces-between-chinese-and-english

fix glog install
  csrc/setup_cuda.py
Due: copyright_checker

add_benchmark
  llm/docs/predict/deepseek.md
Due: add-spaces-between-chinese-and-english

add
  llm/docs/predict/deepseek.md
Due: add-spaces-between-chinese-and-english

Add fused_topk_to_multihot custom op to prevent CPU stall.
  slm/model_zoo/gpt-3/external_ops/setup.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/topk_to_multihot.cu
  tests/ops/test_topk_to_multihot.py
Due: copyright_checker

[LLM] fix config reload
  llm/server/server/server/data/processor.py
  llm/server/server/server/download_model.py
  llm/server/server/server/engine/config.py
  llm/server/server/server/engine/infer.py
  llm/server/server/server/triton_server.py
  llm/server/server/server/triton_server_helper.py
Due: copyright_checker

close md5 check
  llm/server/server/server/download_model.py
Due: copyright_checker

add yazhu fix
  csrc/gpu/moe/fused_moe/fused_moe.cu
  csrc/gpu/moe/fused_moe/moe/fused_moe_helper.h
  csrc/gpu/moe/fused_moe/moe/fused_moe_op.h
  csrc/gpu/moe/fused_moe/moe_dispatch.cu
  csrc/gpu/moe/fused_moe/moe_ffn.cu
Due: copyright_checker

Update processor.py
  llm/server/server/server/data/processor.py
Due: copyright_checker

Update download_model.py
  llm/server/server/server/download_model.py
Due: copyright_checker

add requirements.txt
  llm/application/distill/requirements.txt
Due: none

fix
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

support fp8 && refine gemm runtime && opt cpu sync in moe
  ops/csrc/fp8/deep_gemm/jit/runtime.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_gate.py
Due: copyright_checker

fix
  csrc/setup_cuda.py
Due: copyright_checker

modify config
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/pretrain-gpt3_13b.json
Due: none

add distributed run
  llm/config/deepseek-v3/pretrain_argument.json
  llm/run.sh
  llm/run_pretrain.py
  llm/script/kill_process.sh
  llm/script/train_gpu.sh
Due: copyright_checker

fix topo
  llm/script/train_gpu.sh
Due: copyright_checker

add distributed print
  llm/script/sync.py
  paddlenlp/trainer/trainer_callback.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
