Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

fix lint
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

fix ci
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

update
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

seed 23
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
Due: none

init.
  llm/alignment/dpo/dpo_argument.py
  llm/alignment/rm/flashmask/reward_argument.py
  llm/auto_parallel/gpt-3/run_pretrain_auto.py
  llm/auto_parallel/llama/run_pretrain_auto.py
  llm/auto_parallel/qwen/run_pretrain_3D_auto.py
  llm/experimental/ernie-3.5-se/run_pretrain.py
  llm/run_pretrain.py
  llm/utils/argument.py
  paddlenlp/trl/sft_config.py
  slm/model_zoo/ernie-1.0/run_pretrain_trainer.py
  slm/model_zoo/t5/t5_run_pretrain_trainer.py
Due: copyright_checker

update readme
  README.md
Due: add-spaces-between-chinese-and-english

mkdir unified_checkpoint directory
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/unified_checkpoint/__init__.py
  paddlenlp/trainer/unified_checkpoint/check_unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/shared_memory_utils.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint_dynamic.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint_locally_load.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint_sharding_v2.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint_single_card.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint_utils.py
Due: copyright_checker

rename file
  paddlenlp/trainer/unified_checkpoint/check_uc.py
  paddlenlp/trainer/unified_checkpoint/uc_dynamic.py
  paddlenlp/trainer/unified_checkpoint/uc_locally_load.py
  paddlenlp/trainer/unified_checkpoint/uc_sharding_v2.py
  paddlenlp/trainer/unified_checkpoint/uc_single_card.py
  paddlenlp/trainer/unified_checkpoint/uc_utils.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

update async handler
  paddlenlp/trainer/unified_checkpoint/async_uc_hander.py
  paddlenlp/trainer/unified_checkpoint/check_uc.py
  paddlenlp/trainer/unified_checkpoint/uc_dynamic.py
  paddlenlp/trainer/unified_checkpoint/uc_locally_load.py
  paddlenlp/trainer/unified_checkpoint/uc_sharding_v2.py
  paddlenlp/trainer/unified_checkpoint/uc_single_card.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

update flashmask
  llm/docs/flashmask.md
Due: add-spaces-between-chinese-and-english

add case of built-in tokenizers to handle CI error
  paddlenlp/transformers/auto/tokenizer.py
Due: copyright_checker

update files
  paddlenlp/trainer/unified_checkpoint/async_handler.py
  paddlenlp/trainer/unified_checkpoint/check_completion.py
  paddlenlp/trainer/unified_checkpoint/load_dynamic.py
  paddlenlp/trainer/unified_checkpoint/load_local.py
  paddlenlp/trainer/unified_checkpoint/load_save_single_card.py
  paddlenlp/trainer/unified_checkpoint/sharding_split_param_utils.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/utils.py
  tests/trainer/test_unified_checkpoint.py
Due: copyright_checker

add MXMACA software stack acquisition path
  llm/metax/llama/README.md
Due: add-spaces-between-chinese-and-english

update doc
  llm/docs/flashmask.md
Due: add-spaces-between-chinese-and-english

update
  llm/docs/flashmask.md
Due: add-spaces-between-chinese-and-english

update async_save_info.json file place
  paddlenlp/trainer/trainer.py
Due: copyright_checker

del old uc.py
  paddlenlp/trainer/plugins/unified_checkpoint.py
Due: copyright_checker

add llama and nv-embed training
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/eval_mteb.py
  slm/pipelines/examples/contrastive_training/evaluation/__init__.py
  slm/pipelines/examples/contrastive_training/evaluation/benchmarks.py
  slm/pipelines/examples/contrastive_training/evaluation/mteb/mteb_models.py
  slm/pipelines/examples/contrastive_training/evaluation/mteb/mteb_models_nv.py
  slm/pipelines/examples/contrastive_training/evaluation/prediction.py
  slm/pipelines/examples/contrastive_training/models/modeling.py
  slm/pipelines/examples/contrastive_training/models/modeling_nv.py
  slm/pipelines/examples/contrastive_training/train.py
Due: copyright_checker, add-spaces-between-chinese-and-english

add llama and nv-embed training
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/eval_mteb.py
  slm/pipelines/examples/contrastive_training/models/modeling.py
  slm/pipelines/examples/contrastive_training/models/modeling_nv.py
  slm/pipelines/examples/contrastive_training/train.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix lint
  paddlenlp/trainer/unified_checkpoint/async_handler.py
  paddlenlp/trainer/unified_checkpoint/load_local.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/utils.py
Due: copyright_checker

update load non-merge
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

feat(align_mode):add gpt_13b align_mode
  paddlenlp/transformers/gpt/modeling.py
  paddlenlp/transformers/gpt/modeling_auto.py
Due: copyright_checker

fix
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

add mgpu ci
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint_quantization.py
  tests/fixtures/llm/finetune.yaml
  tests/llm/test_finetune.py
Due: copyright_checker

update QR code
  README.md
  README_en.md
Due: add-spaces-between-chinese-and-english

fix readme
  README.md
Due: add-spaces-between-chinese-and-english

fix parameter calculation in auto_parallel mode
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix ci
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  tests/llm/test_finetune.py
Due: copyright_checker

multi thread loading
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/unified_checkpoint/async_handler.py
  paddlenlp/trainer/unified_checkpoint/quantization.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

fix llm/alignment/rm/flashmask/run_reward.py
  llm/alignment/rm/flashmask/run_reward.py
Due: copyright_checker

[Unified Checkpoint] Add split param and refactor code (#9240)
  paddlenlp/trainer/plugins/unified_checkpoint.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
  paddlenlp/trainer/unified_checkpoint/__init__.py
  paddlenlp/trainer/unified_checkpoint/async_handler.py
  paddlenlp/trainer/unified_checkpoint/check_completion.py
  paddlenlp/trainer/unified_checkpoint/load_dynamic.py
  paddlenlp/trainer/unified_checkpoint/load_local.py
  paddlenlp/trainer/unified_checkpoint/load_save_single_card.py
  paddlenlp/trainer/unified_checkpoint/sharding_split_param_utils.py
  paddlenlp/trainer/unified_checkpoint/shared_memory_utils.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/trainer/unified_checkpoint/utils.py
  paddlenlp/utils/nested.py
  tests/trainer/test_unified_checkpoint.py
Due: copyright_checker

[Unified Checkpoint] update non-merge checkpoint loading, move async_save_info.json location (#9321)
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
Due: copyright_checker

set save step equals 5000
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
Due: none

add mos lora
  llm/nohup.out
  llm/run_finetune.py
  llm/tools/merge_lora_params.py
  llm/utils/argument.py
  paddlenlp/peft/lora/lora_config.py
  paddlenlp/peft/lora/lora_layers.py
  paddlenlp/peft/lora/lora_model.py
  tests/fixtures/llm/mos_lora.yaml
  tests/llm/test_mos_lora.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
