Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

[Feature] fused mixtral wint4 (#9013)
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
Due: copyright_checker

update quantization.md
  llm/docs/quantization.md
Due: add-spaces-between-chinese-and-english

fix use paddle.incubate.jit.inference(model) errors
  paddlenlp/transformers/utils.py
Due: copyright_checker

add 4bit quant
  llm/ben_tmp.sh
  llm/config/llama/ARC-Challenge.json
  llm/config/llama/ARC-Easy.json
  llm/config/llama/boolq.json
  llm/config/llama/data.json
  llm/config/llama/hellaswag.json
  llm/config/llama/piqa.json
  llm/config/llama/winogrande.json
  llm/qdq.py
  paddlenlp/trainer/plugins/unified_checkpoint.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

support qwen-moe inference model
  csrc/generation/step.cu
  csrc/xpu/README.md
  llm/gcu/llama/README.md
  llm/gcu/llama/predict_llama_gcu.sh
  llm/run_finetune.py
  llm/xpu/llama/README.md
  paddlenlp/datasets/zero_padding_dataset.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/utils/ckpt_converter.py
  paddlenlp/transformers/qwen/modeling.py
  scripts/distribute/ci_case_auto.sh
  tests/dataset/test_zero_padding.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update_pp
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/chatglm_v2/modeling.py
  paddlenlp/transformers/chatglm_v2/modeling_pp.py
Due: copyright_checker

qwen_moe inference model
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/__init__.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

remove quant debug
  llm/docs/quantization.md
  llm/run_finetune.py
Due: copyright_checker, add-spaces-between-chinese-and-english

supprot qwen-moe
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/__init__.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

compatible with flashmask API rename upgrade
  paddlenlp/transformers/llama/fusion_ops.py
Due: copyright_checker

llm inference docs (#8976)
  README.md
  docs/llm/docs/inference.md
  llm/README.md
  llm/docs/dcu_install.md
  llm/docs/inference.md
  llm/docs/predict/best_practices.md
  llm/docs/predict/inference.md
  llm/docs/predict/installation.md
  llm/docs/predict/llama.md
  llm/docs/predict/mixtral.md
  llm/docs/predict/qwen.md
Due: add-spaces-between-chinese-and-english

add cutlass fp8 gemm auto tune
  csrc/generate_code_gemm_fused_kernels.py
  csrc/generation/cutlass_kernels/cutlass_helper.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.cu
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fp8_fp8_gemm_scale_bias_act.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fuse_gemm_gelu_template.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fuse_gemm_noact_template.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/fuse_gemm_relu_template.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_gelu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_relu.h
  csrc/generation/cutlass_kernels/fp8_gemm_fused/gemm_scale_gelu.h
  csrc/generation/fp8_gemm_with_cutlass/fp8_common.h
  csrc/generation/fp8_gemm_with_cutlass/fp8_fp8_fp8_dual_gemm.cu
  csrc/generation/fp8_gemm_with_cutlass/fp8_fp8_half_gemm.cu
  csrc/generation/helper.h
  csrc/generation/json.hpp
  csrc/generation/test_fp8_gemm.py
  csrc/generation/test_fp8gemm.py
  csrc/setup_cuda.py
  csrc/tune_fp8_gemm.sh
Due: copyright_checker

fix quant
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/experimental/ceval/default/eval.py
  llm/experimental/layers/custom_attention.py
  llm/utils/quant.py
  paddlenlp/transformers/llama/modeling.py
Due: copyright_checker

fix
  csrc/generate_code_gemm_fused_kernels.py
Due: copyright_checker

update llama and qwen quant config
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/w8a8c8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/experimental/ceval/default/eval.py
  llm/experimental/layers/custom_attention.py
  llm/run_finetune.py
  llm/utils/quant.py
  paddlenlp/transformers/llama/modeling.py
Due: copyright_checker

fix ceval for quant model
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/run_finetune.py
  llm/utils/quant.py
Due: copyright_checker

remove useless file
  llm/predict.sh
Due: copyright_checker

delete_pp
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/chatglm_v2/__init__.py
  paddlenlp/transformers/chatglm_v2/modeling_pp.py
Due: copyright_checker

[Auto Parallel] Adding align mode support
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
  paddlenlp/utils/align_utils.py
Due: copyright_checker

fix_flash_attention and seed_guard
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

fix bos download
  paddlenlp/utils/download/bos_download.py
Due: copyright_checker

supprot qwen-moe (#8892)
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/__init__.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

fix conflict of quant_type
  llm/config/llama/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/llama/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/llama/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/w8a8_ptq_argument.json
  llm/config/llama/ceval/w8a8c8_ptq_argument.json
  llm/config/llama/ceval/wfp8afp8_ptq_argument.json
  llm/config/llama/ptq_c8_argument.json
  llm/config/qwen/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8c8_ptq_argument.json
  llm/config/qwen/ceval/wfp8afp8_ptq_argument.json
  llm/docs/quantization.md
  llm/run_finetune.py
  llm/utils/argument.py
  llm/utils/quant.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix gemma tokenizer
  paddlenlp/transformers/gemma/tokenizer.py
Due: copyright_checker

fix quant_type conflict
  llm/config/llama/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/llama/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/llama/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/w8a8_ptq_argument.json
  llm/config/llama/ceval/w8a8c8_ptq_argument.json
  llm/config/llama/ceval/wfp8afp8_ptq_argument.json
  llm/config/llama/ptq_c8_argument.json
  llm/config/qwen/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8c8_ptq_argument.json
  llm/config/qwen/ceval/wfp8afp8_ptq_argument.json
  llm/docs/quantization.md
  llm/run_finetune.py
  llm/utils/argument.py
  llm/utils/quant.py
  llm/utils/utils.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix llama tokenzier
  paddlenlp/transformers/llama/tokenizer.py
Due: copyright_checker

revert llama tokenizer
  paddlenlp/transformers/llama/tokenizer.py
Due: copyright_checker

solve hint error
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

fix _decode
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

fix llama3 static run
  llm/predict/predictor.py
Due: copyright_checker

update cpu inference
  csrc/cpu/0001-fp16_bf16.patch
  csrc/cpu/0001-fp32.patch
  csrc/cpu/0001-patch-fp16-and-bf16.patch
  csrc/cpu/0001-patch-fp32.patch
  csrc/cpu/README.md
  csrc/cpu/setup.sh
  csrc/cpu/src/avx_weight_only.cc
  csrc/cpu/src/setup_cpu.py
  csrc/cpu/src/token_penalty_multi_scores.cc
  csrc/cpu/src/xft_greedy_search.cc
  csrc/cpu/src/xft_llama_layer.cc
  csrc/cpu/src/xft_transformer.cc
  llm/docs/cpu_install.md
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/generation_utils.py
  paddlenlp/experimental/transformers/llama/modeling.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update_flashattention
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

[Cherry-pick] Add is_distributed field in sharding reshard param_meta
  paddlenlp/trainer/utils/sharding_io.py
Due: copyright_checker

fix checker position for nan/inf
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix check naninf position
  paddlenlp/trainer/trainer.py
Due: copyright_checker

add comm buffer size (#8963)
  paddlenlp/trainer/training_args.py
Due: copyright_checker

1. add a8w8(fp8) a8w8c8(int8) quant_type support 2. add llama3.1 and qwen2 ptq config 3. update quantization.md
  llm/README.md
  llm/config/llama/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/llama/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/llama/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/w8a8_ptq_argument.json
  llm/config/llama/ceval/w8a8c8_ptq_argument.json
  llm/config/llama/ceval/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval_ptq_argument.json
  llm/config/llama/fp8_ptq_argument.json
  llm/config/llama/ptq_c8_argument.json
  llm/config/qwen/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8c8_ptq_argument.json
  llm/config/qwen/ceval/wfp8afp8_ptq_argument.json
  llm/docs/assets/quant_result.png
  llm/docs/quantization.md
  llm/experimental/ceval/default/eval.py
  llm/experimental/ceval/default/evaluator.py
  llm/experimental/ceval/default/model_evaluator.py
  llm/experimental/ceval/default/subject_mapping.json
  llm/experimental/ceval/prepare_data_for_ptq.py
  llm/experimental/layers/cache_kv.py
  llm/experimental/layers/custom_attention.py
  llm/experimental/observer/abs_max_headwise.py
  llm/experimental/observer/avg_headwise.py
  llm/experimental/observer/channel_wise.py
  llm/experimental/observer/mse.py
  llm/experimental/observer/static.py
  llm/run_finetune.py
  llm/utils/argument.py
  llm/utils/quant.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker, add-spaces-between-chinese-and-english

apply fused_bias_act api
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix load_quant_model bug
  llm/utils/quant.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
