Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

fix
  scripts/distribute/run_ci.sh
Due: copyright_checker

[LLM] 更新部署文档
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

[LLM] 服务化部署文档
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

get dtensor from ShardDataloader and acc split
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

update
  docs/llm/docs/predict/index.rst
Due: none

EP support, MTP fix
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

Fix eval pp bug when do_train is false
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Default set FLAGS_cascade_attention_max_partition_size as 32K
  csrc/gpu/env.h
Due: copyright_checker

add deepep for deepseekv3
  llm/config/deepseek-v3/pretrain_argument.json
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

remove print
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

[LLM] 服务化部署文档
  llm/server/docs/general_model_inference.md
Due: add-spaces-between-chinese-and-english

add deterministic flag
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update inference
  llm/run_finetune.py
  paddlenlp/transformers/longlora.py
  tests/fixtures/llm/longlora.yaml
  tests/llm/test_longlora.py
Due: copyright_checker

update doc
  llm/docs/predict/inference.md
  llm/docs/predict/speculative_decoding.md
Due: add-spaces-between-chinese-and-english

update version
  paddlenlp/__init__.py
  setup.py
Due: copyright_checker

update test longlora
  tests/longlora/test_longlora.py
Due: copyright_checker

add alltoall backward
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

update spec docs
  llm/docs/predict/inference.md
  llm/docs/predict/speculative_decoding.md
Due: add-spaces-between-chinese-and-english

update doc (#10014)
  llm/docs/predict/inference.md
  llm/docs/predict/speculative_decoding.md
Due: add-spaces-between-chinese-and-english

update test
  tests/longlora/test_longlora.py
Due: copyright_checker

update generation
  paddlenlp/generation/__init__.py
  paddlenlp/generation/beam_constraints.py
  paddlenlp/generation/beam_search.py
  paddlenlp/generation/candidate_generator.py
  paddlenlp/generation/configuration_utils.py
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/stopping_criteria.py
  paddlenlp/generation/streamers.py
  paddlenlp/generation/utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/cache_utils.py
  paddlenlp/utils/deprecation.py
  paddlenlp/utils/doc.py
  paddlenlp/utils/modeling_outputs.py
Due: copyright_checker

add_config
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.py
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
  paddlenlp/transformers/deepseek_v3/modeling_auto.py
  paddlenlp/transformers/moe_layer_auto.py
Due: copyright_checker

fix bugs
  tests/llm/test_lora.py
Due: copyright_checker

new
  README.md
Due: add-spaces-between-chinese-and-english

update
  README.md
Due: add-spaces-between-chinese-and-english

fix
  csrc/setup.py
  scripts/regression/ci_case.sh
  setup.py
Due: copyright_checker

fix all2all bwd
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fuse all sageattn kernels & unified API entry
  csrc/gpu/sage_attn_kernels/sageattn_fused.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_dsk_kernel_sm90.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
Due: copyright_checker

update_config
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.sh
Due: copyright_checker

Rename dtensor_idx to dense_tensor_idx
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

remove files
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/sageattention.py
Due: copyright_checker

bug fix
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_dsk_kernel_sm90.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

update paddlenlp_ops whl_name
  csrc/tools/build_wheel.sh
Due: copyright_checker

upload header file
  csrc/gpu/sage_attn_kernels/sageattn_fused.cuh
Due: none

save
  csrc/gpu/moe/fused_moe/moe_ffn.cu
Due: copyright_checker
