Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

fix mla split_kv
  csrc/gpu/mla_attn/attention_updater.cuh
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.cu
  csrc/gpu/mla_attn/epilogue.cuh
  csrc/gpu/mla_attn/kernel_traits.cuh
  csrc/gpu/mla_attn/mainloop_mma.cuh
  csrc/gpu/mla_attn/mla_hopper.cuh
  csrc/gpu/mla_attn/utils.cuh
  csrc/gpu/unittest/test_absorb_mla.py
Due: copyright_checker

use_flash_attention false
  llm/config/deepseek-v3/lora_argument.json
Due: none

support write cache
  csrc/gpu/append_attn/mla_cache_kernel.cu
  csrc/gpu/append_attn/mla_cache_kernel.cuh
  csrc/gpu/unittest/test_absorb_mla.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_kernels_all.cu
Due: copyright_checker

fix sa usage
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

expert parallel in static auto parallel
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.py
  paddlenlp/transformers/auto_utils.py
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
  paddlenlp/transformers/deepseek_v3/modeling_auto.py
Due: copyright_checker

init md.
  llm/docs/predict/deepseek.md
Due: add-spaces-between-chinese-and-english

add doc.
  llm/docs/predict/deepseek.md
Due: add-spaces-between-chinese-and-english

Optimize code of expert dispatch
  paddlenlp/transformers/conversion_utils.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

add grpo doc and config
  llm/alignment/ppo/README.md
  llm/alignment/ppo/run_ppo.py
  llm/config/llama/grpo_argument.json
Due: copyright_checker, add-spaces-between-chinese-and-english

add links.
  README.md
  docs/llm/docs/predict/deepseek.md
  docs/llm/docs/predict/models.rst
  llm/README.md
  llm/docs/predict/inference.md
  llm/docs/predict/installation.md
  llm/server/README.md
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

update ppo
  llm/alignment/ppo/README.md
  llm/config/llama/grpo_argument.json
  llm/config/qwen/grpo_argument.json
Due: add-spaces-between-chinese-and-english

rm sm90 cutalss 3.8 will error
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/generated_kernels/gemm_grouped/cutlass_kernel_file_1.generated.sm90.delete
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/generated_kernels/gemm_grouped/cutlass_kernel_file_2.generated.cu
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/generated_kernels/gemm_grouped/cutlass_kernel_file_3.generated.cu
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/generated_kernels/gemm_grouped/cutlass_kernel_file_4.generated.cu
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/generated_kernels/gemm_grouped/cutlass_kernel_file_5.generated.cu
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_kernels_1.cu
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_kernels_2.cu
  csrc/gpu/moe/tensorrt-llm-moe/moe/moe_tune_and_speed.py
Due: copyright_checker

update
  llm/alignment/ppo/README.md
  llm/config/llama/grpo_argument.json
  llm/config/qwen/grpo_argument.json
Due: add-spaces-between-chinese-and-english

update
  llm/alignment/ppo/README.md
Due: add-spaces-between-chinese-and-english

update
  llm/alignment/ppo/README.md
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/run_ppo.py
  llm/config/llama/grpo_argument.json
  llm/config/qwen/grpo_argument.json
Due: copyright_checker, add-spaces-between-chinese-and-english

lint
  llm/alignment/ppo/client.py
  llm/alignment/ppo/run_ppo.py
Due: copyright_checker

update doc
  llm/alignment/ppo/README.md
Due: add-spaces-between-chinese-and-english

skip ci
  tests/llm/test_ppo.py
Due: copyright_checker

bugfix
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

write spec cache
  csrc/gpu/append_attn/mla_cache_kernel.cu
  csrc/gpu/append_attn/mla_cache_kernel.cuh
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix infer.py mla_absorb
  llm/predict/export_model.py
  llm/server/server/server/engine/infer.py
Due: copyright_checker

fuse noaux_tc
  csrc/gpu/noaux_tc.cu
  csrc/gpu/noauxtc_kernel.h
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

modify, for static mode inference SA
  csrc/gpu/sage_attn_kernels/sageattn_fused.cu
  paddlenlp/experimental/transformers/sageattention.py
Due: copyright_checker

fix server
  llm/server/server/server/engine/config.py
  llm/server/server/server/engine/infer.py
Due: copyright_checker

update the custom ops
  llm/server/server/server/engine/token_processor.py
  paddlenlp/custom_ops/custom_ops.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

update cuda setup
  setup_cuda_tools.py
Due: copyright_checker

fix dybatch
  csrc/gpu/get_position_ids_and_mask_encoder_batch.cu
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix start_server.sh
  llm/server/server/scripts/start_server.sh
Due: copyright_checker

[LLM] 支持
  llm/server/server/scripts/deploy_llm.sh
  llm/server/server/scripts/download_model.py
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/engine/config.py
  llm/server/server/server/engine/engine.py
  llm/server/server/server/http_server/app.py
  llm/server/server/server/triton_server.py
  llm/server/server/server/triton_server_helper.py
Due: copyright_checker

support mtp with new version
  llm/server/server/server/engine/config.py
  llm/server/server/server/engine/infer.py
  paddlenlp/experimental/transformers/proposers.py
Due: copyright_checker

optimize moe expert dispatch
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

remove redunctant code.
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

forward pass.
  paddlenlp/transformers/minimax_text_01/modeling.py
Due: copyright_checker

fix formate
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/ops/moe/fused_moe_triton/fused_moe.py
Due: copyright_checker

[LLM] 支持服务自动部署，修改环境变量名称
  llm/server/server/scripts/deploy_llm.sh
  llm/server/server/scripts/download_model.py
Due: copyright_checker

[LLM] 支持服务自动部署，修改环境变量名称
  llm/server/server/scripts/deploy_llm.sh
Due: copyright_checker

fix mtp dynamic bug
  llm/predict/predictor.py
Due: copyright_checker

add_mmlu
  llm/benchmark/mmlu/bench_mmlu.py
  llm/benchmark/mmlu/run_mmlu.sh
Due: copyright_checker

update
  llm/benchmark/mmlu/run_mmlu.sh
Due: copyright_checker
