Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

update
  llm/auto_parallel/llama/llama_dpo_with_api.sh
  llm/auto_parallel/run_dpo_auto.py
  paddlenlp/trl/trl_data.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update
  llm/alignment/dpo/dpo_argument.py
  llm/auto_parallel/llama/llama_dpo_with_api.sh
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

cpu install fix
  csrc/cpu/setup.sh
  csrc/cpu/src/avx_weight_only.cc
  csrc/cpu/src/stop_generation_multi_ends.cc
Due: copyright_checker

update
  paddlenlp/transformers/dpo_criterion.py
Due: copyright_checker

fix bug
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

Remove dependency on FP8 when using BF16
  paddlenlp/transformers/deepseek_v2/fp8_linear.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

support overlap for fusion moe
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/fused_a2a.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fused_moe, fused_rope, bf16 weight_quant
  csrc/xpu/src/fused_rotary_position_encoding.cc
  csrc/xpu/src/gather_next_token.cc
  csrc/xpu/src/mla_block_multihead_attention_xpu_v2.cc
  csrc/xpu/src/moe_fused.cc
  csrc/xpu/src/plugin/include/xpu/plugin.h
  csrc/xpu/src/plugin/src/kernel/kunlun3cpp/fused_rotary_position_encoding.xpu
  csrc/xpu/src/plugin/src/kernel/kunlun3cpp/update_repeat_times.xpu
  csrc/xpu/src/plugin/src/wrapper/fused_rotary_position_encoding.cpp
  csrc/xpu/src/setup.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix triton moe bugs
  paddlenlp/ops/triton_ops/triton_utils.py
Due: copyright_checker

refactor docs.
  docs/get_started/generate.md
  docs/get_started/inference.md
  docs/get_started/installation.rst
  docs/get_started/training.md
  docs/hot_model.md
  docs/index.rst
Due: add-spaces-between-chinese-and-english

update eval script
  llm/application/distill/prepare_data.py
  llm/application/distill/run_eval.sh
  llm/application/distill/sft_argument.json
  llm/docs/predict/inference.md
Due: copyright_checker, add-spaces-between-chinese-and-english

update results in readme
  slm/pipelines/examples/contrastive_training/README.md
Due: add-spaces-between-chinese-and-english

add library function
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_dsk_kernel_sm90.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
  csrc/gpu/sage_attn_kernels/sageattn_utils.cuh
Due: copyright_checker

add default config
  llm/config/deepseek-v3/pretrain_argument.json
  llm/model_config/DeepSeek-V3-min/config.json
  llm/model_config/DeepSeek-V3-mini/config.json
  llm/model_config/DeepSeek-V3-mini/tokenizer.json
  llm/model_config/DeepSeek-V3-mini/tokenizer_config.json
  llm/model_config/DeepSeek-V3/config.json
  llm/model_config/DeepSeek-V3/tokenizer.json
  llm/model_config/DeepSeek-V3/tokenizer_config.json
  llm/run.sh
  llm/run_pretrain.py
Due: copyright_checker

add default config
  llm/config/deepseek-v3/pretrain_argument.json
  llm/model_config/DeepSeek-V3-test/config.json
  llm/model_config/DeepSeek-V3-test/tokenizer.json
  llm/model_config/DeepSeek-V3-test/tokenizer_config.json
Due: none

add default config
  llm/model_config/DeepSeek-V3-min/config.json
Due: none

Refine typos.
  docs/get_started/inference.md
  docs/hot_model.md
  docs/index.rst
  docs/llm/docs/llm_trainer.rst
  llm/docs/flashmask.md
  llm/docs/torch2paddle.md
Due: add-spaces-between-chinese-and-english

support first_k_dense_replace for dualpipe
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

support dcu pa
  csrc/gpu/helper.h
  csrc/gpu/paged_attention.cc
  csrc/setup_hip.py
Due: copyright_checker

optimize umpermuation and mlp memory
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

fix
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

add recall_at_10
  slm/pipelines/examples/contrastive_training/README.md
Due: add-spaces-between-chinese-and-english

update
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

tmp commit
  csrc/gpu/sage_attn_kernels/sageattn_fused.cuh
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
Due: copyright_checker

support PagedAttention prefix in compute_mla_absorb with dcu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/ops/triton_ops/paged_attn.py
  paddlenlp/ops/triton_ops/prefix_prefill.py
Due: copyright_checker

fix maxseqlen to 4097
  llm/config/deepseek-v3/pretrain_argument.json
Due: none

update recall_10 to readme
  slm/pipelines/examples/contrastive_training/README.md
Due: add-spaces-between-chinese-and-english

Add fp8 support for regroup op.
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/regroup_tokens.cu
Due: copyright_checker

Add deepep timer.
  llm/config/deepseek-v3/pretrain_argument.json
  llm/script/kill_process.sh
  llm/script/train_gpu.sh
  paddlenlp/trainer/trainer.py
  paddlenlp/transformers/deepep_timer.py
  paddlenlp/transformers/deepseek_v2/fp8_linear.py
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/fused_a2a.py
Due: copyright_checker

add op reshape_and_cache for dcu paged_attention
  csrc/gpu/cache_kernels.cu
  csrc/gpu/helper.h
  csrc/setup_hip.py
Due: copyright_checker

update
  llm/auto_parallel/README.md
Due: add-spaces-between-chinese-and-english

fix pir problem
  paddlenlp/utils/__init__.py
Due: copyright_checker

update recall_10
  slm/pipelines/examples/contrastive_training/README.md
Due: add-spaces-between-chinese-and-english

fix src_length when --benchmark
  llm/predict/predictor.py
Due: copyright_checker

update
  llm/alignment/ppo/comm_utils.py
  llm/alignment/ppo/offload_utils.py
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/run_ppo.py
Due: copyright_checker
