Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

Update README.md
  README.md
Due: add-spaces-between-chinese-and-english

update code example path hint
  llm/auto_parallel/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/application/information_extraction/README.md
Due: add-spaces-between-chinese-and-english

move line
  llm/auto_parallel/README.md
Due: add-spaces-between-chinese-and-english

change name style
  llm/auto_parallel/README.md
Due: add-spaces-between-chinese-and-english

delete ppo
  llm/auto_parallel/README.md
Due: add-spaces-between-chinese-and-english

normalize task name
  llm/auto_parallel/README.md
Due: add-spaces-between-chinese-and-english

cherry-pick fix paddle.where
  paddlenlp/transformers/llama/modeling.py
Due: copyright_checker

update tests
  paddlenlp/generation/logits_process.py
  tests/generation/test_logits_process.py
  tests/generation/test_stopping_criteria.py
  tests/generation/test_streamers.py
Due: copyright_checker

fix gpt json config
  llm/auto_parallel/gpt-3/pretrain_argument.json
  llm/auto_parallel/gpt-3/run_pretrain_auto.sh
Due: copyright_checker

recover qwen debug file
  llm/auto_parallel/qwen/run_pretain_auto.sh
Due: copyright_checker

fix serving allocate block bug
  llm/server/server/server/engine/infer.py
Due: copyright_checker

delete run_pretrain_auto.sh
  llm/auto_parallel/gpt-3/run_pretrain_auto.sh
Due: copyright_checker

fix_1
  slm/examples/contrastive_learning/README.md
  slm/examples/contrastive_learning/clean_query.py
  slm/examples/contrastive_learning/embedding_evaluate.py
  slm/examples/contrastive_learning/mining_negative_samples.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix_2
  slm/examples/contrastive_learning/clean_query.py
Due: copyright_checker

fix_3
  slm/examples/contrastive_learning/clean_query.py
Due: copyright_checker

refine deep_gemm __call__
  ops/csrc/fp8/deep_gemm/jit/runtime.py
Due: copyright_checker

refine padding for deep_gemm
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

optimize mla to get best performance
  csrc/gpu/append_attn/get_block_shape_and_split_kv_block.cu
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.cu
  csrc/gpu/mla_attn/epilogue.cuh
  csrc/gpu/mla_attn/mainloop_load.cuh
  csrc/gpu/mla_attn/mainloop_mma.cuh
  csrc/gpu/mla_attn/mla_hopper.cuh
  csrc/gpu/mla_attn/mla_hopper_wg4.cuh
  csrc/gpu/mla_attn/utils.cuh
  csrc/gpu/multi_head_latent_attention.cu
  csrc/gpu/unittest/run_mla_benchmark.sh
  csrc/gpu/unittest/run_test_mla.sh
  csrc/gpu/unittest/test_absorb_mla.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

add fused_moe
  csrc/gpu/moe/fused_moe/moe/fused_moe_helper.h
  csrc/gpu/moe/fused_moe/moe_dispatch.cu
  csrc/gpu/moe/fused_moe/moe_reduce.cu
  csrc/gpu/moe/fused_moe/moe_speed.py
  csrc/setup_cuda.py
Due: copyright_checker

refine for manual backward
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/moe_utils.py
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

opt moe_gating
  paddlenlp/transformers/moe_gate.py
Due: copyright_checker

fix
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.h
  csrc/gpu/mla_attn/mla_hopper_wg4.cuh
  csrc/gpu/unittest/test_absorb_mla.py
Due: copyright_checker

update proxy
  scripts/regression/ci_case.sh
  scripts/unit_test/ci_unit.sh
Due: copyright_checker

fix
  scripts/regression/ci_case.sh
Due: copyright_checker

[LLM] fix speculate_decoding output bug
  llm/server/server/server/engine/token_processor.py
Due: copyright_checker

refine numel
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

add glog third party
  .gitmodules
  csrc/gpu/helper.h
  csrc/gpu/moe/fused_moe/moe/fused_moe_helper.h
  csrc/setup_cuda.py
Due: copyright_checker

add fused_moe
  csrc/gpu/moe/fused_moe/fused_moe.cu
Due: copyright_checker

formar code style
  csrc/gpu/moe/fused_moe/cutlass_kernels/cutlass_heuristic.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/fused_moe.cu
  csrc/gpu/moe/fused_moe/moe/fused_moe_helper.h
Due: copyright_checker

fix
  csrc/setup_cuda.py
Due: copyright_checker
