Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

fix link.
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

add flask server doc.
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

refine
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
Due: copyright_checker

fix typo.
  llm/README.md
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

MTP
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

update deafult config
  paddlenlp/transformers/deepseek_v2/configuration.py
Due: copyright_checker

fix.
  llm/README.md
  llm/predict/predictor.py
Due: copyright_checker, add-spaces-between-chinese-and-english

polish FC memory
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/utils/flash_checkpoint.py
Due: copyright_checker

support intermediate_api baichuan, gpt and qwen test
  tests/test_tipc/static/auto_parallel/baichuan2/N4C32/intermediate_api_baichuan-inc-baichuan-2-13b_pretrain_dy2st_bs128_bf16_DP1_MP4_PP2_1F1B_Sharding4_Stage1.sh
  tests/test_tipc/static/auto_parallel/baichuan2/benchmark_common/run_benchmark.sh
  tests/test_tipc/static/auto_parallel/baichuan2/pretrain_config_baichuan2_13b/intermediate_api_pretrain-baichuan2_13b.json
  tests/test_tipc/static/auto_parallel/gpt3/N4C32/intermediate_api_gpt-3-13b_pretrain_dy2st_bs128_bf16_DP1_MP4_PP1_1F1B_Sharding8_Stage1.sh
  tests/test_tipc/static/auto_parallel/gpt3/benchmark_common/run_benchmark.sh
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/intermediate_api_pretrain-gpt3_13b.json
  tests/test_tipc/static/auto_parallel/qwen/N4C32/intermediate_api_qwen-14b_pretrain_dy2st_bs128_bf16_DP1_MP2_PP4_1F1B_Sharding4_Stage1.sh
  tests/test_tipc/static/auto_parallel/qwen/benchmark_common/run_benchmark.sh
  tests/test_tipc/static/auto_parallel/qwen/pretrain_config_qwen_14b/intermediate_api_pretrain-qwen_14b.json
Due: copyright_checker

rm
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/intermediate_api-llama2_13b.json
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_7b/intermediate_api-llama2_7b.json
Due: none

suppport intermediate_api llama test
  tests/test_tipc/static/auto_parallel/llama2/N4C32/intermediate_api_meta-llama-Llama-2-13b_pretrain_dy2st_bs32_bf16_DP1_MP1_PP4_VPP5_Sharding8_Stage2.sh
  tests/test_tipc/static/auto_parallel/llama2/N4C32/intermediate_api_meta-llama-Llama-2-70b_pretrain_dy2st_bs32_bf16_DP1_MP8_PP4_VPP5.sh
  tests/test_tipc/static/auto_parallel/llama2/N4C32/intermediate_api_meta-llama-Llama-2-7b_pretrain_dy2st_bs32_bf16_Sharding32_Stage2.sh
  tests/test_tipc/static/auto_parallel/llama2/benchmark_common/run_benchmark.sh
Due: copyright_checker

fix ci
  tests/taskflow/test_text_classification.py
Due: copyright_checker

add config
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/intermediate_api_pretrain-llama2_13b.json
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_7b/intermediate_api_pretrain-llama2_7b.json
Due: none

modify max steps
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/intermediate_api_pretrain-llama2_13b.json
Due: none

model with new tab.
  docs/llm/docs/predict/index.rst
  docs/llm/docs/predict/models.rst
Due: none

modify steps
  tests/test_tipc/static/auto_parallel/baichuan2/pretrain_config_baichuan2_13b/intermediate_api_pretrain-baichuan2_13b.json
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/intermediate_api_pretrain-gpt3_13b.json
  tests/test_tipc/static/auto_parallel/qwen/pretrain_config_qwen_14b/intermediate_api_pretrain-qwen_14b.json
Due: none

disable if not supported.
  llm/predict/predictor.py
  paddlenlp/experimental/__init__.py
Due: copyright_checker

suppoort_deepseekv2_autoparallel_with_DP/MP
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.py
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/modeling_network.py
Due: copyright_checker

poolish
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.py
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
  paddlenlp/transformers/deepseek_v2/modeling_network.py
Due: copyright_checker

remove_env_set
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
Due: copyright_checker

update MTP
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

add local_layer in moe layer
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.py
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
  paddlenlp/transformers/moe_gate_auto.py
  paddlenlp/transformers/moe_layer_auto.py
Due: copyright_checker

fix previous bug
  paddlenlp/transformers/llm_embed/modeling.py
Due: copyright_checker

update seq_aux_loss
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix
  tests/test_tipc/static/auto_parallel/llama2/N4C32/intermediate_api_meta-llama-Llama-2-13b_pretrain_dy2st_bs32_bf16_DP1_MP1_PP4_VPP5_Sharding8_Stage2.sh
  tests/test_tipc/static/auto_parallel/llama2/N4C32/intermediate_api_meta-llama-Llama-2-70b_pretrain_dy2st_bs32_bf16_DP1_MP8_PP4_VPP5.sh
  tests/test_tipc/static/auto_parallel/llama2/N4C32/intermediate_api_meta-llama-Llama-2-7b_pretrain_dy2st_bs32_bf16_Sharding32_Stage2.sh
  tests/test_tipc/static/auto_parallel/llama2/benchmark_common/run_benchmark.sh
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/intermediate_api-llama2_13b.json
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_7b/intermediate_api-llama2_7b.json
Due: copyright_checker

add 70b
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_70b/intermediate_api_pretrain-llama2_70b.json
Due: none

fix
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/intermediate_api_pretrain-llama2_13b.json
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_7b/intermediate_api_pretrain-llama2_7b.json
Due: none

fix
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama2_13b/intermediate_api_pretrain-llama2_13b.json
Due: none

fix
  tests/test_tipc/static/auto_parallel/baichuan2/N4C32/intermediate_api_baichuan-inc-baichuan-2-13b_pretrain_dy2st_bs128_bf16_DP1_MP4_PP2_1F1B_Sharding4_Stage1.sh
  tests/test_tipc/static/auto_parallel/gpt3/N4C32/intermediate_api_gpt-3-13b_pretrain_dy2st_bs128_bf16_DP1_MP4_PP1_1F1B_Sharding8_Stage1.sh
  tests/test_tipc/static/auto_parallel/qwen/N4C32/intermediate_api_qwen-14b_pretrain_dy2st_bs128_bf16_DP1_MP2_PP4_1F1B_Sharding4_Stage1.sh
Due: copyright_checker

fix
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

add bge-en-icl
  paddlenlp/transformers/llm_embed/modeling.py
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.py
Due: copyright_checker, add-spaces-between-chinese-and-english

add nv-max_seq_length and update requirement
  .gitignore
  paddlenlp/transformers/nv_embed/modeling.py
  slm/pipelines/examples/contrastive_training/requirements.txt
Due: copyright_checker

delete irrelavent content
  .gitignore
  slm/pipelines/examples/contrastive_training/eval_mteb.sh
Due: copyright_checker

update readme and delete irrelavent content
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update readme
  slm/pipelines/examples/contrastive_training/README.md
Due: add-spaces-between-chinese-and-english

refine network
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker
