Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

fix kv_cache_reuse key error
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

update build.sh
  scripts/regression/build.sh
  tests/llm/test_grpo.py
  tests/llm/test_reinforce_plus_plus.py
Due: copyright_checker

Fix bug when get shape attribute for PySafeSlice in Windows
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

[DLTP-85730] optimize save cost for zcc
  paddlenlp/trainer/utils/zero_cost_checkpoint.py
Due: copyright_checker

add proxy
  .github/workflows/lint.yml
  .github/workflows/unittest-cpu.yml
Due: none

mlp use add to
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

Add use of fused_partial_rope op
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

ulysess-sp param initialize later
  llm/auto_parallel/galvatron-qwen/scripts/train_qwen_accumulation.sh
  llm/auto_parallel/galvatron-qwen/scripts/train_qwen_fine_grain.sh
  llm/auto_parallel/galvatron-qwen/train_qwen_fine_graine.py
  paddlenlp/experimental/galvatron/runtime/comm_group.py
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/trainer.py
  paddlenlp/transformers/llama/modeling_fine_grained_final.py
Due: copyright_checker

feat(shortgpt): add new script and polish existing code (typos, paths)
  .gitignore
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/evaluation/benchmarks.py
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.py
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.sh
  slm/pipelines/examples/contrastive_training/evaluation/prediction.py
  slm/pipelines/examples/contrastive_training/requirements.txt
  slm/pipelines/examples/contrastive_training/shortgpt_prune.py
  slm/pipelines/examples/contrastive_training/train.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix: add shortgpt script, fix formatting and imports
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.py
  slm/pipelines/examples/contrastive_training/evaluation/prediction.py
  slm/pipelines/examples/contrastive_training/shortgpt_prune.py
Due: copyright_checker

add subbatch
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/moe_utils.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_stable_unzip.cu
Due: copyright_checker

remove backward_dw
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

deal 0 size
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

update loss for Paddle PR#74530
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

load hf ckpt
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix
  paddlenlp/trainer/trainer.py
Due: copyright_checker

add vapo_argument_kk.yaml
  llm/config/qwen/vapo_argument_kk.yaml
Due: none

update
  paddlenlp/trainer/trainer.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

not recomput o1
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/qwen/modeling_pp.py
Due: copyright_checker

not recomput o1
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/qwen/modeling_pp.py
Due: copyright_checker

not recomput o1
  paddlenlp/transformers/qwen/modeling_pp.py
Due: copyright_checker

not recomput o1
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

fix fa3 scale bug
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

Unified FuseHeadLoss
  paddlenlp/rl/models/ppo_model_utils.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

fix
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

fix bug
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

add distribute
  .github/workflows/distribute.yml
Due: none

add lint unittest-cpu
  .github/workflows/lint.yml
  .github/workflows/pipelines.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
Due: none

add lint unittest-cpu
  .github/workflows/unittest-cpu.yml
Due: none

add distribute schedule
  .github/workflows/distribute.yml
Due: none

Add support for IR-QLoRA
  llm/config/llama/irqlora_argument.json
  llm/docs/finetune.md
  llm/run_finetune.py
  paddlenlp/quantization/irqlora_utils.py
  paddlenlp/trl/model_config.py
Due: copyright_checker, add-spaces-between-chinese-and-english

Add test branch for align mode
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/training_args.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix test bug
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker
