Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

[Auto Parallel] Adding align mode
  paddlenlp/trainer/trainer.py
  paddlenlp/utils/align_utils.py
Due: copyright_checker

[xpu]add README.md for llama2-7b
  llm/xpu/llama/README.md
Due: add-spaces-between-chinese-and-english

update tool healpers
  legacy/model_zoo/ernie-1.0/data_tools/helpers.cpp
  legacy/model_zoo/gpt-3/ppfleetx/data/data_tools/cpp/fast_index_map_helpers.cpp
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

update
  legacy/model_zoo/ernie-1.0/data_tools/dataset_utils.py
  llm/experimental/ernie-3.5-se/ernie_dataset.py
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

tool_helpers升级后可以支持32766个数据集.
  legacy/model_zoo/ernie-1.0/data_tools/helpers.cpp
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

update
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

update finetune.md (#8990)
  llm/README.md
  llm/docs/algorithm_overview.md
  llm/docs/finetune.md
Due: add-spaces-between-chinese-and-english

add DCU inference docs
  llm/docs/dcu_install.md
  llm/docs/inference.md
Due: add-spaces-between-chinese-and-english

fix step.cu bug
  csrc/generation/step.cu
Due: copyright_checker

Upgrade tool_helpers to support 32766个dataset. (#8994)
  legacy/model_zoo/ernie-1.0/data_tools/helpers.cpp
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

Upgrade tool_helpers to support 32766个dataset. (#8994)
  model_zoo/ernie-1.0/data_tools/helpers.cpp
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

fix added_tokens_decoder load
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

Upgrade tool_helpers to support 32766个dataset. (#8994) (#8996)
  model_zoo/ernie-1.0/data_tools/helpers.cpp
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

[xpu]rm readme.md
  csrc/xpu/README.md
  llm/xpu/llama/README.md
Due: add-spaces-between-chinese-and-english

[DCU] Add DCU inference docs (#8983)
  llm/docs/dcu_install.md
  llm/docs/inference.md
Due: add-spaces-between-chinese-and-english

[Distributed]Add loss nan/inf checker (#8943)
  paddlenlp/trainer/trainer.py
Due: copyright_checker

support wint8
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

[xpu]modify README.md for llama2-7b
  llm/xpu/llama/README.md
Due: add-spaces-between-chinese-and-english

update readme
  docs/index.rst
  docs/llm/docs/algorithm_overview.md
Due: add-spaces-between-chinese-and-english

support rms_norm_mlu
  paddlenlp/transformers/llama/fusion_ops.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/utils/tools.py
Due: copyright_checker

[MLU] add mlu predictor config; fix some parameters.
  llm/predict/export_model.py
  llm/predictor.py
  paddlenlp/generation/utils.py
Due: copyright_checker

[MLU] parallel static predict.
  llm/predictor.py
Due: copyright_checker

update readme
  docs/index.rst
Due: none

fix decode
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

support top_k
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/generation_utils.py
Due: copyright_checker

check
  paddlenlp/experimental/transformers/llama/modeling.py
Due: copyright_checker

【llm】update docs (#8999)
  docs/index.rst
  docs/llm/docs/algorithm_overview.md
Due: add-spaces-between-chinese-and-english

refine
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/utils/ckpt_converter.py
Due: copyright_checker

[Feature] Fused Mixtral support (#8901)
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/mixtral/__init__.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
Due: copyright_checker

fix saving and loading added_token_decoder
  paddlenlp/transformers/tokenizer_utils.py
  paddlenlp/transformers/tokenizer_utils_base.py
Due: copyright_checker

fix qwen2MoE
  llm/predict/predictor.py
Due: copyright_checker

fix zero_padding
  llm/run_finetune.py
  paddlenlp/datasets/zero_padding_dataset.py
  tests/dataset/test_zero_padding.py
Due: copyright_checker

add a PIR pass to remove the pd_op.assign_out_ op at the end of while loop, avoiding redundant kv cache copy
  csrc/generation/pass/remove_assign_out_pass.cc
  csrc/setup_cuda.py
  csrc/setup_hip.py
  llm/predict/predictor.py
Due: copyright_checker

fix mamba
  paddlenlp/transformers/mamba/tokenizer.py
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

[XPU] Add README.md for llama2-7b (#8979)
  csrc/xpu/README.md
  llm/xpu/llama/README.md
Due: add-spaces-between-chinese-and-english

add ut
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker
