Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

auto FLAGS_mla_use_tensorcore
  csrc/gpu/env.h
  csrc/gpu/multi_head_latent_attention.cu
Due: copyright_checker

change_h100_to_h800
  llm/application/information_extraction/README.md
  llm/server/README.md
  llm/server/docs/general_model_inference.md
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

refine inference doc
  docs/llm/docs/predict/index.rst
  docs/llm/docs/predict/infer_optimize.rst
  docs/llm/docs/predict/inference.rst
Due: none

support reduce_dialogue_repetition
  csrc/gpu/set_preids_token_penalty_multi_scores.cu
  llm/predict/export_model.py
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/generation_utils.py
Due: copyright_checker

refine
  docs/llm/docs/predict/index.rst
Due: none

fix_test
  paddlenlp/transformers/llama/modeling_network.py
Due: copyright_checker

Ckpt compression support 16bit opt
  paddlenlp/quantization/checkpoint_quantization_utils.py
  paddlenlp/quantization/unified_checkpoint_quantization.py
  paddlenlp/trainer/unified_checkpoint/unified_checkpoint.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

auto mla_use_tensorcore
  csrc/gpu/append_attn/get_block_shape_and_split_kv_block.cu
  csrc/gpu/env.h
  csrc/gpu/helper.h
  csrc/gpu/multi_head_latent_attention.cu
Due: copyright_checker

Add padding function to fused_swiglu_act_quant_op
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_swiglu_act_quant.cu
  tests/ops/test_fused_swiglu_act_quant.py
Due: copyright_checker

fix bug
  llm/server/server/server/engine/config.py
Due: copyright_checker

add zkk inner commit
  csrc/gpu/moe/fused_moe/cutlass_kernels/cutlass_heuristic.h
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/kernels/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/moe_speed.py
  csrc/setup_cuda.py
Due: copyright_checker

fix
  csrc/gpu/moe/fused_moe/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
  csrc/gpu/moe/fused_moe/kernels/cutlass_kernels/moe_gemm/fused_moe_cutlass_kernel.h
  csrc/gpu/moe/fused_moe/kernels/cutlass_kernels/moe_gemm/fused_moe_gemm_kernels_template.h
Due: copyright_checker

fix ci
  llm/predict/predictor.py
Due: copyright_checker

add_ci
  scripts/distribute/ci_case_auto.sh
  scripts/distribute/run_ci.sh
Due: copyright_checker

update tests
  tests/llm/test_longlora.py
Due: copyright_checker

[custom device]: replace broadcast kernel with custom api for sdaa.
  paddlenlp/experimental/transformers/generation_utils.py
Due: copyright_checker

2:4 sparse for int8/fp8/bf16/fp16 dtype
  csrc/gpu/cutlass_extensions/cute_utils.cuh
  csrc/gpu/cutlass_extensions/epilogue/broadcast_load_epilogue.hpp
  csrc/gpu/cutlass_extensions/epilogue/scaled_mm_epilogues.hpp
  csrc/gpu/cutlass_extensions/paddle_utils.cuh
  csrc/gpu/sparse/sparse_compressor.cu
  csrc/gpu/sparse/sparse_mm.cu
  csrc/gpu/sparse/sparse_mm_impl.cu
  csrc/gpu/sparse/sparse_mm_impl.cuh
  csrc/setup_cuda.py
Due: copyright_checker

update tests
  tests/longlora/test_longlora.py
Due: copyright_checker

support auto search for mla chunksize
  csrc/gpu/append_attn/get_block_shape_and_split_kv_block.cu
  csrc/gpu/env.h
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.cu
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.h
  csrc/gpu/multi_head_latent_attention.cu
  csrc/gpu/unittest/run_test_mla.sh
  csrc/gpu/unittest/test_absorb_mla.py
Due: copyright_checker

新的计算entropy梯度的方法,与原始计算等价,新增final_loss,解决entropy loss和kl loss都关闭的情况的梯度bug
  llm/alignment/ppo/models/ppo_model_utils.py
Due: copyright_checker

add mla's todo
  csrc/gpu/mla_attn/mainloop_mma.cuh
Due: none

add_contrastive_learning
  slm/examples/README.md
  slm/examples/contrastive_learning/README.md
  slm/examples/contrastive_learning/clean_query.py
  slm/examples/contrastive_learning/embedding_evaluate.py
  slm/examples/contrastive_learning/mining_negative_samples.py
  slm/examples/contrastive_learning/toy_data/toy_dev.json
  slm/examples/contrastive_learning/toy_data/toy_dev_neg.json
  slm/examples/contrastive_learning/toy_data/toy_source.json
Due: copyright_checker, add-spaces-between-chinese-and-english

Rename inference.rst to inference_index.rst
  docs/llm/docs/predict/inference_index.rst
Due: none

Update index.rst
  docs/llm/docs/predict/index.rst
Due: none

fix_1
  llm/config/xlm_roberta/emb_argument.json
  llm/run_embedding.py
  llm/utils/argument.py
  paddlenlp/transformers/xlm_roberta/modeling.py
Due: copyright_checker

fix_2
  llm/run_embedding.py
Due: copyright_checker

fix
  llm/auto_parallel/README.md
Due: add-spaces-between-chinese-and-english

delete qwen shell launch example
  llm/auto_parallel/qwen/run_pretrain_auto.sh
Due: copyright_checker

recover gpt input data config
  llm/auto_parallel/gpt-3/gpt_with_intermediate.sh
Due: copyright_checker

recover gpt config
  llm/auto_parallel/gpt-3/gpt_with_intermediate.sh
Due: copyright_checker

fix param error
  csrc/gpu/sage_attention.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

add set -e for unittest
  scripts/regression/run_ci.sh
  scripts/unit_test/ci_unit.sh
Due: copyright_checker

Update README.md for paddlenlp 3.0 beta4
  README.md
Due: add-spaces-between-chinese-and-english

add comments
  csrc/gpu/sage_attention.cu
Due: copyright_checker

Update README.md
  README.md
Due: add-spaces-between-chinese-and-english
