Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

remove lines
  csrc/gpu/sage_attn_kernels/sageattn_utils.cuh
Due: none

polish code
  paddlenlp/transformers/deepseek_v2/modeling.py
  slm/model_zoo/gpt-3/external_ops/fused_ln/layer_norm_cuda.cu
Due: copyright_checker

remove useless code
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix_leakage
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/fused_a2a.py
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

0324 updated
  paddlenlp/generation/candidate_generator.py
  paddlenlp/generation/configuration_utils.py
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/utils.py
Due: copyright_checker

Update serialization.py
  paddlenlp/utils/serialization.py
Due: copyright_checker

update __init__
  paddlenlp/utils/__init__.py
Due: copyright_checker

__init__ update
  paddlenlp/utils/__init__.py
Due: copyright_checker

update
  csrc/gpu/helper.h
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/ops/triton_ops/paged_attn.py
Due: copyright_checker

update
  llm/docs/predict/deepseek.md
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

__init__
  paddlenlp/generation/configuration_utils.py
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/utils.py
  paddlenlp/utils/deprecation.py
Due: copyright_checker

optimize bf16 memory support pp4
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

truncation True, max_src_len
  llm/alignment/ppo/data/base.py
  llm/alignment/ppo/data/prompt_only.py
  llm/alignment/ppo/run_ppo.py
Due: copyright_checker

support dataproto & fix dataflow
  llm/alignment/ppo/models/__init__.py
  llm/alignment/ppo/models/score_model.py
  llm/alignment/ppo/models/score_model_utils.py
  llm/alignment/ppo/run_ppo.py
  llm/alignment/ppo/trainer_utils.py
  paddlenlp/datasets/rlhf_datasets/__init__.py
  paddlenlp/datasets/rlhf_datasets/protocol.py
  paddlenlp/datasets/rlhf_datasets/rl_dataset.py
Due: copyright_checker

fix beam_search bug
  paddlenlp/generation/beam_search.py
Due: copyright_checker

fix lint
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
Due: copyright_checker

Fix bug
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_guided_unzip.cu
Due: copyright_checker

update trainer
  llm/alignment/ppo/comm_utils.py
  llm/alignment/ppo/offload_utils.py
  llm/alignment/ppo/ppo_trainer.py
Due: copyright_checker

fix
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

update readme
  llm/application/distill/README.md
  llm/application/distill/prepare_data.py
  llm/application/distill/run_distill.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

update docs
  docs/index.rst
Due: none

update links
  llm/application/distill/README.md
Due: add-spaces-between-chinese-and-english

fix
  docs/zh/get_started/generate.md
  docs/zh/get_started/inference.md
  docs/zh/get_started/training.md
  docs/zh/hot_model.md
Due: add-spaces-between-chinese-and-english

v1 with gpt-4o
  docs/.readthedocs_en.yaml
  docs/en/FAQ.md
  docs/en/Makefile
  docs/en/_static
  docs/en/compression.md
  docs/en/conf.py
  docs/en/datasets.md
  docs/en/imgs
  docs/en/index.rst
  docs/en/locale
  docs/en/metrics.md
  docs/en/model_list.rst
  docs/en/server.md
  docs/en/trainer.md
  docs/zh/trainer.md
Due: copyright_checker, add-spaces-between-chinese-and-english

rm shell
  llm/alignment/ppo/reinforce.sh
  llm/alignment/ppo/reinforce_no_amp.sh
Due: copyright_checker

删除一些无用的修改
  llm/alignment/ppo/run_ppo.py
  paddlenlp/trainer/integrations.py
  paddlenlp/trainer/trainer.py
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
Due: copyright_checker

update
  llm/config/deepseek-v3/pretrain_argument.json
  llm/run_pretrain.py
  paddlenlp/trainer/trainer.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

fix tests
  tests/transformers/llm_embed/test_modeling.py
Due: copyright_checker

update 0325
  paddlenlp/dataaug/sentence.py
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/utils.py
  paddlenlp/transformers/bart/modeling.py
  paddlenlp/transformers/codegen/modeling.py
  paddlenlp/transformers/ernie_code/modeling.py
  paddlenlp/transformers/gemma/modeling.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/mbart/modeling.py
  paddlenlp/transformers/minimax_text_01/modeling.py
  paddlenlp/transformers/mistral/modeling.py
  paddlenlp/transformers/mixtral/modeling.py
  paddlenlp/transformers/mt5/modeling.py
  paddlenlp/transformers/opt/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/t5/modeling.py
  paddlenlp/transformers/unified_transformer/modeling.py
  paddlenlp/transformers/unimo/modeling.py
  tests/dataaug/test_sentence_aug.py
  tests/generation/test_logits_process.py
  tests/generation/test_streamers.py
  tests/peft/test_prefix.py
Due: copyright_checker

fix
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

adding vectorization to 3 kernels.
  slm/model_zoo/gpt-3/external_ops/setup.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/regroup_tokens.cu
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_guided_unzip.cu
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/topk_to_multihot.cu
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/utils.h
Due: copyright_checker

bf16 and wint8 matrix_absorption
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

support per tensor dual gemm based on bf16 batch gemm
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_dual_gemm_act_template_3x.h
  csrc/gpu/cutlass_kernels/gemm/collective/sm90_mma_gated_tma_gmma_ss_warpspecialized.hpp
  csrc/gpu/cutlass_kernels/gemm/collective/sm90_mma_gated_tma_gmma_ss_warpspecialized_fp8.hpp
  csrc/gpu/cutlass_kernels/gemm/kernel/sm90_gemm_gated_tma_warpspecialized_cooperative.hpp
  csrc/gpu/fp8_gemm_with_cutlass/fp8_common.h
  csrc/gpu/fp8_gemm_with_cutlass/fp8_fp8_fp8_dual_gemm.cu
  csrc/gpu/helper.h
  csrc/gpu/quantization/dynamic_per_tensor_quant_fp8.cu
  csrc/gpu/unittest/test_cutlass_dual_gemm_ptr_scale.py
  csrc/gpu/unittest/test_dynamic_per_tensor_quant_fp8.py
  csrc/setup_cuda.py
  paddlenlp/experimental/model_utils.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

update deep_ep
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/utils.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
