Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

add rdma config hint
  paddlenlp/transformers/fused_a2a.py
Due: copyright_checker

fix mla nan in mtp
  csrc/gpu/mla_attn/batch_mla_with_paged_kv_cache.cu
  csrc/gpu/mla_attn/mla_hopper.cuh
Due: copyright_checker

fix
  llm/server/server/scripts/download_models.sh
  llm/server/server/server/download_model.py
  llm/server/server/server/engine/config.py
  llm/server/server/server/engine/engine.py
Due: copyright_checker

fix download
  llm/server/server/server/download_model.py
  llm/server/server/server/engine/config.py
Due: copyright_checker

update doc
  csrc/setup.py
  llm/docs/predict/deepseek.md
  llm/docs/predict/speculative_decoding.md
  llm/server/docs/general_model_inference.md
  llm/server/docs/static_models.md
Due: copyright_checker, add-spaces-between-chinese-and-english

fix
  llm/server/server/scripts/download_models.sh
  llm/server/server/server/download_model.py
Due: copyright_checker

fix
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/download_model.py
Due: copyright_checker

support download
  llm/server/dockerfiles/Dockerfile_serving_cuda118_cudnn8
  llm/server/dockerfiles/Dockerfile_serving_cuda124_cudnn9
  llm/server/server/scripts/download_models.sh
Due: copyright_checker

refine code
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

refine
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix overlap
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix
  llm/output.json
Due: none

dpo_auto_intermediate
  llm/alignment/dpo/dpo_argument.py
  llm/alignment/dpo/run_dpo_auto.py
  paddlenlp/transformers/dpo_criterion.py
  paddlenlp/transformers/llama/modeling_network.py
  paddlenlp/trl/__init__.py
  paddlenlp/trl/dpo_auto_trainer.py
  paddlenlp/trl/trl_data.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

add dpo ci dataset
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update loss_base by Paddle#71301
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix spelling error
  scripts/distribute/run_ci.sh
Due: copyright_checker

fix exit code rerun
  scripts/distribute/run_ci.sh
Due: copyright_checker

fix upload
  scripts/regression/ci_case.sh
  scripts/regression/run_ci.sh
  scripts/unit_test/ci_unit.sh
Due: copyright_checker

update wheel's name
  csrc/tools/build_wheel.sh
  setup.py
Due: copyright_checker

[doc] 支持用户自行下载静态图
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

fix bug
  llm/run_finetune.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

update web ref
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

Update auto_trainer.py
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

[Doc] 自行下载模型文档说明
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

support reshard attention mask in intermediate_api
  paddlenlp/transformers/llama/modeling_network.py
Due: copyright_checker

fix exit
  scripts/regression/run_ci.sh
Due: copyright_checker

refine infer readme
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

fix path
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

fix bug
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
