Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

add fp8 utils
  paddlenlp/transformers/deepseek_v2/fp8_linear.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

[LLM] add port check and fix bugs
  llm/server/dockerfiles/Dockerfile_serving_cuda118_cudnn8
  llm/server/dockerfiles/Dockerfile_serving_cuda124_cudnn9
  llm/server/docs/deploy_usage_tutorial.md
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/engine/infer.py
  llm/server/server/server/triton_server.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[LLM] fix stream output
  llm/server/server/server/data/processor.py
Due: copyright_checker

[LLM] delete unused param
  llm/server/server/server/engine/token_processor.py
Due: copyright_checker

Update auto_trainer.py
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

[LLM] fix start script
  llm/server/server/scripts/start_server.sh
Due: copyright_checker

Update ci_case_auto.sh
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Adapt to the fix_cpu_stall
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/fused_a2a.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

add pure_policy_loss and entropy_loss
  llm/alignment/ppo/ppo_trainer.py
Due: copyright_checker

remove speculate fix
  csrc/gpu/append_attn/get_block_shape_and_split_kv_block.cu
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix paddleocr error
  requirements-dev.txt
  requirements.txt
  scripts/regression/requirements_ci.txt
Due: none

rm glog
  .gitmodules
  csrc/README.md
  csrc/gpu/moe/preprocess_for_moe.cu
Due: copyright_checker, add-spaces-between-chinese-and-english

update amp custom list
  llm/auto_parallel/llama/run_llama2_13b_xpu.sh
  llm/auto_parallel/llama/run_llama2_7b_xpu.sh
Due: copyright_checker

update
  paddlenlp/inference/base.py
  paddlenlp/inference/predictor.py
Due: copyright_checker

fix
  csrc/gpu/moe/fused_moe/fused_moe.cu
  csrc/gpu/moe/fused_moe/moe_dispatch.cu
  csrc/gpu/moe/fused_moe/moe_ffn.cu
  csrc/gpu/moe/fused_moe/moe_reduce.cu
  csrc/setup_cuda.py
Due: copyright_checker

fix
  csrc/setup_cuda.py
Due: copyright_checker

fix
  csrc/tools/prepare_env.sh
Due: copyright_checker

update
  llm/README.md
  llm/application/distill/distill_eval.py
  llm/application/distill/prepare_data.py
  llm/application/distill/run_distill.sh
  llm/application/distill/run_eval.sh
  llm/application/distill/run_predict.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

fix
  paddlenlp/transformers/deepseek_v2/fp8_linear.py
Due: copyright_checker

update requirement.txt
  llm/application/distill/requirements.txt
Due: none

using gather
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

open rc for gpt
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/pretrain-gpt3_13b.json
Due: none

add auto_parallel_sync_shared_params flag
  paddlenlp/trainer/auto_training_args.py
  paddlenlp/trainer/training_args.py
  paddlenlp/transformers/gpt/modeling_auto.py
  scripts/distribute/ci_case_auto.sh
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/pretrain-gpt3_13b.json
Due: copyright_checker

fix build
  scripts/regression/build.sh
  scripts/regression/ci_case.sh
Due: copyright_checker

fix paddleocr 2.10
  requirements-dev.txt
Due: none

revert
  requirements-dev.txt
Due: none

[CI] fix install issue for requirements-dev.txt
  requirements-dev.txt
Due: none

fix
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

add rc
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/pretrain-gpt3_13b.json
Due: none

update
  llm/application/distill/README.md
  llm/application/distill/run_distill.sh
  llm/application/distill/run_eval.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

update readme
  llm/application/distill/README.md
Due: add-spaces-between-chinese-and-english

update table
  llm/application/distill/README.md
Due: add-spaces-between-chinese-and-english

Add regroup_tokens op and optest, fix topk_to_multihot setup.py
  slm/model_zoo/gpt-3/external_ops/setup.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/regroup_tokens.cu
Due: copyright_checker

add one more dispatch for smooth weight & shift_bias parameter
  csrc/gpu/sage_attention.cu
  csrc/gpu/sage_attn_kernels/sageattn_fused.cuh
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_dsk_kernel_sm90.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm90.cu
  csrc/gpu/sage_attn_kernels/sageattn_utils.cuh
Due: copyright_checker

Add test file
  tests/ops/test_regroup.py
Due: copyright_checker

fix miscs
  tests/ops/test_regroup.py
Due: copyright_checker

add fp8 comm
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/fused_a2a.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/moe_utils.py
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

0317 updated
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/utils.py
  tests/generation/test_logits_process.py
Due: copyright_checker

fix glog
  csrc/README.md
  csrc/gpu/moe/fused_moe/glog/logging.h
  csrc/tools/prepare_env.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
