Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

[Optimization] Support context_parallel_spliter for cp
  paddlenlp/trainer/trainer.py
Due: copyright_checker

add ds sageattn kernel
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_dsk_kernel_sm90.cu
Due: copyright_checker

fix
  tests/test_tipc/static/auto_parallel/qwen/N4C32/intermediate_api_qwen-14b_pretrain_dy2st_bs32_bf16_DP1_MP2_Sharding16_Stage1.sh
  tests/test_tipc/static/auto_parallel/qwen/N4C32/qwen-14b_pretrain_dy2st_bs32_bf16_DP1_MP2_Sharding16_Stage1.sh
  tests/test_tipc/static/auto_parallel/qwen/pretrain_config_qwen_14b/intermediate_api_pretrain-qwen_14b.json
  tests/test_tipc/static/auto_parallel/qwen/pretrain_config_qwen_14b/pretrain-qwen_14b.json
Due: copyright_checker

fix
  tests/test_tipc/static/auto_parallel/qwen/pretrain_config_qwen_14b/intermediate_api_pretrain-qwen_14b.json
  tests/test_tipc/static/auto_parallel/qwen/pretrain_config_qwen_14b/pretrain-qwen_14b.json
Due: none

polish ZCC-EMA
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/utils/flash_checkpoint.py
  paddlenlp/trainer/utils/sharding_io.py
Due: copyright_checker

suppport float8 dtype.
  paddlenlp/utils/safetensors.py
  requirements.txt
  tests/transformers/test_safetensors.py
Due: copyright_checker

fix
  tests/transformers/test_safetensors.py
Due: copyright_checker

weight only support group wise
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

use cpu to concat all next_tokens to avoid compile and improve perf
  paddlenlp/experimental/transformers/generation_utils.py
Due: copyright_checker

modify gpt config
  tests/test_tipc/static/auto_parallel/gpt3/N4C32/gpt-3-13b_pretrain_dy2st_bs128_bf16_DP4_MP2_PP4.sh
  tests/test_tipc/static/auto_parallel/gpt3/N4C32/intermediate_api_gpt-3-13b_pretrain_dy2st_bs128_bf16_DP4_MP2_PP4.sh
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/intermediate_api_pretrain-gpt3_13b.json
  tests/test_tipc/static/auto_parallel/gpt3/pretrain_config_gpt3_13b/pretrain-gpt3_13b.json
Due: copyright_checker

update doc for pp-uie
  README.md
  llm/application/information_extraction/README.md
Due: add-spaces-between-chinese-and-english

update
  llm/application/information_extraction/README.md
Due: add-spaces-between-chinese-and-english

fix
  scripts/regression/ci_case.sh
  scripts/regression/gen_allure_report.py
  scripts/regression/run_ci.sh
  scripts/unit_test/ci_unit.sh
Due: copyright_checker

add
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/utils/optimizer.py
Due: copyright_checker

update
  llm/application/information_extraction/README.md
  llm/application/information_extraction/doccano.md
Due: add-spaces-between-chinese-and-english

[TaskFlow] Fix pir for taskflow (#9822)
  llm/predict/predictor.py
  llm/server/docs/deploy_usage_tutorial.md
  llm/server/server/server/engine/infer.py
  paddlenlp/experimental/autonlp/text_classification.py
  paddlenlp/generation/utils.py
  paddlenlp/server/predictor.py
  paddlenlp/taskflow/multimodal_feature_extraction.py
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/text_similarity.py
  paddlenlp/taskflow/zero_shot_text_classification.py
  paddlenlp/trainer/trainer_compress.py
  paddlenlp/transformers/chatglm/modeling.py
  paddlenlp/transformers/semantic_search/modeling.py
  paddlenlp/utils/env.py
  scripts/regression/ci_case.sh
  scripts/regression/test_taskflow.py
  tests/taskflow/test_text_classification.py
  tests/transformers/test_modeling_common.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[LLM-IE] Add pp-uie to Taskflow (#9845)
  llm/application/information_extraction/README.md
  llm/application/information_extraction/doccano.md
  llm/application/information_extraction/doccano.py
  llm/application/information_extraction/utils.py
  paddlenlp/taskflow/information_extraction.py
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/taskflow.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[DOC] Update README for PP-UIE (#9911)
  README.md
  llm/application/information_extraction/README.md
Due: add-spaces-between-chinese-and-english

change some log
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/common/cudaBf16Fallbacks.cuh
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/common/cudaTypeUtils.cuh
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/common_tihuan/cudaUtils.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/common_tihuan/quantization.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/cutlass_extensions/include/cutlass_extensions/gemm/warp/mma_tensorop_dequantizer.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/cutlass_heuristic.cpp
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/cutlass_preprocessors.cpp
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/cutlass_preprocessors.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/launchers/fused_moe_gemm_launcher_sm80.inl
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/launchers/moe_gemm_launcher_sm90.inl
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_kernels_template.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/cutlass_kernels/moe_gemm/moe_gemm_kernels_template_sm90.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/mixtureOfExperts/moe_kernels.cu
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/kernels/mixtureOfExperts/moe_kernels.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/api/tllmPlugin.cpp
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/CMakeLists.txt
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/checkMacrosPlugin.cpp
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/checkMacrosPlugin.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/gemmPluginProfiler.cpp
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/gemmPluginProfiler.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/plugin.cpp
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/plugin.h
  csrc/gpu/moe/tensorrt-llm-moe/cpp/tensorrt_llm/plugins_delete/common/pluginUtils.h
  csrc/gpu/moe/tensorrt-llm-moe/moe/batch_symmetric_quantize.cu
  csrc/gpu/moe/tensorrt-llm-moe/moe/moe.cu
  csrc/gpu/moe/tensorrt-llm-moe/moe/test_weight_only.py
  csrc/gpu/moe/tensorrt-llm-moe/moe/utils.h
  csrc/setup_cuda.py
Due: copyright_checker

polish ZCC-EMA, remove opt offload
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/utils/flash_checkpoint.py
  paddlenlp/trainer/utils/sharding_io.py
Due: copyright_checker

package rename
  setup.py
  setup_cuda_tools.py
Due: copyright_checker

change paddlenlp_ops to paddlenlp.custom_ops, fix the codestyle and add some custom_ops
  csrc/gpu/unittest/test_get_padding_offset_v2.py
  csrc/gpu/unittest/test_set_preids_token_penalty_multi_scores.py
  csrc/gpu/unittest/test_top_p_sampling_reject.py
  csrc/gpu/unittest/test_update_inputs_v2.py
  csrc/utils/tune_cublaslt_int8_gemm.py
  csrc/utils/tune_cutlass_fp8_dual_gemm.py
  csrc/utils/tune_cutlass_fp8_gemm.py
  csrc/xpu/test/python/test_get_padding_offset_v2.py
  csrc/xpu/test/python/test_get_token_penalty_multi_scores_v2.py
  csrc/xpu/test/python/test_rebuild_padding_v2.py
  csrc/xpu/test/python/test_set_stop_value_multi_ends_v2.py
  csrc/xpu/test/python/test_set_value_by_flags_and_idx_v2.py
  csrc/xpu/test/python/test_update_inputs.py
  llm/alignment/ppo/models/infer_model_utils.py
  llm/server/server/server/engine/infer.py
  paddlenlp/custom_ops/custom_ops.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  slm/examples/RLHF/models/infer_model_utils.py
Due: copyright_checker

update readme's paddle install
  slm/pipelines/examples/contrastive_training/README.md
Due: add-spaces-between-chinese-and-english

fix trt gate w1/w3
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

paddlenlp_ops build
  csrc/tools/build_wheel.sh
  scripts/regression/ci_case.sh
  scripts/unit_test/ci_unit.sh
Due: copyright_checker

fix
  csrc/gpu/moe/tensorrt-llm-moe/README.md
  csrc/gpu/moe/tensorrt-llm-moe/moe/diff_fp8.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker, add-spaces-between-chinese-and-english

mtp_for_v3
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.py
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
  paddlenlp/transformers/deepseek_v3/modeling_auto.py
Due: copyright_checker

add triton ops
  ops/src/paddlenlp_kernel/__init__.py
  ops/src/paddlenlp_kernel/cuda/__init__.py
  ops/src/paddlenlp_kernel/cuda/causal_conv1d.py
  ops/src/paddlenlp_kernel/cuda/selective_scan.py
  ops/src/paddlenlp_kernel/triton/__init__.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/__init__.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/cce.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/cce_backward.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/cce_lse_forward.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/constants.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/doc.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/indexed_dot.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/linear_cross_entropy.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/tl_autotune.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/tl_utils.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/utils.py
  ops/src/paddlenlp_kernel/triton/inf_cl/__init__.py
  ops/src/paddlenlp_kernel/triton/inf_cl/flash.py
  ops/src/paddlenlp_kernel/triton/inf_cl/ring.py
  ops/src/paddlenlp_kernel/triton/mamba/__init__.py
  ops/src/paddlenlp_kernel/triton/mamba/causal_conv1d_varlen.py
  ops/src/paddlenlp_kernel/triton/mamba/k_activations.py
  ops/src/paddlenlp_kernel/triton/mamba/layer_norm.py
  ops/src/paddlenlp_kernel/triton/mamba/layernorm_gated.py
  ops/src/paddlenlp_kernel/triton/mamba/math.py
  ops/src/paddlenlp_kernel/triton/mamba/selective_state_update.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_bmm.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_chunk_scan.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_chunk_state.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_combined.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_state_passing.py
  ops/src/paddlenlp_kernel/triton/triton_patch.py
  ops/src/paddlenlp_kernel/utils.py
  ops/tests/triton/optimizer/__init__.py
  ops/tests/triton/optimizer/adamw_bf16.py
  paddlenlp/utils/optimizer.py
Due: copyright_checker

fix
  ops/src/paddlenlp_kernel/__init__.py
  ops/src/paddlenlp_kernel/cuda/__init__.py
  ops/src/paddlenlp_kernel/cuda/causal_conv1d.py
  ops/src/paddlenlp_kernel/cuda/selective_scan.py
  ops/src/paddlenlp_kernel/triton/__init__.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/__init__.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/cce.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/cce_backward.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/cce_lse_forward.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/constants.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/doc.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/indexed_dot.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/linear_cross_entropy.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/tl_autotune.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/tl_utils.py
  ops/src/paddlenlp_kernel/triton/cut_cross_entropy/utils.py
  ops/src/paddlenlp_kernel/triton/inf_cl/__init__.py
  ops/src/paddlenlp_kernel/triton/inf_cl/flash.py
  ops/src/paddlenlp_kernel/triton/inf_cl/ring.py
  ops/src/paddlenlp_kernel/triton/mamba/__init__.py
  ops/src/paddlenlp_kernel/triton/mamba/causal_conv1d_varlen.py
  ops/src/paddlenlp_kernel/triton/mamba/k_activations.py
  ops/src/paddlenlp_kernel/triton/mamba/layer_norm.py
  ops/src/paddlenlp_kernel/triton/mamba/layernorm_gated.py
  ops/src/paddlenlp_kernel/triton/mamba/math.py
  ops/src/paddlenlp_kernel/triton/mamba/selective_state_update.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_bmm.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_chunk_scan.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_chunk_state.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_combined.py
  ops/src/paddlenlp_kernel/triton/mamba/ssd_state_passing.py
  ops/src/paddlenlp_kernel/triton/optimizer/__init__.py
  ops/src/paddlenlp_kernel/triton/optimizer/adamw_bf16.py
  ops/src/paddlenlp_kernel/triton/triton_patch.py
  ops/src/paddlenlp_kernel/utils.py
Due: copyright_checker

opt xpu perf for deepseek
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

minor
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix
  paddlenlp/utils/optimizer.py
Due: copyright_checker

fix env
  paddlenlp/utils/env.py
  scripts/unit_test/ci_unit.sh
Due: copyright_checker

fix
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

fix MLA
  csrc/gpu/append_attention.cu
  csrc/gpu/append_attn/decode_attention_func.cuh
  csrc/gpu/append_attn/decode_attention_kernel.cu
Due: copyright_checker

cherry pick token count
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

update split kv_b
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker
