Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

Update ci_case_auto.sh
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

change file path
  csrc/README.md
  csrc/tune_fp8_gemm.sh
  csrc/utils/auto_gen_fp8_fp8_dual_gemm_fused_kernels.py
  csrc/utils/auto_gen_fp8_fp8_gemm_fused_kernels.py
  csrc/utils/tune_cublaslt_int8_gemm.py
  csrc/utils/tune_cutlass_fp8_dual_gemm.py
  csrc/utils/tune_cutlass_fp8_gemm.py
Due: copyright_checker, add-spaces-between-chinese-and-english

append_attn 0919
  csrc/gpu/append_attention.cu
  csrc/gpu/append_attn/append_attention_impl.cuh
  csrc/gpu/append_attn/append_attention_kernel.cu
  csrc/gpu/append_attn/decoder_write_cache_with_rope_kernel.cu
  csrc/gpu/append_attn/encoder_write_cache_with_rope_impl.cuh
  csrc/gpu/append_attn/encoder_write_cache_with_rope_kernel.cu
  csrc/gpu/append_attn/encoder_write_cache_with_rope_kernel.h
  csrc/gpu/append_attn/utils.cuh
  csrc/gpu/encoder_write_cache_with_rope.cu
  paddlenlp/experimental/transformers/append_attention.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

top_p_sampling_reject.cu
  csrc/setup_cuda.py
Due: copyright_checker

0920 fix split_kv_block
  paddlenlp/experimental/transformers/append_attention.py
Due: copyright_checker

update
  README.md
Due: add-spaces-between-chinese-and-english

support rm
  llm/alignment/rm/flashmask/README.md
  llm/alignment/rm/flashmask/data.py
  llm/alignment/rm/flashmask/reward_model.py
  llm/alignment/rm/flashmask/reward_trainer.py
  llm/config/llama/rm_flashmask_argument.json
Due: copyright_checker, add-spaces-between-chinese-and-english

add test
  tests/fixtures/llm/pref_data/dev.jsonl
  tests/fixtures/llm/pref_data/train.jsonl
  tests/fixtures/llm/rm_flashmask.yaml
  tests/llm/test_rm.py
Due: copyright_checker

update
  paddlenlp/experimental/transformers/chatglm_v2/modeling.py
  paddlenlp/transformers/chatglm_v2/modeling.py
  paddlenlp/transformers/chatglm_v2/modeling_pp.py
Due: copyright_checker

fix
  csrc/setup_cuda.py
Due: copyright_checker

Update README.md
  README.md
Due: add-spaces-between-chinese-and-english

update split and merge
  paddlenlp/transformers/chatglm/modeling.py
Due: copyright_checker

update
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

[Models] Add Qwen2.5 (#9157)
  README.md
Due: add-spaces-between-chinese-and-english

Update README.md (#9160)
  README.md
Due: add-spaces-between-chinese-and-english

[Inference] FP8 dual gemm auto-tune and support compile parallelization (#9151)
  csrc/README.md
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/dispatch_dual_gemm_scale_bias_swiglu.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_geglu.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_16_32_64_stages3.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_bias_swiglu_16_64_64_stages4.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/dual_gemm_scale_geglu.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.cu
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_dual_gemm_geglu_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_dual_gemm_swiglu_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_gemm_gelu_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_gemm_noact_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_gemm_relu_template.h
  csrc/gpu/fp8_gemm_with_cutlass/fp8_common.h
  csrc/gpu/fp8_gemm_with_cutlass/fp8_fp8_fp8_dual_gemm.cu
  csrc/setup_cuda.py
  csrc/tune_fp8_gemm.sh
  csrc/utils/auto_gen_fp8_fp8_dual_gemm_fused_kernels.py
  csrc/utils/auto_gen_fp8_fp8_gemm_fused_kernels.py
  csrc/utils/tune_cublaslt_int8_gemm.py
  csrc/utils/tune_cutlass_fp8_dual_gemm.py
  csrc/utils/tune_cutlass_fp8_gemm.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[AutoParallel] enable ci for dp amp clip (#9062)
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix format
  llm/alignment/rm/flashmask/data.py
  llm/alignment/rm/flashmask/reward_argument.py
  llm/alignment/rm/flashmask/reward_model.py
  llm/alignment/rm/flashmask/reward_trainer.py
  llm/alignment/rm/flashmask/run_reward.py
  tests/llm/test_rm.py
Due: copyright_checker

fix bugs
  llm/tools/split_weights.py
Due: copyright_checker

[XPU] rename SP Layer name to enable checkpoint loading from GPU
  paddlenlp/transformers/linear_utils.py
Due: copyright_checker

Fix
  csrc/cpu/src/avx_weight_only.cc
  csrc/gpu/save_with_output_msg.cc
  docs/llm/llm_trainer.rst
  paddlenlp/cli/main.py
  paddlenlp/data/causal_dataset.py
  paddlenlp/data/dist_dataloader.py
  paddlenlp/dataaug/char.py
  paddlenlp/dataaug/word.py
  paddlenlp/transformers/ernie_vil/configuration.py
  paddlenlp/transformers/ernie_vil/image_processing.py
  paddlenlp/transformers/qwen2_moe/configuration.py
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

[Auto Parallel] add align mode supporting
  paddlenlp/trainer/trainer.py
Due: copyright_checker

mod file
  llm/tools/split_weights.py
Due: copyright_checker

Add PaddleRecall error
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Add PaddleRecall error (#9166)
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Revert "Add PaddleRecall error (#9166)"
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Revert "Add PaddleRecall error (#9166)" (#9167)
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Revert "Revert "Add PaddleRecall error (#9166)" (#9167)"
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Add PaddlRecall error
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Add PaddlRecall error (#9169)
  paddlenlp/trainer/trainer.py
Due: copyright_checker

[Tools] Rename tool_helpers to fast_dataindex. (#9134)
  legacy/model_zoo/ernie-1.0/README.md
  legacy/model_zoo/ernie-1.0/data_tools/dataset_utils.py
  legacy/model_zoo/ernie-1.0/pretraining_introduction.md
  llm/README.md
  llm/docs/pretrain.rst
  llm/experimental/ernie-3.5-se/README.md
  llm/experimental/ernie-3.5-se/ernie_dataset.py
  llm/tools/preprocess/README.md
  paddlenlp/data/blendable_dataset.py
  paddlenlp/data/causal_dataset.py
  requirements.txt
  scripts/regression/requirements_ci.txt
  tests/data/test_blendable_dataset.py
  tests/requirements.txt
  tests/test_tipc/auto_tuner/llama_pretrain/benchmark_common/prepare.sh
  tests/test_tipc/dygraph/hybrid_parallelism/baichun2/benchmark_common/prepare.sh
  tests/test_tipc/dygraph/hybrid_parallelism/gpt/benchmark_common/prepare.sh
  tests/test_tipc/dygraph/hybrid_parallelism/llama/benchmark_common/prepare.sh
  tests/test_tipc/dygraph/hybrid_parallelism/llama2/benchmark_common/prepare.sh
  tests/test_tipc/dygraph/hybrid_parallelism/qwen/benchmark_common/prepare.sh
  tests/test_tipc/prepare.sh
  tests/test_tipc/static/auto_parallel/llama2/benchmark_common/prepare.sh
  tests/test_tipc/static/dp/gpt/benchmark_common/prepare.sh
  tests/test_tipc/static/hybrid_parallelism/gpt/benchmark_common/prepare.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

[Trainer] Support skip data intervals (#8989)
  paddlenlp/trainer/argparser.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

update code
  csrc/setup_cuda.py
  llm/ben_tmp.sh
  llm/evaluate.py
  llm/qdq.py
  paddlenlp/generation/utils.py
  paddlenlp/trainer/plugins/unified_checkpoint.py
  paddlenlp/trainer/utils/helper.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/version/__init__.py
  requirements.txt
Due: copyright_checker

update async_save_info
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix bug
  llm/alignment/rm/flashmask/reward_argument.py
  llm/alignment/rm/flashmask/run_reward.py
  paddlenlp/datasets/zero_padding_dataset.py
  paddlenlp/transformers/llama/fusion_ops.py
Due: copyright_checker

update async_save_info (#9172)
  paddlenlp/trainer/trainer.py
Due: copyright_checker
