Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

[AutoParallel]: add qwen model_auto and ci
  paddlenlp/transformers/qwen/modeling_3D_auto.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update
  paddlenlp/transformers/cache_utils.py
Due: copyright_checker

增加resume-ckpt支持
  paddlenlp/trainer/argparser.py
Due: copyright_checker

[Unified Checkpoint] fix single card loading without master weights
  paddlenlp/trainer/unified_checkpoint/load_save_single_card.py
Due: copyright_checker

fix
  scripts/regression/run_ci.sh
  tests/test_tipc/llm/qwen2_5/benchmark_common/run_benchmark.sh
Due: copyright_checker

modify paddlenlp_ops && fix save_out bugs
  csrc/gpu/get_output.cc
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/proposers.py
Due: copyright_checker

fix
  tests/test_tipc/llm/qwen2_5/N1C8/qwen-qwen2_5-1_5b_sft_bs16_bf16_tp1_pp1_acc1_dygraph.sh
Due: copyright_checker

[AutoParallel]: add qwen model_auto and ci
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix import
  paddlenlp/trl/extras/dataset_formatting.py
Due: copyright_checker

add adam-mini
  docs/llm/docs/predict/speculative_decoding.md
  docs/trainer.md
  llm/docs/dpo.md
  llm/docs/finetune.md
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/optimizer.py
  tests/fixtures/llm/adamw_mini.yaml
  tests/llm/test_adamw_mini.py
Due: copyright_checker, add-spaces-between-chinese-and-english

pdc-versioncontrol-6234 pdc-versioncontrol-6400 sft 多阶段接口
  paddlenlp/trainer/argparser.py
Due: copyright_checker

run dpo script support qwen2
  llm/alignment/dpo/run_dpo.py
Due: copyright_checker

update
  llm/config/qwen/emb_argument.json
  llm/run_embedding.py
  llm/utils/argument.py
  paddlenlp/data/data_collator.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

add init file.
  paddlenlp/trl/extras/__init__.py
Due: copyright_checker

update CI scripts
  scripts/regression/run_ci.sh
Due: copyright_checker

Update model_utils.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

[XPU] qwen2 supports flash_attn on XPU
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker

[AutoParallel]:add qwen ci
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

set 64 cards pp8
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1_test.json
Due: none

set 128 pp16
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1_test.json
  llm/run_dist.sh
Due: copyright_checker

delete generate_rank_mapping when export multi cards model
  llm/predict/export_model.py
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

[AutoParallel]:add gpt & baichuan auto ci
  llm/auto_parallel/gpt-3/run_pretrain_auto.py
  paddlenlp/trainer/auto_training_args.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix
  tests/test_tipc/llm/qwen2_5/benchmark_common/run_benchmark.sh
Due: copyright_checker

add llama3.1 config
  tests/test_tipc/static/auto_parallel/llama2/pretrain_config_llama3.1_8b/pretrain_llama3.1_8b.json
Due: none

fix
  docs/llm/docs/predict/speculative_decoding.md
  llm/docs/finetune.md
  llm/run_finetune.py
  paddlenlp/__init__.py
  setup.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update blacklist
  scripts/distribute/ci_case_auto.sh
  scripts/distribute/ci_case_dy.sh
  scripts/distribute/run_ci.sh
Due: copyright_checker

[Fix] Update requirements.txt (#9514)
  requirements.txt
Due: none

Update README.md
  README.md
Due: add-spaces-between-chinese-and-english

Update check_completion.py
  paddlenlp/trainer/unified_checkpoint/check_completion.py
Due: copyright_checker

Fix multi-threading load_state_dict (#9464)
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

[Unified Checkpoint] fix single card loading without master weights (#9540)
  paddlenlp/trainer/unified_checkpoint/load_save_single_card.py
Due: copyright_checker

mergekit_with_sparsify
  llm/tools/run_model_weight_merge.py
  paddlenlp/__init__.py
  paddlenlp/mergekit/__init__.py
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_linear.py
  paddlenlp/mergekit/merge_model.py
  paddlenlp/mergekit/merge_slerp.py
  paddlenlp/mergekit/merge_sparsify.py
  paddlenlp/mergekit/merge_ties.py
  paddlenlp/mergekit/merge_utils.py
  paddlenlp/utils/env.py
Due: copyright_checker

set 64 pp16
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1.json
  llm/llama/pretrain-llama_13b-pp4tp2sd2_stage1_test.json
Due: none

[AutoParallel]:add gpt & baichuan auto ci
  llm/auto_parallel/gpt-3/run_pretrain_auto.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
