Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

add doc for pybind and dynamic_insert
  llm/docs/predict/best_practices.md
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

check
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

change USE_PYBIND_CUSTOM_OPS to DYNAMIC_INFERENCE_MODE
  llm/predict/predictor.py
  paddlenlp/utils/import_utils.py
Due: copyright_checker

check doc
  llm/docs/predict/best_practices.md
Due: add-spaces-between-chinese-and-english

fix link.
  docs/en/data_prepare/dataset_list.md
  docs/en/llm/dataset.md
  docs/en/llm/devices/dcu/llama/README.md
  docs/en/llm/docs/dpo.md
  docs/en/llm/tools/preprocess/docs/OpenWebText2.md
  docs/en/model_zoo/taskflow.md
  docs/zh/model_zoo/taskflow.md
  llm/docs/dpo.md
  llm/tools/preprocess/docs/OpenWebText2.md
  slm/applications/neural_search/ranking/cross_encoder/README.md
  slm/applications/neural_search/ranking/ernie_matching/README.md
  slm/applications/text_classification/hierarchical/deploy/paddle_serving/README.md
  tests/test_tipc/docs/install.md
Due: add-spaces-between-chinese-and-english

code check
  llm/predict/predictor.py
Due: copyright_checker

support balance batch
  paddlenlp/rl/trainer/ppo_trainer.py
  paddlenlp/rl/utils/comm_utils.py
  paddlenlp/rl/utils/config_utils.py
  paddlenlp/rl/utils/infer_utils.py
Due: copyright_checker

[LLM] zcc support rng states
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/utils/flash_checkpoint.py
Due: copyright_checker

dle while
  llm/predict/predictor.py
Due: copyright_checker

del while
  llm/predict/predictor.py
Due: copyright_checker

fix
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

分离balance batch, 删除per_device_train_split_batch_size
  paddlenlp/rl/trainer/ppo_trainer.py
  paddlenlp/rl/trainer/rl_trainer.py
  paddlenlp/rl/utils/comm_utils.py
Due: copyright_checker

check dynamic_insert debug
  llm/predict/predictor.py
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

[RL] Fix flashmask reward training
  llm/alignment/rm/README.md
  llm/alignment/rm/data.py
  llm/alignment/rm/flashmask/reward_trainer.py
  llm/alignment/rm/flashmask/run_reward.py
  llm/alignment/rm/legacy/reward_trainer.py
  llm/alignment/rm/legacy/run_reward.py
  llm/alignment/rm/models
  llm/alignment/rm/reward_argument.py
  llm/alignment/rm/reward_model.py
  llm/alignment/rm/reward_trainer.py
  llm/alignment/rm/run_reward.py
  llm/config/llama/rm_flashmask_argument.json
Due: copyright_checker, add-spaces-between-chinese-and-english

[RL] Fix flashmask reward training
  llm/alignment/rm/README.md
Due: add-spaces-between-chinese-and-english

[RL] Fix flashmask reward training
  docs/zh/llm/alignment/rm/README.md
Due: add-spaces-between-chinese-and-english

check task_queue is empty when dynamic insert exit
  llm/predict/predictor.py
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

fix blocking when output_via_mq=1 in dynamic_insert
  llm/predict/predictor.py
Due: copyright_checker

support balance batch
  paddlenlp/rl/trainer/ppo_trainer.py
  paddlenlp/rl/utils/comm_utils.py
  paddlenlp/rl/utils/config_utils.py
Due: copyright_checker

add a8w8
  paddlenlp/quantization/hadamard_utils.py
  paddlenlp/quantization/qat_utils.py
  paddlenlp/quantization/quantization_config.py
  paddlenlp/quantization/quantization_linear.py
  paddlenlp/quantization/quantization_utils.py
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/utils/optimizer.py
Due: copyright_checker

[RL] Fix flashmask reward training
  tests/llm/test_prm.py
  tests/llm/test_rm.py
Due: copyright_checker

hack 实现 int_wo MOE
  csrc/xpu/src/moe_fused.cc
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

多线程 mmlu 脚本
  llm/benchmark/mmlu_pro/evaluate_from_api.py
  llm/benchmark/mmlu_pro/run_mmlu_pro.sh
Due: copyright_checker

mmlu 8K 输出
  llm/benchmark/mmlu_pro/evaluate_from_api.py
Due: copyright_checker

check
  csrc/gpu/cpp_extensions.cu
Due: copyright_checker

add per_token_group_quant, per_tensor_quant_fp8 into pybind_ops_list
  paddlenlp/utils/import_utils.py
Due: copyright_checker

rng state
  paddlenlp/rl/utils/comm_utils.py
Due: copyright_checker

add per_device_train_split_batch_size
  paddlenlp/rl/trainer/rl_trainer.py
Due: copyright_checker

[PIR] fix machine_reading_comprehension squad
  slm/examples/machine_reading_comprehension/SQuAD/README.md
  slm/examples/machine_reading_comprehension/SQuAD/deploy/python/predict.py
Due: copyright_checker, add-spaces-between-chinese-and-english

Update README.md
  slm/examples/machine_reading_comprehension/SQuAD/README.md
Due: add-spaces-between-chinese-and-english

support input input_ids, and all_rank_return in dy_insert
  llm/predict/predictor.py
Due: copyright_checker

use verl balance algo
  paddlenlp/rl/utils/comm_utils.py
Due: copyright_checker

update num_return_sequences to rollout_n in .md and .json
  docs/en/llm/alignment/ppo/README.md
  docs/en/llm/docs/rlhf.md
  llm/alignment/ppo/README.md
  llm/config/llama/grpo_argument.json
  llm/config/llama/ppo_argument.json
  llm/config/qwen/grpo_argument.json
  llm/docs/rlhf.md
  tests/fixtures/llm/ppo.yaml
Due: add-spaces-between-chinese-and-english

refine code
  llm/predict/predictor.py
Due: copyright_checker

delete print
  llm/predict/predictor.py
Due: copyright_checker

当开启balance_batch的时候,强制prompt的input id需要padding到max_prompt_len
  llm/alignment/ppo/run_ppo.py
  paddlenlp/datasets/rlhf_datasets/rl_dataset.py
Due: copyright_checker

fix
  paddlenlp/datasets/rlhf_datasets/rl_dataset.py
Due: copyright_checker
