Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

update flash_mask
  llm/alignment/dpo/run_dpo_auto.py
  paddlenlp/transformers/llama/modeling_network.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

[doc] 支持用户自行下载静态图
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

support groupwise quant for llama
  paddlenlp/experimental/transformers/llama/modeling.py
Due: copyright_checker

[Doc] fix format
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

Update requirements-dev.txt
  requirements-dev.txt
Due: none

update paddlenlp_ops install
  scripts/regression/ci_case.sh
Due: copyright_checker

fix gpt auto embedding dims_mapping[-1,1]
  paddlenlp/transformers/gpt/modeling_auto.py
Due: copyright_checker

update
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Update static_models.md
  llm/server/docs/static_models.md
Due: add-spaces-between-chinese-and-english

fix case only in a100
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

refine according to comment
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

update recommended paddle version 3.0-rc
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

fix bug
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

[LLM] 增加版本号
  llm/server/dockerfiles/Dockerfile_serving_cuda118_cudnn8
  llm/server/dockerfiles/Dockerfile_serving_cuda124_cudnn9
Due: none

[LLM] 增加版本号
  llm/server/server/server/engine/config.py
Due: copyright_checker

fix
  ops/csrc/fp8/deep_gemm/__init__.py
  ops/csrc/fp8/deep_gemm/include/deep_gemm/fp8_gemm.cuh
  ops/csrc/fp8/deep_gemm/include/deep_gemm/mma_utils.cuh
  ops/csrc/fp8/deep_gemm/include/deep_gemm/scheduler.cuh
  ops/csrc/fp8/deep_gemm/include/deep_gemm/tma_utils.cuh
  ops/csrc/fp8/deep_gemm/include/deep_gemm/utils.cuh
  ops/csrc/fp8/deep_gemm/jit/__init__.py
  ops/csrc/fp8/deep_gemm/jit/compiler.py
  ops/csrc/fp8/deep_gemm/jit/interleave_ffma.py
  ops/csrc/fp8/deep_gemm/jit/runtime.py
  ops/csrc/fp8/deep_gemm/jit/template.py
  ops/csrc/fp8/deep_gemm/jit_kernels/__init__.py
  ops/csrc/fp8/deep_gemm/jit_kernels/gemm.py
  ops/csrc/fp8/deep_gemm/jit_kernels/m_grouped_gemm.py
  ops/csrc/fp8/deep_gemm/jit_kernels/tuner.py
  ops/csrc/fp8/deep_gemm/jit_kernels/utils.py
  ops/csrc/fp8/deep_gemm/utils.py
  ops/csrc/fp8/setup.py
  ops/csrc/fp8/tests/test_core.py
Due: copyright_checker

fix
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

change arg ref to github file
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

fix typo
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

[LLM] 增加版本号
  llm/server/dockerfiles/Dockerfile_serving_cuda118_cudnn8
  llm/server/dockerfiles/Dockerfile_serving_cuda124_cudnn9
  llm/server/server/server/engine/config.py
Due: copyright_checker

update paddle version
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

[LLM] fix bug
  llm/server/server/server/engine/config.py
Due: copyright_checker

add_readme
  llm/auto_parallel/deepseek-v3/README.md
Due: add-spaces-between-chinese-and-english

fix
  csrc/tools/build_wheel.sh
  setup.py
Due: copyright_checker

add base_model_prefix in ds3 modeling pp
  paddlenlp/transformers/deepseek_v3/modeling_pp.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

add reinforce++
  llm/alignment/ppo/comm_utils.py
  llm/alignment/ppo/models/ppo_model_utils.py
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/reinforce.sh
  llm/alignment/ppo/reinforce_no_amp.sh
  llm/alignment/ppo/run_ppo.py
  llm/alignment/ppo/trainer_utils.py
Due: copyright_checker

rm info
  llm/alignment/ppo/ppo_trainer.py
  llm/alignment/ppo/reinforce.sh
  llm/alignment/ppo/reinforce_no_amp.sh
Due: copyright_checker

add distill files
  llm/application/distill/README.txt
  llm/application/distill/distill_data.py
  llm/application/distill/distill_eval.py
  llm/application/distill/distill_model.py
  llm/application/distill/run_finetune.sh
  llm/application/distill/run_predict.sh
  llm/application/distill/sft_argument.json
Due: copyright_checker

update path
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Update README.md
  llm/devices/xpu/llama/README.md
Due: add-spaces-between-chinese-and-english

Update README.md
  llm/devices/dcu/llama/README.md
Due: add-spaces-between-chinese-and-english
