Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

fix auto tokenizer
  paddlenlp/transformers/auto/factory.py
  paddlenlp/transformers/auto/tokenizer.py
Due: copyright_checker

lint
  paddlenlp/transformers/auto/tokenizer.py
Due: copyright_checker

git upgrade tokenizer
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/auto/tokenizer.py
  paddlenlp/transformers/bert/__init__.py
  paddlenlp/transformers/convert_slow_tokenizer.py
  paddlenlp/transformers/roberta/tokenizer_fast.py
  paddlenlp/transformers/sentencepiece_model_pb2.py
  paddlenlp/transformers/sentencepiece_model_pb2_new.py
  paddlenlp/utils/import_utils.py
  tests/testing_utils.py
  tests/transformers/auto/test_tokenizer.py
Due: copyright_checker

Compatible with paddle.where
  llm/experimental/ernie-3.5-se/modeling.py
  paddlenlp/data/data_collator.py
  paddlenlp/transformers/bloom/modeling.py
  paddlenlp/transformers/codegen/modeling.py
  paddlenlp/transformers/gemma/modeling.py
  paddlenlp/transformers/gptj/modeling.py
  paddlenlp/transformers/mixtral/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/qwen2_moe/modeling.py
Due: copyright_checker

fix
  paddlenlp/transformers/codegen/modeling.py
  paddlenlp/transformers/gptj/modeling.py
Due: copyright_checker

add `Before submitting` for PR
  .github/PULL_REQUEST_TEMPLATE.md
Due: add-spaces-between-chinese-and-english

fix dead links
  docs/llm/devices/dcu/llama/README.md
  docs/llm/devices/gcu/llama/README.md
  docs/llm/devices/iluvatar/llama/README.md
  docs/llm/devices/intel_hpu/llama/README.md
  docs/llm/devices/metax/llama/README.md
  docs/llm/devices/mlu/llama/README.md
  docs/llm/devices/mthreads/llama/README.md
  docs/llm/devices/npu/llama/README.md
  docs/llm/devices/sdaa/llama/README.md
  docs/llm/devices/xpu/llama/README.md
  docs/llm/server/README.md
  docs/llm/server/docs/deploy_usage_tutorial.md
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

fix
  paddlenlp/transformers/codegen/modeling.py
Due: copyright_checker

fix dead links
  docs/llm/gcu/llama/README.md
  docs/llm/intel_hpu/llama/README.md
  docs/llm/metax/llama/README.md
  docs/llm/npu/llama/README.md
  docs/llm/sdaa/llama/README.md
  docs/llm/xpu/llama/README.md
Due: add-spaces-between-chinese-and-english

Update sync to avoid dead links.
  scripts/codestyle/check_dead_links.py
Due: copyright_checker

avoid fused_ln in README.md
  README.md
  scripts/codestyle/check_dead_links.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix import error
  tests/llm/testing_run_gpus_inference.py
Due: copyright_checker

update scripts/get_modified_files.py
  scripts/get_modified_files.py
Due: copyright_checker

update
  scripts/get_modified_files.py
Due: copyright_checker

add lora model
  paddlenlp/mergekit/merge_config.py
  paddlenlp/mergekit/merge_method.py
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

fix README.md
  README.md
Due: add-spaces-between-chinese-and-english

change valueerror
  paddlenlp/mergekit/merge_model.py
Due: copyright_checker

update for deepseekv3
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

update prepare_inputs_for_generation
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

update for predict
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix bugs.
  tests/llm/testing_run_gpus_inference.py
Due: copyright_checker

update TP and model load
  paddlenlp/generation/utils.py
  paddlenlp/transformers/conversion_utils.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v3/modeling.py
Due: copyright_checker

add lora
  tests/mergekit/test_merge_config.py
Due: copyright_checker

fix requirments.txt for py38
  requirements-dev.txt
  requirements.txt
  scripts/unit_test/ci_unit.sh
Due: copyright_checker

update
  requirements-dev.txt
  requirements.txt
Due: none

update
  requirements-dev.txt
Due: none

fix
  .github/workflows/pipelines.yml
  .github/workflows/tests.yml
Due: none

fix sequence parallel
  paddlenlp/trainer/training_args.py
Due: copyright_checker

fix sequence parallel
  llm/README.md
Due: add-spaces-between-chinese-and-english

gpu test
  tests/mergekit/test_merge_model.py
Due: copyright_checker

update register_sequence_parallel_allreduce_hooks
  llm/alignment/dpo/run_dpo.py
  llm/alignment/kto/run_kto.py
  llm/alignment/rm/flashmask/reward_argument.py
  llm/alignment/rm/flashmask/run_reward.py
  llm/auto_parallel/gpt-3/run_pretrain_auto.py
  llm/auto_parallel/llama/run_pretrain_auto.py
  llm/auto_parallel/qwen/run_pretrain_3D_auto.py
  llm/run_finetune.py
  llm/run_pretrain.py
  llm/run_quantization.py
  paddlenlp/trainer/trainer.py
Due: copyright_checker

fix moe
  llm/run_finetune.py
  llm/run_pretrain.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

修复训练参数args解析问题
  paddlenlp/trainer/argparser.py
Due: copyright_checker

[NPU] Adapt to new flash_attention_npu api
  paddlenlp/transformers/llama/fusion_ops.py
Due: copyright_checker

update fuse_sequence_parallel_allreduce
  llm/auto_parallel/gpt-3/run_pretrain_auto.py
  llm/auto_parallel/llama/run_pretrain_auto.py
  llm/auto_parallel/qwen/run_pretrain_3D_auto.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

fix loraga merge
  paddlenlp/peft/lora/lora_model.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
