Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

[Auto Parallel] Adding shard_optimizer for non-sharding parallel, fix ckpt converter to spport sharding stage1
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/utils/ckpt_converter.py
Due: copyright_checker

[AutoParallel] Enable CI for gradclip (#9059)
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

remove ceval from run_finetune (#9100)
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/docs/quantization.md
  llm/run_finetune.py
  llm/utils/argument.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[data] update tool_helpers version and add unittest (#9093)
  requirements.txt
  tests/data/test_blendable_dataset.py
Due: copyright_checker

[cherry-pick] update tool_helpers version and add unittest (#9114)
  requirements.txt
  tests/data/test_blendable_dataset.py
Due: copyright_checker

split param
  paddlenlp/trainer/plugins/unified_checkpoint.py
Due: copyright_checker

add
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP1-PP4-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP1-PP4-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP2-PP2-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP2-PP2-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs8_fp16O3_DP1-MP1-PP8-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs8_fp16O3_DP1-MP2-PP4-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP1-PP4-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP1-PP4-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP2-PP2-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP2-PP2-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs8_fp16O3_DP1-MP1-PP8-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs8_fp16O3_DP1-MP2-PP4-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/benchmark_common/run_benchmark.sh
Due: none

cherry pick dpotrainer
  paddlenlp/__init__.py
  paddlenlp/peft/lora/lora_model.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/sequence_parallel_utils.py
  paddlenlp/transformers/tensor_parallel_utils.py
  paddlenlp/trl/__init__.py
  paddlenlp/trl/dpo_criterion.py
  paddlenlp/trl/dpo_trainer.py
  paddlenlp/trl/trl_data.py
  paddlenlp/trl/trl_utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/infohub.py
Due: copyright_checker

fix bug
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

fix bug
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
Due: copyright_checker

update
  requirements.txt
Due: none

[Bugfix] fix multi-gpu infer (#9107)
  llm/predict/predictor.py
Due: copyright_checker

Revert workarounds about full_with_tensor as it will fix by paddle framework
  paddlenlp/generation/utils.py
Due: copyright_checker

update quantization.md
  llm/config/qwen/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/docs/quantization.md
  llm/utils/quant.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update quantization.md
  llm/docs/quantization.md
Due: add-spaces-between-chinese-and-english

add vtensor custom operator and support for llama
  csrc/generation/vtensor.cu
  csrc/setup_cuda.py
  csrc/setup_hip.py
  paddlenlp/transformers/llama/modeling.py
Due: copyright_checker

cherry pick dpotrainer (#9117)
  paddlenlp/__init__.py
  paddlenlp/peft/lora/lora_model.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/sequence_parallel_utils.py
  paddlenlp/transformers/tensor_parallel_utils.py
  paddlenlp/trl/__init__.py
  paddlenlp/trl/dpo_criterion.py
  paddlenlp/trl/dpo_trainer.py
  paddlenlp/trl/trl_data.py
  paddlenlp/trl/trl_utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/infohub.py
Due: copyright_checker

fix
  paddlenlp/transformers/ring_flash_attention.py
Due: copyright_checker

add tools
  llm/tools/convert_gqa_to_mha.py
  llm/tools/merge_satetensors.py
  llm/tools/run_split_weights.sh
  llm/tools/split_weights.py
Due: copyright_checker

remove debug data
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/training_args.py
Due: copyright_checker

add callback_handler
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Support Qwen2-57B-A14B
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

add ut
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

Fix codestyle
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

fix step.cu
  csrc/gpu/step.cu
Due: copyright_checker

Revert "cherry pick dpotrainer (#9117)"
  paddlenlp/__init__.py
  paddlenlp/peft/lora/lora_model.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/sequence_parallel_utils.py
  paddlenlp/transformers/tensor_parallel_utils.py
  paddlenlp/trl/__init__.py
  paddlenlp/trl/dpo_criterion.py
  paddlenlp/trl/dpo_trainer.py
  paddlenlp/trl/trl_data.py
  paddlenlp/trl/trl_utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/infohub.py
Due: copyright_checker

Revert "cherry pick dpotrainer (#9117)" (#9123)
  paddlenlp/__init__.py
  paddlenlp/peft/lora/lora_model.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/sequence_parallel_utils.py
  paddlenlp/transformers/tensor_parallel_utils.py
  paddlenlp/trl/__init__.py
  paddlenlp/trl/dpo_criterion.py
  paddlenlp/trl/dpo_trainer.py
  paddlenlp/trl/trl_data.py
  paddlenlp/trl/trl_utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/infohub.py
Due: copyright_checker

fix
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

refine
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP1-PP4-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP1-PP4-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP2-PP2-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs16_fp16O3_DP2-MP2-PP2-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs8_fp16O3_DP1-MP1-PP8-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/N1C8/gpt_auto_bs8_fp16O3_DP1-MP2-PP4-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP1-PP4-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP1-PP4-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP2-PP2-SD2-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs16_fp16O3_DP2-MP2-PP2-SD2-stage2.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs8_fp16O3_DP1-MP1-PP8-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/N1C8/gpt_auto_pir_bs8_fp16O3_DP1-MP2-PP4-SD1-stage1.sh
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/benchmark_common/run_benchmark.sh
Due: none

Add fast_ln spmd rules
  legacy/model_zoo/gpt-3/external_ops/fast_ln/ln_api.cpp
Due: none

refine
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp_pir/benchmark_common/run_benchmark.sh
Due: none

refine
  legacy/model_zoo/gpt-3/benchmarks/test_tipc/gpt/static/new_exec_pp/benchmark_common/run_benchmark.sh
Due: none

add multy devices supported models
  README.md
  docs/model_zoo/model_list_multy_device.md
Due: add-spaces-between-chinese-and-english

[FEA] PP prepare_inputs add autocast (#9091)
  paddlenlp/trainer/trainer.py
Due: copyright_checker

【Inference】fix step kernel (#9122)
  csrc/gpu/step.cu
Due: copyright_checker

[DCU] fix DCU w8a8c8 GEMM shape
  llm/predict/export_model.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
Due: copyright_checker

[DCU] fix DCU w8a8c8 GEMM shape (#9115)
  llm/predict/export_model.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
