Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

absorb mla v1
  csrc/gpu/append_attn/decode_attention_func.cuh
  csrc/gpu/append_attn/decode_attention_kernel.cu
  csrc/gpu/append_attn/mla_cache_kernel.cu
  csrc/gpu/append_attn/mla_cache_kernel.cuh
  csrc/gpu/append_attn/multi_head_latent_attention_kernel.h
  csrc/gpu/append_attn/utils.cuh
  csrc/gpu/multi_head_latent_attention.cu
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix dsk diff
  csrc/gpu/step.cu
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

suppoort_deepseekv2_autoparallel_with_DP/MP
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.py
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/__init__.py
  paddlenlp/transformers/deepseek_v2/modeling_network.py
Due: copyright_checker

absorb mla v1 support
  csrc/gpu/append_attn/decode_attention_func.cuh
  csrc/gpu/append_attn/decode_attention_kernel.cu
  csrc/gpu/append_attn/mla_cache_kernel.cu
  csrc/gpu/append_attn/mla_cache_kernel.h
  csrc/gpu/append_attn/multi_head_latent_attention_kernel.h
  csrc/gpu/append_attn/utils.cuh
  csrc/gpu/multi_head_latent_attention.cu
  csrc/setup_cuda.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix
  paddlenlp/trainer/trainer.py
Due: copyright_checker

poolish
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.py
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/__init__.py
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
Due: copyright_checker

remove_env_set
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
Due: copyright_checker

Update
  llm/auto_parallel/llama/run_llama2_13b_xpu.sh
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/transformers/llama/modeling_auto.py
Due: copyright_checker

fix
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/moe_gate.py
Due: copyright_checker

fix infra
  llm/predict/predictor.py
Due: copyright_checker

update_code
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
Due: copyright_checker

change resunme_rng_state time
  paddlenlp/trainer/trainer.py
Due: copyright_checker

add_v3
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
  paddlenlp/transformers/deepseek_v3/modeling_auto.py
Due: copyright_checker

fix append_attn
  csrc/gpu/append_attn/append_attention_c16_impl.cuh
Due: none

fix
  csrc/gpu/append_attn/append_attention_c16_impl.cuh
Due: none

update
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

support_sharding
  llm/auto_parallel/deepseek-v2/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v2/modeling_auto.py
Due: copyright_checker

fix_typo
  llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

fix speculate tokenizer in unittest
  paddlenlp/trl/llm_utils.py
Due: copyright_checker

delete useless code
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
Due: copyright_checker

Support hareware tflops for deepseek.
  llm/config/deepseek-v2/pretrain_argument.json
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
  paddlenlp/transformers/deepseek_v2/mfu_utils.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/deepseek_v3/modeling_pp.py
  paddlenlp/transformers/gemma/modeling.py
  paddlenlp/transformers/gpt/modeling.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/qwen/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/utils.py
Due: copyright_checker

fix RM training
  llm/alignment/rm/reward_trainer.py
  llm/alignment/rm/run_reward.py
  llm/config/llama/rm_argument.json
  llm/docs/rlhf.md
Due: copyright_checker, add-spaces-between-chinese-and-english

fix pir bug
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/text_similarity.py
  paddlenlp/taskflow/zero_shot_text_classification.py
Due: copyright_checker

move_to_v3
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.py
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.sh
  paddlenlp/transformers/deepseek_v3/__init__.py
  paddlenlp/transformers/deepseek_v3/modeling_auto.py
Due: copyright_checker

fix_typo
  llm/auto_parallel/deepseek-v3/run_pretrain_auto.py
Due: copyright_checker

[LLM] SSupport multi machine deployment
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/data/processor.py
  llm/server/server/server/engine/config.py
  llm/server/server/server/engine/engine.py
  llm/server/server/server/engine/infer.py
  llm/server/server/server/engine/task_queue_manager.py
  llm/server/server/server/triton_server.py
  llm/server/server/server/triton_server_helper.py
Due: copyright_checker

fix pir bug
  paddlenlp/transformers/semantic_search/modeling.py
Due: copyright_checker

fix lint
  paddlenlp/utils/env.py
Due: copyright_checker

update_v3_config
  paddlenlp/transformers/deepseek_v3/modeling_auto.py
Due: copyright_checker

use fused rope
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
Due: copyright_checker

support static graph mode execution
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/generation_utils.py
Due: copyright_checker

mtp
  paddlenlp/transformers/deepseek_v2/configuration.py
  paddlenlp/transformers/deepseek_v2/modeling.py
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/deepseek_v3/modeling.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix docs.
  docs/index.rst
  docs/llm/docs/advanced.rst
  docs/llm/docs/llm_trainer.rst
  docs/llm/docs/predict/index.rst
  docs/llm/server/index.rst
Due: none

fix docs.
  docs/index.rst
  docs/llm/docs/predict/index.rst
  llm/README.md
  llm/docs/predict/best_practices.md
  llm/docs/predict/inference.md
  llm/docs/predict/installation.md
  llm/server/README.md
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

refine docs.
  llm/server/README.md
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

inference servering doc to one.
  docs/index.rst
  docs/llm/docs/predict/index.rst
Due: none

fix
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

refactor.
  docs/llm/docs/predict/devices.rst
  docs/llm/docs/predict/index.rst
  llm/server/docs/deploy_usage_tutorial.md
Due: add-spaces-between-chinese-and-english

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
