Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

support deepseek_vl2 inference
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
Due: copyright_checker

Refractor and combining tokens_unzip_and_zip.
  slm/model_zoo/gpt-3/external_ops/setup.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
  tests/ops/test_tokens_weighted_zip.py
Due: copyright_checker

fix dequant bug
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

fix deepseek_data & paddleocr2.10_install
  requirements-dev.txt
  scripts/distribute/ci_case_auto.sh
  scripts/regression/requirements_ci.txt
Due: copyright_checker

Update run_dpo_auto.py
  llm/alignment/dpo/run_dpo_auto.py
Due: copyright_checker

Update dpo_criterion.py
  paddlenlp/transformers/dpo_criterion.py
Due: copyright_checker

Update trl_data.py
  paddlenlp/trl/trl_data.py
Due: copyright_checker

0318updated
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/stopping_criteria.py
  paddlenlp/transformers/gpt/modeling.py
  paddlenlp/transformers/gptj/modeling.py
  paddlenlp/transformers/mixtral/modeling.py
  tests/generation/test_logits_process.py
  tests/generation/test_stopping_criteria.py
  tests/generation/test_streamers.py
Due: copyright_checker

Fixed concurrent semaphore bug.
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
Due: copyright_checker

add AutoPredictor from_pretrained
  paddlenlp/inference/__init__.py
  paddlenlp/inference/base.py
  paddlenlp/inference/config.py
  paddlenlp/inference/fusemt.py
  paddlenlp/inference/predictor.py
  paddlenlp/inference/static.py
  paddlenlp/inference/utils.py
Due: copyright_checker

delete synchronize in zip op, and starting to add guided unzip kernel.
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
Due: copyright_checker

fix expert parameters
  paddlenlp/trainer/trainer.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix mix model save_output
  paddlenlp/experimental/transformers/generation_utils.py
Due: copyright_checker

Add fp8 support for unzip op, but cannot fake a tensor for testing.
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
Due: copyright_checker

Added guided_unzip op.
  slm/model_zoo/gpt-3/external_ops/setup.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_guided_unzip.cu
  tests/ops/test_tokens_guided_unzip.py
Due: copyright_checker

修复entropy_from_logits的问题,使用pylayer实现VocabParallelEntropy
  llm/alignment/ppo/models/ppo_model_utils.py
Due: copyright_checker

Organize results and update readme
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

Update README.md
  docs/llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

Delete docs/llm/auto_parallel/llama/README.md
  docs/llm/auto_parallel/llama/README.md
Due: add-spaces-between-chinese-and-english

fix
  paddlenlp/transformers/deepseek_v2/fp8_linear.py
Due: copyright_checker

Modified guided_unzip to satisfy real usage.
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_guided_unzip.cu
  tests/ops/test_tokens_guided_unzip.py
Due: copyright_checker

use _save function to save config, change the code structure
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

polish code
  slm/model_zoo/gpt-3/external_ops/setup.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_guided_unzip.cu
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
Due: copyright_checker

Fix typos and polish & tested code
  slm/model_zoo/gpt-3/external_ops/setup.py
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_guided_unzip.cu
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
  tests/ops/test_guided_unzip.py
  tests/ops/test_regroup.py
  tests/ops/test_tokens_unzip.py
  tests/ops/test_tokens_weighted_zip.py
  tests/ops/test_topk_to_multihot.py
Due: copyright_checker

Update ci_case_auto.sh
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

change the code sturcture
  paddlenlp/trainer/auto_trainer.py
Due: copyright_checker

fix dequant bug
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

[LLM] add port check and fix bugs (#10153)
  llm/server/dockerfiles/Dockerfile_serving_cuda118_cudnn8
  llm/server/dockerfiles/Dockerfile_serving_cuda124_cudnn9
  llm/server/docs/deploy_usage_tutorial.md
  llm/server/server/scripts/start_server.sh
  llm/server/server/server/data/processor.py
  llm/server/server/server/engine/infer.py
  llm/server/server/server/engine/token_processor.py
  llm/server/server/server/triton_server.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update EP demo
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

update readme
  slm/pipelines/examples/contrastive_training/README.md
Due: add-spaces-between-chinese-and-english

add reocket qa eval_mteb.sh
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

适配RocketQA (#1)
  paddlenlp/transformers/llm_embed/modeling.py
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.py
  slm/pipelines/examples/contrastive_training/models/__init__.py
  slm/pipelines/examples/contrastive_training/models/modeling.py
  slm/pipelines/examples/contrastive_training/models/modeling_nv.py
Due: copyright_checker

optimize atten impl
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

update eval_mteb.sh and readme
  slm/pipelines/examples/contrastive_training/README.md
  slm/pipelines/examples/contrastive_training/evaluation/eval_mteb.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

optimize ds3 attention impl
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker
