Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

fix grpo
  llm/alignment/ppo/README.md
Due: add-spaces-between-chinese-and-english

optimize a8w8
  paddlenlp/peft/lora/lora_quantization_layers.py
  paddlenlp/quantization/qat_utils.py
  paddlenlp/quantization/quantization_config.py
  paddlenlp/quantization/quantization_utils.py
Due: copyright_checker

add grpo kk 0.96
  llm/config/qwen/grpo_argument.yaml
Due: none

init qwen3
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/qwen3/modeling.py
Due: copyright_checker

fix readme bug
  llm/README.md
Due: add-spaces-between-chinese-and-english

Add qwen cross entropy optimize in dynamic auto mode
  llm/auto_parallel/qwen/run_pretrain_auto.py
Due: copyright_checker

first version.
  paddlenlp/transformers/auto/modeling.py
  paddlenlp/transformers/qwen2/configuration.py
  paddlenlp/transformers/qwen2/modeling.py
  paddlenlp/transformers/qwen3/modeling.py
Due: copyright_checker

update rl doc
  docs/zh/llm/alignment/rl/README.md
  llm/README.md
  llm/alignment/rl/README.md
  llm/alignment/rl/reward/client.py
  llm/alignment/rl/reward/fake_reward_server.py
  llm/alignment/rl/reward/reward_server.py
  llm/alignment/rl/run_ppo.py
  llm/alignment/rl/tests/run_model.py
  llm/alignment/rl/tests/test_export.py
  llm/config/qwen/reinforce_plus_plus_argument.yaml
Due: copyright_checker, add-spaces-between-chinese-and-english

fisrt version support for qwen3
  paddlenlp/transformers/qwen3/modeling.py
Due: copyright_checker

rename
  llm/alignment/rl/README.md
  llm/alignment/rl/run_rl.py
Due: copyright_checker, add-spaces-between-chinese-and-english

add missing files.
  paddlenlp/transformers/qwen3/__init__.py
  paddlenlp/transformers/qwen3/configuration.py
  paddlenlp/transformers/qwen3/modeling_pp.py
Due: copyright_checker

add readme
  README.md
  paddlenlp/transformers/auto/configuration.py
Due: copyright_checker, add-spaces-between-chinese-and-english

refine copyright.
  paddlenlp/transformers/qwen3/configuration.py
  paddlenlp/transformers/qwen3/modeling.py
  paddlenlp/transformers/qwen3/modeling_pp.py
Due: copyright_checker

fix the bug when checking moe_sharding_degree
  paddlenlp/trainer/training_args.py
Due: copyright_checker

init version for qwen moe.
  paddlenlp/transformers/qwen3_moe/__init__.py
  paddlenlp/transformers/qwen3_moe/configuration.py
  paddlenlp/transformers/qwen3_moe/modeling.py
  paddlenlp/transformers/qwen3_moe/modeling_pp.py
Due: copyright_checker

fix
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

fix
  paddlenlp/transformers/fp8_utils.py
  paddlenlp/transformers/moe_layer.py
  paddlenlp/transformers/moe_utils.py
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

add append_attn ut
  csrc/gpu/unittest/test_append_attention.py
Due: copyright_checker

fix networks.
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/auto/configuration.py
  paddlenlp/transformers/auto/modeling.py
  paddlenlp/transformers/qwen2_moe/modeling.py
  paddlenlp/transformers/qwen3_moe/__init__.py
  paddlenlp/transformers/qwen3_moe/configuration.py
  paddlenlp/transformers/qwen3_moe/modeling.py
  paddlenlp/utils/serialization.py
Due: copyright_checker

添加grpo_qwen32b 9机训练命令
  llm/alignment/rl/README.md
  llm/config/qwen/grpo_32b_argument.yaml
Due: add-spaces-between-chinese-and-english

fix generate.
  paddlenlp/transformers/conversion_utils.py
  paddlenlp/transformers/qwen3_moe/modeling.py
Due: copyright_checker

refine
  paddlenlp/transformers/conversion_utils.py
Due: copyright_checker

Fix qwen rl kl coeff
  llm/config/qwen/grpo_32b_argument.yaml
  llm/config/qwen/grpo_argument.yaml
  llm/config/qwen/reinforce_plus_plus_argument.yaml
Due: none

fix set_state_dict to slow for supper large network for network, such as moe model.
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

fix hybrid_order_default_value
  paddlenlp/trainer/training_args.py
Due: copyright_checker

Sharding Reshard Supports N -> 1
  paddlenlp/trainer/training_args.py
  paddlenlp/trainer/utils/reshard/common.py
  paddlenlp/trainer/utils/reshard/sharding_v1.py
  paddlenlp/trainer/utils/sharding_io.py
Due: copyright_checker

fix
  paddlenlp/transformers/moe_gate.py
  paddlenlp/transformers/qwen3_moe/modeling.py
Due: copyright_checker

Fix
  paddlenlp/transformers/token_dispatcher.py
Due: copyright_checker

fix
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

update real fp8_gemm
  paddlenlp/quantization/qat_utils.py
  paddlenlp/quantization/quantization_config.py
Due: copyright_checker

fix the bug when moe sharding degree=1
  paddlenlp/trainer/training_args.py
Due: copyright_checker

bugfix for sm89
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89_varlen.cu
Due: copyright_checker

update kernels
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f16_kernel_sm80_varlen.cu
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89_varlen.cu
Due: copyright_checker

unify comments
  paddlenlp/rl/algos/advantage.py
  paddlenlp/rl/models/ppo_model_utils.py
  paddlenlp/rl/models/score_model.py
  paddlenlp/rl/models/score_model_utils.py
  paddlenlp/rl/trainer/actor_trainer.py
  paddlenlp/rl/trainer/critic_trainer.py
  paddlenlp/rl/trainer/ppo_trainer.py
  paddlenlp/rl/trainer/reward_trainer.py
  paddlenlp/rl/trainer/rl_trainer.py
  paddlenlp/rl/trainer/trainer_utils.py
  paddlenlp/rl/utils/comm_utils.py
  paddlenlp/rl/utils/config_utils.py
  paddlenlp/rl/utils/offload_utils.py
  paddlenlp/rl/utils/reshard_utils.py
  paddlenlp/rl/utils/timer_utils.py
Due: copyright_checker

[LLM] enhance logger output for real filename and lineno
  paddlenlp/utils/log.py
Due: copyright_checker

check eos token ids
  llm/server/server/server/data/processor.py
Due: copyright_checker

[LLM] add fuse attention options to LlmMetaConfig
  paddlenlp/transformers/configuration_utils.py
Due: copyright_checker

debug sm89
  csrc/gpu/sage_attn_kernels/sageattn_qk_int_sv_f8_kernel_sm89_varlen.cu
Due: copyright_checker
