Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

[GCU] Add gcu llama2-13b readme
  llm/gcu/llama/README.md
  llm/gcu/llama/predict_llama_gcu.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

add ut
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

fix qwen model use_casual_mask
  paddlenlp/transformers/qwen/modeling.py
Due: copyright_checker

fix
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

add ut
  paddlenlp/trainer/utils/ckpt_converter.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

[GCU] Add gcu llama2-13b readme (#8950)
  llm/gcu/llama/README.md
  llm/gcu/llama/predict_llama_gcu.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

avoid cuda sync in postprocess of LLM decoding
  paddlenlp/generation/logits_process.py
  paddlenlp/generation/utils.py
Due: copyright_checker

fix_chatglmv2_8K
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

[Feature] fused mixtral wint4
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
Due: copyright_checker

Fix qwen model use_casual_mask (#9009)
  paddlenlp/transformers/qwen/modeling.py
Due: copyright_checker

update
  README.md
  docs/llm/docs/inference.md
  llm/README.md
  llm/docs/inference.md
  llm/docs/predict/best_practices.md
  llm/docs/predict/inference.md
  llm/docs/predict/installation.md
  llm/docs/predict/llama.md
  llm/docs/predict/mixtral.md
  llm/docs/predict/qwen.md
Due: add-spaces-between-chinese-and-english

update
  llm/docs/dcu_install.md
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

Fix zero_padding (#9003)
  llm/run_finetune.py
  paddlenlp/datasets/zero_padding_dataset.py
  tests/dataset/test_zero_padding.py
Due: copyright_checker

add fp8 quant and cachekv quant
  .gitignore
  llm/config/llama/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/llama/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/llama/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/llama/ceval/w8a8_ptq_argument.json
  llm/config/llama/ceval/w8a8c8_ptq_argument.json
  llm/config/llama/ceval/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval_ptq_argument.json
  llm/config/llama/fp8_ptq_argument.json
  llm/config/llama/ptq_c8_argument.json
  llm/config/qwen/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8c8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8c8_ptq_argument.json
  llm/config/qwen/ceval/wfp8afp8_ptq_argument.json
  llm/docs/quantization.md
  llm/experimental/ceval/default/eval.py
  llm/experimental/ceval/default/evaluator.py
  llm/experimental/ceval/default/model_evaluator.py
  llm/experimental/ceval/default/subject_mapping.json
  llm/experimental/ceval/prepare_data_for_ptq.py
  llm/experimental/layers/cache_kv.py
  llm/experimental/layers/custom_attention.py
  llm/experimental/observer/abs_max_headwise.py
  llm/experimental/observer/asym_headwise_cachekv.py
  llm/experimental/observer/avg_headwise.py
  llm/experimental/observer/channel_wise.py
  llm/experimental/observer/mse.py
  llm/experimental/observer/static.py
  llm/predict.sh
  llm/run_finetune.py
  llm/utils/argument.py
  llm/utils/quant.py
  llm/utils/utils.py
  paddlenlp/transformers/llama/modeling.py
  paddlenlp/transformers/qwen2/modeling.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix merge conflict
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

update
  llm/docs/predict/llama.md
  llm/docs/predict/mixtral.md
  llm/docs/predict/qwen.md
Due: add-spaces-between-chinese-and-english

fix merge
  paddlenlp/experimental/transformers/__init__.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

fix merge
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix comments
  README.md
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

update qwen2 ceval ptq config
  llm/config/qwen/ceval/w8a8_ptq_argument.json
  llm/config/qwen/ceval/w8a8c8_ptq_argument.json
Due: none

Fix step.cu bug (#8995)
  csrc/generation/step.cu
Due: copyright_checker

fix_chatglmv2_8k
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

fix according to review
  paddlenlp/experimental/transformers/__init__.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/__init__.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
  paddlenlp/transformers/tokenizer_utils.py
Due: copyright_checker

qwen2 support skip scales
  paddlenlp/experimental/transformers/qwen2/modeling.py
Due: copyright_checker

update quantization.md
  llm/README.md
  llm/docs/assets/quant_result.png
  llm/docs/quantization.md
Due: add-spaces-between-chinese-and-english

fix comments
  llm/docs/predict/inference.md
  llm/docs/predict/installation.md
  llm/docs/predict/llama.md
Due: add-spaces-between-chinese-and-english

fix comments
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

fix according to review2
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/transformers/qwen2_moe/modeling.py
Due: copyright_checker

fix according to review2
  llm/predict/predictor.py
Due: copyright_checker

Upgrade tool_helpers to support 32766个dataset. (#8994) (#8998)
  legacy/model_zoo/ernie-1.0/data_tools/helpers.cpp
  paddlenlp/data/blendable_dataset.py
Due: copyright_checker

submit fix
  llm/predict/predictor.py
  paddlenlp/transformers/qwen2_moe/modeling.py
Due: copyright_checker

fix according to review
  llm/predict/predictor.py
Due: copyright_checker

[Refactor] refine code
  paddlenlp/experimental/transformers/mixtral/modeling.py
Due: copyright_checker

update modeling and modeling_pp
  paddlenlp/transformers/chatglm_v2/modeling.py
  paddlenlp/transformers/chatglm_v2/modeling_pp.py
Due: copyright_checker

fix review
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

Refine checkpoint converter (#9001)
  paddlenlp/trainer/auto_trainer.py
  paddlenlp/trainer/utils/ckpt_converter.py
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

update inference.md
  llm/docs/predict/inference.md
Due: add-spaces-between-chinese-and-english

fix special_tokens_map_file load
  paddlenlp/transformers/tokenizer_utils_base.py
Due: copyright_checker

update_pp_for_chatglmv2
  paddlenlp/transformers/chatglm_v2/__init__.py
  paddlenlp/transformers/chatglm_v2/modeling_pp.py
Due: copyright_checker
