Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

.pre-commit-config.yaml:

exclude: 'legacy/model_zoo/gpt-3'
repos:
# For Python files
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: \.(py|pyi)$
        additional_dependencies: [toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.5
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*paddle)^.*$
    -   id: end-of-file-fixer
        files: \.md$
    -   id: trailing-whitespace
        files: \.md$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.14
    hooks:
    -   id: forbid-crlf
        files: \.md$
    -   id: remove-crlf
        files: \.md$
    -   id: forbid-tabs
        files: \.md$
    -   id: remove-tabs
        files: \.md$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python .copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
# For Markdown files
-   repo: local
    hooks:
    -   id: add-spaces-between-chinese-and-english
        name: Add spaces between Chinese and English characters
        entry: python scripts/codestyle/check_spaces.py
        language: python
        files: \.(md|markdown)$
        pass_filenames: true

fix tests
  tests/transformers/llm_embed/test_modeling.py
Due: copyright_checker

update ep
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

fix .readthedocs.yaml
  docs/.readthedocs.yaml
Due: none

fix 0 size
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

fix yaml.
  docs/.readthedocs.yaml
Due: none

refine mem
  paddlenlp/transformers/moe_utils.py
Due: copyright_checker

fix readme.
  docs/en/index.rst
Due: none

update.
  docs/en/llm/docs/finetune.md
Due: add-spaces-between-chinese-and-english

optimizer docs.
  docs/en/llm/docs/finetune.md
  docs/en/trainer.md
Due: add-spaces-between-chinese-and-english

update
  llm/alignment/ppo/comm_utils.py
  llm/alignment/ppo/ppo_trainer.py
Due: copyright_checker

support MOE EP Parallel 1.
  paddlenlp/experimental/transformers/bloom/modeling.py
  paddlenlp/experimental/transformers/chatglm/modeling.py
  paddlenlp/experimental/transformers/chatglm_v2/modeling.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/gpt/modeling.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
  paddlenlp/experimental/transformers/opt/modeling.py
  paddlenlp/experimental/transformers/qwen/modeling.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

update DSK moe TP_DP_EP demo
  llm/predict/predictor.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

update user
  llm/alignment/ppo/comm_utils.py
  llm/alignment/ppo/ppo_trainer.py
Due: copyright_checker

[LLM] fix openai client and stream output
  llm/server/server/server/http_server/adapter_openai.py
  llm/server/server/server/http_server/app.py
  llm/server/server/server/triton_server.py
Due: copyright_checker

refine docs.
  docs/en/index.rst
  docs/en/source
Due: none

Fix
  paddlenlp/mergekit/__init__.py
  paddlenlp/metrics/dureader.py
  paddlenlp/metrics/mrr.py
  paddlenlp/ops/distributed/utils/topo.py
  paddlenlp/ops/optimizer/adamwdl.py
  paddlenlp/peft/lokr/lokr_config.py
Due: copyright_checker

Fix
  docs/locale/en/LC_MESSAGES/source/paddlenlp.taskflow.models.sentiment_analysis_model.po
  docs/locale/en/LC_MESSAGES/source/paddlenlp.taskflow.taskflow.po
  docs/locale/en/LC_MESSAGES/source/paddlenlp.transformers.transformer.modeling.po
  docs/locale/en/LC_MESSAGES/source/paddlenlp.utils.batch_sampler.po
  paddlenlp/datasets/dataset.py
  paddlenlp/experimental/transformers/opt/modeling.py
  paddlenlp/ops/triton_ops/triton_utils.py
  paddlenlp/taskflow/taskflow.py
  paddlenlp/transformers/configuration_utils.py
  paddlenlp/transformers/conversion_utils.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/transformer/modeling.py
  paddlenlp/trl/quant_config.py
  paddlenlp/trl/sftdata_config.py
  paddlenlp/trl/trl_utils.py
  paddlenlp/utils/batch_sampler.py
  paddlenlp/utils/initializer.py
  slm/examples/information_extraction/DuEE/classifier.py
  slm/examples/information_extraction/DuEE/sequence_labeling.py
  slm/examples/lexical_analysis/deploy/predict.py
  slm/examples/lexical_analysis/eval.py
  slm/examples/lexical_analysis/predict.py
  slm/examples/lexical_analysis/train.py
  slm/examples/text_correction/ernie-csc/predict.py
  slm/model_zoo/ernie-3.0/README.md
  slm/model_zoo/gpt-3/ppfleetx/data/sampler/batch_sampler.py
  tests/test_tipc/bigru_crf/deploy/predict.py
  tests/test_tipc/bigru_crf/train.py
  tests/test_tipc/transformer/modeling.py
  tests/trainer/test_unified_checkpoint.py
  tests/transformer/modeling.py
Due: copyright_checker, add-spaces-between-chinese-and-english

support MOE EP Parallel 1. Changed from nranks to tp_degree
  paddlenlp/experimental/transformers/bloom/modeling.py
  paddlenlp/experimental/transformers/chatglm/modeling.py
  paddlenlp/experimental/transformers/chatglm_v2/modeling.py
  paddlenlp/experimental/transformers/deepseek_v2/modeling.py
  paddlenlp/experimental/transformers/fused_transformer_layers.py
  paddlenlp/experimental/transformers/gpt/modeling.py
  paddlenlp/experimental/transformers/llama/modeling.py
  paddlenlp/experimental/transformers/mixtral/modeling.py
  paddlenlp/experimental/transformers/opt/modeling.py
  paddlenlp/experimental/transformers/qwen/modeling.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
  paddlenlp/experimental/transformers/qwen2_moe/modeling.py
Due: copyright_checker

Fix
  tests/transformers/albert/test_modeling.py
  tests/transformers/bart/test_modeling.py
  tests/transformers/bert/test_modeling.py
  tests/transformers/bloom/test_modeling.py
  tests/transformers/chatglm/test_modeling.py
  tests/transformers/deberta/test_modeling.py
  tests/transformers/deberta_v2/test_modeling.py
  tests/transformers/distilbert/test_modeling.py
  tests/transformers/electra/test_modeling.py
  tests/transformers/gpt/test_modeling.py
  tests/transformers/llama/test_modeling.py
  tests/transformers/mt5/test_modeling.py
  tests/transformers/opt/test_modeling.py
  tests/transformers/roberta/test_modeling.py
  tests/transformers/t5/test_modeling.py
  tests/transformers/test_generation_utils.py
  tests/transformers/xlm_roberta/test_modeling.py
Due: copyright_checker

Fix
  tests/transformers/llama/test_modeling.py
Due: copyright_checker

fix bug
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

update
  llm/config/deepseek-v3/pretrain_argument.json
Due: none

add record_stream for dispatch and combine output
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
  paddlenlp/transformers/moe_layer.py
Due: copyright_checker

fix bug
  paddlenlp/transformers/deepseek_v2/modeling_pp.py
Due: copyright_checker

update
  llm/config/deepseek-v3/pretrain_argument.json
  llm/run_pretrain.py
Due: copyright_checker

Add manual mixed-precision part
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
Due: copyright_checker

polish code
  slm/model_zoo/gpt-3/external_ops/token_dispatcher_utils/tokens_unzip_and_zip.cu
Due: copyright_checker

optmize grouped gemm
  ops/csrc/fp8/deep_gemm/jit_kernels/m_grouped_gemm.py
Due: copyright_checker

add use_fused_head_and_loss_fn
  paddlenlp/transformers/qwen2/configuration.py
Due: copyright_checker

fix
  ops/csrc/fp8/deep_gemm/jit_kernels/m_grouped_gemm.py
Due: copyright_checker

move compute_out_linear out
  paddlenlp/experimental/transformers/fused_transformer_layers.py
Due: copyright_checker

Revert some changes.
  paddlenlp/transformers/deepseek_v2/fp8_linear.py
  paddlenlp/transformers/fp8_utils.py
Due: copyright_checker

update
  paddlenlp/transformers/deepseek_v2/modeling.py
Due: copyright_checker

fix infer utils
  llm/alignment/ppo/infer_utils.py
Due: copyright_checker

Update tests.yml
  .github/workflows/tests.yml
Due: none

Adding fused_act_dequant kernel.
  slm/model_zoo/gpt-3/external_ops/fused_quanted_ops/fused_act_dequant.cu
  slm/model_zoo/gpt-3/external_ops/setup.py
  tests/ops/test_act_dequant.py
  tests/ops/test_fused_act_dequant.py
  tests/ops/test_tokens_unzip.py
Due: copyright_checker
