Repository PaddlePaddle/PaddleNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, add-spaces-between-chinese-and-english

copyright_checker:
  name: copyright_checker
  entry: python .copyright.hook
  language: system

add-spaces-between-chinese-and-english:
  name: Add spaces between Chinese and English characters
  entry: python scripts/codestyle/check_spaces.py
  language: python
  pass_filenames: true

[LLM] Add tensor parallel for chatglmv2 (#9014)
  paddlenlp/experimental/transformers/chatglm_v2/modeling.py
  paddlenlp/transformers/chatglm_v2/modeling.py
Due: copyright_checker

fix jit_inference function
  paddlenlp/transformers/utils.py
Due: copyright_checker

remove callback while skip data
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_utils.py
Due: copyright_checker

fix baseline because of PR#8769
  tests/test_tipc/llm/test_predictor.py
Due: copyright_checker

update tool_helpers version and add unittest
  requirements.txt
  tests/data/test_blendable_dataset.py
Due: copyright_checker

[data] update tool_helpers version and add unittest (#9093)
  requirements.txt
  tests/data/test_blendable_dataset.py
Due: copyright_checker

update
  csrc/generate_code_dual_gemm_fused_kernels.py
  csrc/generate_code_gemm_fused_kernels.py
  csrc/gpu/test_fp8_dual_gemm.py
  csrc/gpu/test_fp8_gemm.py
Due: copyright_checker

Update pretrain_argument.json
  llm/config/llama/pretrain_argument.json
Due: none

Fix baseline because of PR#8769 (#9092)
  tests/test_tipc/llm/test_predictor.py
Due: copyright_checker

use independent avg/abs_max observer
  llm/config/llama/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/llama/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/w8a8_ptq_argument.json
  llm/config/llama/ceval/wfp8afp8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/w8a8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/w8a8_ptq_argument.json
  llm/config/qwen/ceval/wfp8afp8_ptq_argument.json
  llm/experimental/observer/abs_max.py
  llm/experimental/observer/avg.py
  llm/experimental/observer/uniform.py
  llm/utils/quant.py
Due: copyright_checker

rename fp8 quant_type
  llm/config/llama/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/llama/ceval/wfp8afp8_ptq_argument.json
  llm/config/llama/fp8_ptq_argument.json
  llm/config/qwen/AdvertiseGen/wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/wfp8afp8_ptq_argument.json
  llm/docs/quantization.md
  llm/utils/argument.py
  llm/utils/quant.py
Due: copyright_checker, add-spaces-between-chinese-and-english

update quantization.md
  llm/docs/quantization.md
Due: add-spaces-between-chinese-and-english

update
  csrc/generate_code_dual_gemm_fused_kernels.py
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_dual_gemm_geglu_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_dual_gemm_swiglu_template.h
Due: copyright_checker

remove ceval in run_finetune.py
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/llama/ceval_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/docs/quantization.md
  llm/run_finetune.py
  llm/utils/argument.py
Due: copyright_checker, add-spaces-between-chinese-and-english

fix use paddle.incubate.jit.inference(model) errors (#9016)
  paddlenlp/transformers/utils.py
Due: copyright_checker

remove ceval from run_finetune
  llm/config/llama/ceval/ceval_w8a8_ptq_argument.json
  llm/config/llama/ceval/cevel_wfp8afp8_ptq_argument.json
  llm/config/qwen/ceval/ceval_w8a8_ptq_argument.json
  llm/docs/quantization.md
  llm/run_finetune.py
  llm/utils/argument.py
Due: copyright_checker, add-spaces-between-chinese-and-english

[LLM] fix trainer on npu
  paddlenlp/trainer/trainer.py
Due: copyright_checker

update paddlepaddle
  Makefile
Due: none

[CI] Fix paddlepaddle install (#9102)
  Makefile
Due: none

[LLM] fix trainer on npu (#9101)
  paddlenlp/trainer/trainer.py
Due: copyright_checker

Unified CHeckpoint] speed up loading checkpoint by multi-thread
  paddlenlp/transformers/model_utils.py
Due: copyright_checker

add all
  Makefile
  scripts/distribute/ci_case_auto.sh
  scripts/distribute/ci_case_dy.sh
  scripts/distribute/run_ci.sh
  scripts/regression/ci_case.sh
  scripts/regression/run_ci.sh
  scripts/regression/run_refactor_training_loop.sh
  scripts/regression/run_release.sh
  scripts/unit_test/ci_unit.sh
  tests/benchmark/run_all.sh
  tests/benchmark/run_benchmark.sh
  tests/prepare.sh
  tests/run_all_test.sh
  tests/run_coverage.sh
  tests/test_model.sh
Due: copyright_checker

fp8 cutlass gemm tune
  csrc/README.md
  csrc/generate_code_gemm_fused_kernels.py
  csrc/gpu/cutlass_kernels/cutlass_helper.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fp8_fp8_dual_gemm_scale_bias_act.cu
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fp8_fp8_gemm_scale_bias_act.cu
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fp8_fp8_gemm_scale_bias_act.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_gemm_gelu_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_gemm_noact_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/fuse_gemm_relu_template.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/gemm_scale.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_gelu.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/gemm_scale_bias_relu.h
  csrc/gpu/cutlass_kernels/fp8_gemm_fused/gemm_scale_gelu.h
  csrc/gpu/fp8_gemm_with_cutlass/fp8_common.h
  csrc/gpu/fp8_gemm_with_cutlass/fp8_fp8_fp8_dual_gemm.cu
  csrc/gpu/fp8_gemm_with_cutlass/fp8_fp8_half_gemm.cu
  csrc/gpu/helper.h
  csrc/gpu/test_fp8_gemm.py
  csrc/gpu/test_fp8gemm.py
  csrc/setup_cuda.py
  csrc/tune_fp8_gemm.sh
Due: copyright_checker, add-spaces-between-chinese-and-english

[Bugfix] fix multi-gpu infer
  llm/predict/predictor.py
Due: copyright_checker

fix
  paddlenlp/trl/dpo_criterion.py
Due: copyright_checker

add
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

use_fake_parameter
  paddlenlp/experimental/model_utils.py
  paddlenlp/experimental/transformers/qwen2/modeling.py
Due: copyright_checker

git ignore third_party
  .gitignore
Due: none

[AutoParallel] Disable UT (#9108)
  scripts/distribute/ci_case_auto.sh
Due: copyright_checker

check csrc/readme.md
  csrc/README.md
Due: add-spaces-between-chinese-and-english

[LLM] fix trainer on npu (#9101) (#9111)
  paddlenlp/trainer/trainer.py
Due: copyright_checker

new
  paddlenlp/trl/dpo_criterion.py
  paddlenlp/trl/dpo_trainer.py
Due: copyright_checker

[LLM] add metrics dumper in background (#9049)
  paddlenlp/trainer/trainer.py
  paddlenlp/trainer/trainer_callback.py
  paddlenlp/trainer/training_args.py
  paddlenlp/utils/log.py
  requirements.txt
  tests/trainer/test_trainer_callback.py
Due: copyright_checker

[LLM] compat older paddlenlp for metrics dumper (#9072)
  paddlenlp/utils/log.py
  requirements.txt
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: legacy/model_zoo/gpt-3
  add-spaces-between-chinese-and-english: any of: \.(md|markdown)$, but not: legacy/model_zoo/gpt-3
